@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--settingswidth: 		960;
	--settingsheight: 		80;
	--settingsbackground: 		transparent;

	
	--settingswidth_v: 		calc(1px * var(--settingswidth_s, var(--settingswidth)));
	--settingsheight_v: 		calc(1vh * var(--settingsheight_s, var(--settingsheight)));
	--settingsbackground_v: 	var(--settingsbackground_s, var(--settingsbackground));
}

#app-mount .baseLayer__8fda3 {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
}
#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}
#app-mount .layer__2efaa.stop-animations:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

#app-mount .layer__2efaa ~ .layer__2efaa {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsbackground_v) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingswidth_v) !important;
	height: var(--settingsheight_v) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
	--settingsiconsadditionalsize: var(--use-settingsicons, 0) * (var(--settingsicons-size, 0px) + var(--settingsicons-gap, 0px));
}
#app-mount .layer__2efaa ~ .layer__2efaa > div,
#app-mount .layer__2efaa ~ .layer__2efaa .standardSidebarView__1129a {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .sidebarRegion__60457,
#app-mount .layer__2efaa ~ .layer__2efaa .sidebarRegionScroller__1fa7e {
	flex: 0 0 auto !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .sidebar__9e3e2 {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .contentColumnDefault_c66386 {
	padding: 20px 40px !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .wrapper__61220 {
	width: calc(var(--settingswidth_v) - 420px - var(--settingsiconsadditionalsize)) !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .repo_k8F4Sd {
	max-width: calc(var(--settingswidth_v) - 226px - var(--settingsiconsadditionalsize)) !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .repoHeader_2KfNvH {
	padding-bottom: 0 !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .repoHeader_2KfNvH .tabBar__35f81 {
	gap: 30px !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .repoHeader_2KfNvH .quickSelectLabel_cf5c1b {
	font-size: 12px !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .repoScroller_9JnAPs {
	padding-top: 0 !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .sidebar_bdf6b7 {
	height: var(--settingsheight_v) !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .standardSidebarView__1129a .editor {
	height: calc(var(--settingsheight_v) - 120px) !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d,
#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d .tools_c0ff70,
#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d .container_bb0c52,
#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d .closeButton__34341 {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .settingsToolbar_wu4yfQ {
	display: none !important;
}

#app-mount .layer__2efaa ~ .layer__2efaa .accountProfileCard__22589 {
	max-width: calc(var(--settingswidth_v) - 332px - var(--settingsiconsadditionalsize)) !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434 {
	gap: 30px !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434 .sectionsContainer_cce45e,
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434 .sectionsContainer_a37883,
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434 .editor_bca4e3,
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434 .preview__0c5fe {
	min-width: calc((var(--settingswidth_v) - 332px - var(--settingsiconsadditionalsize)) / 2) !important;
	max-width: calc((var(--settingswidth_v) - 332px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434.tryItOutLayout__6026d .sectionsContainer_cce45e,
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434.tryItOutLayout__6026d .sectionsContainer_a37883,
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434.tryItOutLayout__6026d .editor_bca4e3,
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434.tryItOutLayout__6026d .preview__0c5fe {
	min-width: calc((var(--settingswidth_v) - 344px - var(--settingsiconsadditionalsize)) / 2) !important;
	max-width: calc((var(--settingswidth_v) - 344px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434 .preview__0c5fe .userPopoutOuter_d739b2 {
	width: calc((var(--settingswidth_v) - 332px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .baseLayout_b00434.tryItOutLayout__6026d .preview__0c5fe .userPopoutOuter_d739b2 {
	width: calc((var(--settingswidth_v) - 332px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434 .preview__0c5fe .userPopoutOuter_d739b2,
#app-mount .layer__2efaa ~ .layer__2efaa .baseLayout_b00434.tryItOutLayout__6026d .preview__0c5fe .userPopoutOuter_d739b2 {
	min-width: unset !important;
	max-width: 340px !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .profileCustomizationSection__88eff .baseLayout_b00434 .preview__0c5fe .userPopoutInner_f545a3 {
	overflow: hidden !important;
}
#app-mount .layer__2efaa ~ .layer__2efaa .guildsSection__337a8 {
	max-width: calc(var(--settingswidth_v) - 332px - var(--settingsiconsadditionalsize)) !important;
}

#app-mount .root__6d24f {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsbackground_v) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingswidth_v) !important;
	height: var(--settingsheight_v) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .root__6d24f.enterDone_a21e0b {
	transform: unset !important;
}
#app-mount .root__6d24f .closeIconWrapper_e5c34c,
#app-mount .root__6d24f .closeIconWrapper_e5c34c .container_bb0c52,
#app-mount .root__6d24f .closeIconWrapper_e5c34c .closeButton__34341,
#app-mount .shop_b31ed2 .container_bb0c52,
#app-mount .shop_b31ed2 .closeButton__34341 {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	z-index: -1 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .root__6d24f .closeIconWrapper_e5c34c {
	top: 22px !important;
}
