@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--settingsmodalbackground: transparent;
	--settingsmodalwidth: 960px;
	--settingsmodalheight: 80vh;
}


#app-mount .baseLayer-W6S8cY {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
}
#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}
#app-mount .layer-86YKbF.stop-animations:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

#app-mount .layer-86YKbF ~ .layer-86YKbF {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
	--settingsiconsadditionalsize: var(--use-settingsicons, 0) * (var(--settingsicons-size, 0px) + var(--settingsicons-gap, 0px));
}
#app-mount .layer-86YKbF ~ .layer-86YKbF > div,
#app-mount .layer-86YKbF ~ .layer-86YKbF .standardSidebarView-E9Pc3j {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .sidebarRegion-1VBisG,
#app-mount .layer-86YKbF ~ .layer-86YKbF .sidebarRegionScroller-FXiQOh {
	flex: 0 0 auto !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-nqHbhN {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .contentColumnDefault-3eyv5o {
	padding: 20px 40px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .repo-k8F4Sd {
	max-width: calc(var(--settingsmodalwidth) - 226px - var(--settingsiconsadditionalsize)) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .repoHeader-2KfNvH {
	padding-bottom: 0 !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .repoHeader-2KfNvH .tabBar-2StdUa {
	gap: 30px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .repoHeader-2KfNvH .quickSelectLabel-ArUyd9 {
	font-size: 12px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .repoScroller-9JnAPs {
	padding-top: 0 !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-3K3Z4C {
	height: var(--settingsmodalheight) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .standardSidebarView-E9Pc3j .editor {
	height: calc(var(--settingsmodalheight) - 120px) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V,
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .tools-kIrEGr,
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .container-O54IuJ,
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V .closeButton-PCZcma {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .toolsContainer-25FL6V {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .settingsToolbar-wu4yfQ {
	display: none !important;
}

#app-mount .layer-86YKbF ~ .layer-86YKbF .accountProfileCard-lbN7n- {
	max-width: calc(var(--settingsmodalwidth) - 332px - var(--settingsiconsadditionalsize)) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm {
	gap: 30px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm .sectionsContainer-3BlPu4,
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm .editor-328F1U,
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm .preview-sMYs9f {
	min-width: calc((var(--settingsmodalwidth) - 332px - var(--settingsiconsadditionalsize)) / 2) !important;
	max-width: calc((var(--settingsmodalwidth) - 332px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm.tryItOutLayout-2ypO8Z .sectionsContainer-3BlPu4,
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm.tryItOutLayout-2ypO8Z .editor-328F1U,
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm.tryItOutLayout-2ypO8Z .preview-sMYs9f {
	min-width: calc((var(--settingsmodalwidth) - 344px - var(--settingsiconsadditionalsize)) / 2) !important;
	max-width: calc((var(--settingsmodalwidth) - 344px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm .preview-sMYs9f .userPopoutOuter-1OHwPL {
	width: calc((var(--settingsmodalwidth) - 332px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .baseLayout-1_9QRm.tryItOutLayout-2ypO8Z .preview-sMYs9f .userPopoutOuter-1OHwPL {
	width: calc((var(--settingsmodalwidth) - 332px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm .preview-sMYs9f .userPopoutOuter-1OHwPL,
#app-mount .layer-86YKbF ~ .layer-86YKbF .baseLayout-1_9QRm.tryItOutLayout-2ypO8Z .preview-sMYs9f .userPopoutOuter-1OHwPL {
	min-width: unset !important;
	max-width: 340px !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm .preview-sMYs9f .userPopoutInner-nv9Y92 {
	overflow: hidden !important;
}
#app-mount .layer-86YKbF ~ .layer-86YKbF .settingsContainer-36qZZ9,
#app-mount .layer-86YKbF ~ .layer-86YKbF .guildsSection-30CJxX {
	max-width: calc(var(--settingsmodalwidth) - 332px - var(--settingsiconsadditionalsize)) !important;
}

#app-mount .root-2zfUH6 {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .root-2zfUH6.enterDone-menWZ8 {
	transform: unset !important;
}
#app-mount .perksModal-CLcR1c {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
}
#app-mount .perksModal-CLcR1c::before {
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
}
#app-mount .perksModalContentWrapper-3RHugb {
	padding: 10px 0 10px !important;
}
#app-mount .root-2zfUH6 .perksModal-CLcR1c .carousel-3dvee9 {
	margin-left: calc(-0.5 * (100vw - var(--settingsmodalwidth))) !important;
}
#app-mount .root-2zfUH6 .closeIconWrapper-1W_w1-,
#app-mount .root-2zfUH6 .closeIconWrapper-1W_w1- .container-O54IuJ,
#app-mount .root-2zfUH6 .closeIconWrapper-1W_w1- .closeButton-PCZcma {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .root-2zfUH6 .closeIconWrapper-1W_w1- {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}