@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--settingswidth: 		960;
	--settingsheight: 		80;
	--settingsbackground: 		transparent;

	
	--settingswidth_v: 		min(calc(1px * var(--settingswidth_s, var(--settingswidth))), 99vw);
	--settingsheight_v: 		min(calc(1vh * var(--settingsheight_s, var(--settingsheight))), 99vh);
	--settingsbackground_v: 	var(--settingsbackground_s, var(--settingsbackground));
}

#app-mount ._960e4207cea8323e-baseLayer {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
	visibility: unset !important;
}
#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}
#app-mount ._960e4207cea8323e-layer.stop-animations:first-child::after,
#app-mount .BA__layerContainer .BA__layer--hidden:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer,
#app-mount .BA__layerContainer ~ .BA__layerContainer {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsbackground_v) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingswidth_v) !important;
	height: var(--settingsheight_v) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
	--settingsiconsadditionalsize: var(--use-settingsicons, 0) * (var(--settingsicons-size, 0px) + var(--settingsicons-gap, 0px));
}
#app-mount .BA__layerContainer ~ .BA__layerContainer > ._960e4207cea8323e-layer {
	position: unset !important;
	padding: unset !important;
	overflow: unset !important;
	contain: unset !important;
	height: 100% !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer > div,
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-standardSidebarView,
#app-mount .BA__layerContainer ~ .BA__layerContainer > ._960e4207cea8323e-layer > div,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-standardSidebarView {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-sidebarRegion,
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-sidebarRegionScroller,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-sidebarRegion,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-sidebarRegionScroller {
	flex: 0 0 auto !important;
	margin-top: 0 !important;
	z-index: 3 !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-sidebar,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-sidebar {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-contentColumnDefault,
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-contentColumnWide,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-contentColumnDefault,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-contentColumnWide {
	padding: 20px 40px !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-contentRegionScroller,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-contentRegionScroller {
	margin-top: 0 !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer .e29cd7b93c4f1266-sidebar,
#app-mount .BA__layerContainer ~ .BA__layerContainer .e29cd7b93c4f1266-sidebar {
	height: var(--settingsheight_v) !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-standardSidebarView .editor,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-standardSidebarView .editor {
	height: calc(var(--settingsheight_v) - 120px) !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-toolsContainer,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-toolsContainer {
	position: fixed !important;
	inset: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	z-index: -1 !important;
	padding-top: 0 !important;
	opacity: 0 !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-toolsContainer ._23e6b439306f125a-tools,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-toolsContainer ._23e6b439306f125a-tools {
	width: 100% !important;
	height: 100% !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-toolsContainer .c2b141c0f80863fb-closeButton,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-toolsContainer .c2b141c0f80863fb-closeButton {
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	cursor: default !important;
	flex: unset !important;
	transition: unset !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-toolsContainer .c2b141c0f80863fb-closeButton:hover,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-toolsContainer .c2b141c0f80863fb-closeButton:hover {
	transition: unset !important;
	background: unset !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._23e6b439306f125a-toolsContainer .c2b141c0f80863fb-closeButton > svg,
#app-mount .BA__layerContainer ~ .BA__layerContainer ._23e6b439306f125a-toolsContainer .c2b141c0f80863fb-closeButton > svg {
	display: none !important;
}
#app-mount > .a3002d7de5be5280-appAsidePanelWrapper > .a3002d7de5be5280-notAppAsidePanel ._23e6b439306f125a-contentRegion ._23e6b439306f125a-toolsContainer .c2b141c0f80863fb-container {
	height: 100% !important;
}
#app-mount > .a3002d7de5be5280-appAsidePanelWrapper > .a3002d7de5be5280-notAppAsidePanel ._23e6b439306f125a-contentRegion ._23e6b439306f125a-toolsContainer .c2b141c0f80863fb-keybind {
	display: none !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer .settingsToolbar_8227b0,
#app-mount .BA__layerContainer ~ .BA__layerContainer .settingsToolbar_8227b0 {
	display: none !important;
}
#app-mount ._960e4207cea8323e-layer ~ ._960e4207cea8323e-layer ._9293f6b2fc12398a-container._8067953d83f4b8a8-headerBar.
#app-mount .BA__layerContainer ~ .BA__layerContainer ._9293f6b2fc12398a-container._8067953d83f4b8a8-headerBar {
	position: static !important;
}

#app-mount ._5c9fcec194debbe7-root:not(:has(._33f0bbfef8a68d86-introAnimation)) {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsbackground_v) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingswidth_v) !important;
	height: var(--settingsheight_v) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount ._5c9fcec194debbe7-root._5c9fcec194debbe7-enterDone {
	transform: unset !important;
}
#app-mount ._5c9fcec194debbe7-root ._6fd0e42f91edfda6-closeIconWrapper,
#app-mount ._5c9fcec194debbe7-root ._6fd0e42f91edfda6-closeIconWrapper .c2b141c0f80863fb-container,
#app-mount ._5c9fcec194debbe7-root ._6fd0e42f91edfda6-closeIconWrapper .c2b141c0f80863fb-closeButton,
#app-mount ._960e4207cea8323e-layer > ._6db1d32c47b6ad72-shop .c2b141c0f80863fb-container,
#app-mount ._960e4207cea8323e-layer > ._6db1d32c47b6ad72-shop .c2b141c0f80863fb-closeButton {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	z-index: -1 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
	animation: unset !important;
	transition: unset !important;
}
#app-mount ._960e4207cea8323e-layer > ._6db1d32c47b6ad72-shop ._8067953d83f4b8a8-shopHomeLink,
#app-mount ._960e4207cea8323e-layer > ._6db1d32c47b6ad72-shop ._8067953d83f4b8a8-tabs,
#app-mount ._960e4207cea8323e-layer > ._6db1d32c47b6ad72-shop ._084152b107f71237-shopScroll {
	z-index: 2 !important;
}
#app-mount ._5c9fcec194debbe7-root ._6fd0e42f91edfda6-closeIconWrapper {
	top: 22px !important;
}