@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--settingswidth: 		960;
	--settingsheight: 		80;
	--settingsbackground: 		transparent;

	
	--settingswidth_v: 		min(calc(1px * var(--settingswidth_s, var(--settingswidth))), 99vw);
	--settingsheight_v: 		min(calc(1vh * var(--settingsheight_s, var(--settingsheight))), 99vh);
	--settingsbackground_v: 	var(--settingsbackground_s, var(--settingsbackground));
}

#app-mount .baseLayer_d4b6c5 {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
}
#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}
#app-mount .layer_d4b6c5.stop-animations:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsbackground_v) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingswidth_v) !important;
	height: var(--settingsheight_v) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
	--settingsiconsadditionalsize: var(--use-settingsicons, 0) * (var(--settingsicons-size, 0px) + var(--settingsicons-gap, 0px));
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 > div,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .standardSidebarView_c25c6d {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .sidebarRegion_c25c6d,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .sidebarRegionScroller_c25c6d {
	flex: 0 0 auto !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .sidebar_c25c6d {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .contentColumnDefault_c25c6d,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .contentColumnWide_c25c6d {
	padding: 20px 40px !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .wrapper_e5cdf3 {
	width: calc(var(--settingswidth_v) - 420px - var(--settingsiconsadditionalsize)) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .repo_k8F4Sd {
	max-width: calc(var(--settingswidth_v) - 226px - var(--settingsiconsadditionalsize)) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .repoHeader_2KfNvH {
	padding-bottom: 0 !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .repoHeader_2KfNvH .tabBar_b9fccc {
	gap: 30px !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .repoHeader_2KfNvH .quickSelectLabel__79774 {
	font-size: 12px !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .repoScroller_9JnAPs {
	padding-top: 0 !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .sidebar_e87574 {
	height: var(--settingsheight_v) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .standardSidebarView_c25c6d .editor {
	height: calc(var(--settingsheight_v) - 120px) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .toolsContainer_c25c6d .tools_c25c6d {
	width: 100% !important;
	height: 100% !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .toolsContainer_c25c6d .closeButton_df5532 {
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	cursor: default !important;
	flex: unset !important;
	transition: unset !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .toolsContainer_c25c6d .closeButton_df5532:hover {
	transition: unset !important;
	background: unset !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .toolsContainer_c25c6d .closeButton_df5532 > svg {
	display: none !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .toolsContainer_c25c6d {
	position: fixed !important;
	inset: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	z-index: -1 !important;
	padding-top: 0 !important;
}
#app-mount > .appAsidePanelWrapper_bd26cc > .notAppAsidePanel_bd26cc .contentRegion_c25c6d .toolsContainer_c25c6d .container_df5532 {
	height: 100% !important;
}
#app-mount > .appAsidePanelWrapper_bd26cc > .notAppAsidePanel_bd26cc .contentRegion_c25c6d .toolsContainer_c25c6d .keybind_df5532 {
	display: none !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .settingsToolbar_wu4yfQ {
	display: none !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .accountProfileCard_b69b77 {
	max-width: calc(var(--settingswidth_v) - 332px - var(--settingsiconsadditionalsize)) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983 {
	gap: 30px !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983 .sectionsContainer_e466c8,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983 .sectionsContainer_b45d91,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983 .editor_eb2d2c,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983 .preview_bad983 {
	min-width: calc((var(--settingswidth_v) - 352px - var(--settingsiconsadditionalsize)) / 2) !important;
	max-width: calc((var(--settingswidth_v) - 352px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983.tryItOutLayout_eb2d2c .sectionsContainer_e466c8,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983.tryItOutLayout_eb2d2c .sectionsContainer_b45d91,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983.tryItOutLayout_eb2d2c .editor_eb2d2c,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983.tryItOutLayout_eb2d2c .preview_bad983 {
	min-width: calc((var(--settingswidth_v) - 364px - var(--settingsiconsadditionalsize)) / 2) !important;
	max-width: calc((var(--settingswidth_v) - 364px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983 .preview_bad983 .userPopoutOuter_c69a7b {
	width: calc((var(--settingswidth_v) - 352px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .baseLayout_bad983.tryItOutLayout_eb2d2c .preview_bad983 .userPopoutOuter_c69a7b {
	width: calc((var(--settingswidth_v) - 352px - var(--settingsiconsadditionalsize)) / 2) !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983 .preview_bad983 .userPopoutOuter_c69a7b,
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .baseLayout_bad983.tryItOutLayout_eb2d2c .preview_bad983 .userPopoutOuter_c69a7b {
	min-width: unset !important;
	max-width: 340px !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .profileCustomizationSection_bad983 .baseLayout_bad983 .preview_bad983 .userPopoutInner_c69a7b {
	overflow: hidden !important;
}
#app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .guildsSection__337a8 {
	max-width: calc(var(--settingswidth_v) - 352px - var(--settingsiconsadditionalsize)) !important;
}

#app-mount .root_f906dd {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsbackground_v) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingswidth_v) !important;
	height: var(--settingsheight_v) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .root_f906dd.enterDone_f906dd {
	transform: unset !important;
}
#app-mount .root_f906dd .closeIconWrapper_a50853,
#app-mount .root_f906dd .closeIconWrapper_a50853 .container_df5532,
#app-mount .root_f906dd .closeIconWrapper_a50853 .closeButton_df5532,
#app-mount .shop_e77fa3 .container_df5532,
#app-mount .shop_e77fa3 .closeButton_df5532 {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	z-index: -1 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
	animation: unset !important;
	transition: unset !important;
}
#app-mount .root_f906dd .closeIconWrapper_a50853 {
	top: 22px !important;
}