@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--settingsmodalbackground: transparent;
	--settingsmodalwidth: 960px;
	--settingsmodalheight: 80vh;
}

#app-mount .baseLayer-35bLyl {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
}
#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}
#app-mount .layer-3QrUeG.stop-animations:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

#app-mount .layer-3QrUeG ~ .layer-3QrUeG {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .layer-3QrUeG ~ .layer-3QrUeG > div,
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .standardSidebarView-3F1I7i {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .sidebar-CFHs9e,
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .contentColumnDefault-1VQkGM {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .sidebar-dLM-kh {
	height: var(--settingsmodalheight) !important;
}
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .repoHeader-2KfNvH {
	max-width: calc(var(--settingsmodalwidth) - 256px) !important;;
}
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .standardSidebarView-3F1I7i .editor {
	height: calc(var(--settingsmodalheight) - 120px) !important;
}
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .toolsContainer-1edPuj,
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .toolsContainer-1edPuj .tools-3-3s-N,
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .toolsContainer-1edPuj .container-1sFeqf,
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .toolsContainer-1edPuj .closeButton-1tv5uR {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .toolsContainer-1edPuj {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .settingsToolbar-wu4yfQ {
	display: none !important;
}
#app-mount .layer-3QrUeG ~ .layer-3QrUeG .header-2RyJ0Y {
	max-width: calc(var(--settingsmodalwidth) - 730px) !important;
}

#app-mount .root-3R2ngo {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}
#app-mount .root-3R2ngo.enterDone-2zvtsK {
	transform: unset !important;
}
#app-mount .perksModal-fSYqOq {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
}
#app-mount .perksModal-fSYqOq::before {
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
}
#app-mount .perksModalContentWrapper-2HU6uL {
	padding: 10px 0 10px !important;
}
#app-mount .root-3R2ngo .perksModal-fSYqOq .carousel-6MSnEI {
	margin-left: calc(-0.5 * (100vw - var(--settingsmodalwidth))) !important;
}
#app-mount .root-3R2ngo .closeWrapper-9ScmSq,
#app-mount .root-3R2ngo .closeWrapper-9ScmSq .closeContent-I3JbQJ,
#app-mount .root-3R2ngo .closeWrapper-9ScmSq .container-1sFeqf,
#app-mount .root-3R2ngo .closeWrapper-9ScmSq .closeButton-1tv5uR {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}
#app-mount .root-3R2ngo .closeWrapper-9ScmSq {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}
