/* yellow 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/ed4ec792263b61d01fd3.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/yellow_80.png") !important;
}

/* light 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/f4390297a582e34b8284.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/light_80.png") !important;
}

/* light_medium 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/f09bcac9692c1fd5e30a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/light_medium_80.png") !important;
}

/* medium 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/14f2e28d6a38d6b6910a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/medium_80.png") !important;
}

/* dark_medium 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/6ecc96842a58c81ab7f0.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/dark_medium_80.png") !important;
}

/* dark 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/af91566c0347ee808b38.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/dark_80.png") !important;
}

/* emoji 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/ec1e5548cff444b412ff.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/emoji_80.png") !important;
}

/* yellow 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/f635361f4b5fd800e607.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/76b66f04d404c3120a70.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/8ef10f8773903d88d9e2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/64178cf22204679b06a2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/bcde2038e753f42fc3c3.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/0c7da966cea29fba4790.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/23101e35c61b520c1471.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/emoji_96.png") !important;
}

/* picker  */
.sprite_d91a75 {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Facebook/picker.png") !important;
}