@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/JoyPixels/spritesheets.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/JoyPixels/people.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/JoyPixels/nature.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/JoyPixels/food.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/JoyPixels/activity.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/JoyPixels/travel.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/JoyPixels/objects.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/JoyPixels/symbols.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/JoyPixels/flags.css);
@namespace xlink 'http://www.w3.org/1999/xlink';
.sprite_d91a75 {
	-webkit-mask: none !important;
	background-color: transparent !important;
	background-position: var(--custom-emoji-sprite-bg-position) !important;
	background-size: var(--custom-emoji-sprite-bg-size) !important;
}
.spriteGreyscale_d91a75 {
	filter: grayscale(1) !important;
}