@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/OpenMoji/spritesheets.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/OpenMoji/people.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/OpenMoji/nature.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/OpenMoji/food.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/OpenMoji/activity.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/OpenMoji/travel.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/OpenMoji/objects.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/OpenMoji/symbols.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/OpenMoji/flags.css);
@namespace xlink 'http://www.w3.org/1999/xlink';
.sprite__294b3 {
	-webkit-mask: none !important;
	background-color: transparent !important;
	background-position: var(--custom-emoji-sprite-bg-position) !important;
	background-size: var(--custom-emoji-sprite-bg-size) !important;
}
.spriteGreyscale__750f4 {
	filter: grayscale(1) !important;
}