@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/WhatsApp/spritesheets.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/WhatsApp/people.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/WhatsApp/nature.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/WhatsApp/food.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/WhatsApp/activity.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/WhatsApp/travel.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/WhatsApp/objects.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/WhatsApp/symbols.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/WhatsApp/flags.css);
@namespace xlink 'http://www.w3.org/1999/xlink';
.sprite_d91a75 {
	-webkit-mask: none !important;
	background-color: transparent !important;
	background-position: var(--custom-emoji-sprite-bg-position) !important;
	background-size: var(--custom-emoji-sprite-bg-size) !important;
}
.spriteGreyscale_af14ca {
	filter: grayscale(1) !important;
}