/* green_apple */
[src='/assets/a77e46deee7127d2b85e271f0d5b738a.svg'], [style*='background-image: url(/assets/a77e46deee7127d2b85e271f0d5b738a.svg)'], [style*='background-image: url("/assets/a77e46deee7127d2b85e271f0d5b738a.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/green_apple.png") !important;
}

/* apple */
[src='/assets/d963d0ebb1bc7743dc37568e3b7c5cfb.svg'], [style*='background-image: url(/assets/d963d0ebb1bc7743dc37568e3b7c5cfb.svg)'], [style*='background-image: url("/assets/d963d0ebb1bc7743dc37568e3b7c5cfb.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/apple.png") !important;
}

/* pear */
[src='/assets/f5f860bd5863b0e6dc82effa2ef64b6d.svg'], [style*='background-image: url(/assets/f5f860bd5863b0e6dc82effa2ef64b6d.svg)'], [style*='background-image: url("/assets/f5f860bd5863b0e6dc82effa2ef64b6d.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/pear.png") !important;
}

/* tangerine */
[src='/assets/b6a8ecf7ee81bc5f198efaae7756c41f.svg'], [style*='background-image: url(/assets/b6a8ecf7ee81bc5f198efaae7756c41f.svg)'], [style*='background-image: url("/assets/b6a8ecf7ee81bc5f198efaae7756c41f.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/tangerine.png") !important;
}

/* lemon */
[src='/assets/5aa65ce7d8af354c6840c01006f26ef7.svg'], [style*='background-image: url(/assets/5aa65ce7d8af354c6840c01006f26ef7.svg)'], [style*='background-image: url("/assets/5aa65ce7d8af354c6840c01006f26ef7.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/lemon.png") !important;
}

/* banana */
[src='/assets/7afa8b718dc3a9439560566d912b5f2c.svg'], [style*='background-image: url(/assets/7afa8b718dc3a9439560566d912b5f2c.svg)'], [style*='background-image: url("/assets/7afa8b718dc3a9439560566d912b5f2c.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/banana.png") !important;
}

/* watermelon */
[src='/assets/8b9d5f124020931b4de093c25506f5aa.svg'], [style*='background-image: url(/assets/8b9d5f124020931b4de093c25506f5aa.svg)'], [style*='background-image: url("/assets/8b9d5f124020931b4de093c25506f5aa.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/watermelon.png") !important;
}

/* grapes */
[src='/assets/40e0130a4411323cdbed71b01ee0268e.svg'], [style*='background-image: url(/assets/40e0130a4411323cdbed71b01ee0268e.svg)'], [style*='background-image: url("/assets/40e0130a4411323cdbed71b01ee0268e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/grapes.png") !important;
}

/* strawberry */
[src='/assets/ee4d204778150f625d480712d693acf4.svg'], [style*='background-image: url(/assets/ee4d204778150f625d480712d693acf4.svg)'], [style*='background-image: url("/assets/ee4d204778150f625d480712d693acf4.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/strawberry.png") !important;
}

/* melon */
[src='/assets/3811d4c3223612227a941920960daa30.svg'], [style*='background-image: url(/assets/3811d4c3223612227a941920960daa30.svg)'], [style*='background-image: url("/assets/3811d4c3223612227a941920960daa30.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/melon.png") !important;
}

/* cherries */
[src='/assets/bcf31add4e99af68aefc1ad8c68bd8f5.svg'], [style*='background-image: url(/assets/bcf31add4e99af68aefc1ad8c68bd8f5.svg)'], [style*='background-image: url("/assets/bcf31add4e99af68aefc1ad8c68bd8f5.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cherries.png") !important;
}

/* peach */
[src='/assets/1799c138d1fe59c90b621531822b0be2.svg'], [style*='background-image: url(/assets/1799c138d1fe59c90b621531822b0be2.svg)'], [style*='background-image: url("/assets/1799c138d1fe59c90b621531822b0be2.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/peach.png") !important;
}

/* mango */
[src='/assets/79957f681e99624173f17b2ba0e81627.svg'], [style*='background-image: url(/assets/79957f681e99624173f17b2ba0e81627.svg)'], [style*='background-image: url("/assets/79957f681e99624173f17b2ba0e81627.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/mango.png") !important;
}

/* pineapple */
[src='/assets/260afedd0836f7e9f87512040ec16f57.svg'], [style*='background-image: url(/assets/260afedd0836f7e9f87512040ec16f57.svg)'], [style*='background-image: url("/assets/260afedd0836f7e9f87512040ec16f57.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/pineapple.png") !important;
}

/* coconut */
[src='/assets/fb44324f4075e90f296ea8a798af1703.svg'], [style*='background-image: url(/assets/fb44324f4075e90f296ea8a798af1703.svg)'], [style*='background-image: url("/assets/fb44324f4075e90f296ea8a798af1703.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/coconut.png") !important;
}

/* kiwi */
[src='/assets/17ef302e76de9a5905f978a06c52ddf4.svg'], [style*='background-image: url(/assets/17ef302e76de9a5905f978a06c52ddf4.svg)'], [style*='background-image: url("/assets/17ef302e76de9a5905f978a06c52ddf4.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/kiwi.png") !important;
}

/* tomato */
[src='/assets/0217e68f2c1b88c35f227040cc035672.svg'], [style*='background-image: url(/assets/0217e68f2c1b88c35f227040cc035672.svg)'], [style*='background-image: url("/assets/0217e68f2c1b88c35f227040cc035672.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/tomato.png") !important;
}

/* eggplant */
[src='/assets/f92a9f8821057c551982b659b268ed8e.svg'], [style*='background-image: url(/assets/f92a9f8821057c551982b659b268ed8e.svg)'], [style*='background-image: url("/assets/f92a9f8821057c551982b659b268ed8e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/eggplant.png") !important;
}

/* avocado */
[src='/assets/e4b6d2720cd87cfdffe875ecc469f710.svg'], [style*='background-image: url(/assets/e4b6d2720cd87cfdffe875ecc469f710.svg)'], [style*='background-image: url("/assets/e4b6d2720cd87cfdffe875ecc469f710.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/avocado.png") !important;
}

/* broccoli */
[src='/assets/1de9216486dce86e581aa64cbe4b7f4e.svg'], [style*='background-image: url(/assets/1de9216486dce86e581aa64cbe4b7f4e.svg)'], [style*='background-image: url("/assets/1de9216486dce86e581aa64cbe4b7f4e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/broccoli.png") !important;
}

/* leafy_green */
[src='/assets/816f010a6094fe98836610d2f080a5fb.svg'], [style*='background-image: url(/assets/816f010a6094fe98836610d2f080a5fb.svg)'], [style*='background-image: url("/assets/816f010a6094fe98836610d2f080a5fb.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/leafy_green.png") !important;
}

/* cucumber */
[src='/assets/6fdc6338e892d53430b283f7136c5cb3.svg'], [style*='background-image: url(/assets/6fdc6338e892d53430b283f7136c5cb3.svg)'], [style*='background-image: url("/assets/6fdc6338e892d53430b283f7136c5cb3.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cucumber.png") !important;
}

/* hot_pepper */
[src='/assets/52d1136b13f76fc2d27ee5a22124dcef.svg'], [style*='background-image: url(/assets/52d1136b13f76fc2d27ee5a22124dcef.svg)'], [style*='background-image: url("/assets/52d1136b13f76fc2d27ee5a22124dcef.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/hot_pepper.png") !important;
}

/* corn */
[src='/assets/e64de7aced945c2e198bb5731e94ac6d.svg'], [style*='background-image: url(/assets/e64de7aced945c2e198bb5731e94ac6d.svg)'], [style*='background-image: url("/assets/e64de7aced945c2e198bb5731e94ac6d.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/corn.png") !important;
}

/* carrot */
[src='/assets/505b14bf36ec47cdbe22258a9419471e.svg'], [style*='background-image: url(/assets/505b14bf36ec47cdbe22258a9419471e.svg)'], [style*='background-image: url("/assets/505b14bf36ec47cdbe22258a9419471e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/carrot.png") !important;
}

/* onion */
[src='/assets/dbb5e0a5ac7fcd8f801730e2e3498977.svg'], [style*='background-image: url(/assets/dbb5e0a5ac7fcd8f801730e2e3498977.svg)'], [style*='background-image: url("/assets/dbb5e0a5ac7fcd8f801730e2e3498977.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/onion.png") !important;
}

/* garlic */
[src='/assets/e04954175e9c3f3b895c0366ca4363e8.svg'], [style*='background-image: url(/assets/e04954175e9c3f3b895c0366ca4363e8.svg)'], [style*='background-image: url("/assets/e04954175e9c3f3b895c0366ca4363e8.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/garlic.png") !important;
}

/* potato */
[src='/assets/18ab2177ee2cf01e2855d916c24b568d.svg'], [style*='background-image: url(/assets/18ab2177ee2cf01e2855d916c24b568d.svg)'], [style*='background-image: url("/assets/18ab2177ee2cf01e2855d916c24b568d.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/potato.png") !important;
}

/* sweet_potato */
[src='/assets/23ce7360b90fa15ff7502a4efa6e3bcd.svg'], [style*='background-image: url(/assets/23ce7360b90fa15ff7502a4efa6e3bcd.svg)'], [style*='background-image: url("/assets/23ce7360b90fa15ff7502a4efa6e3bcd.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/sweet_potato.png") !important;
}

/* croissant */
[src='/assets/90fd02b490e78c1d109f8a6c2258e603.svg'], [style*='background-image: url(/assets/90fd02b490e78c1d109f8a6c2258e603.svg)'], [style*='background-image: url("/assets/90fd02b490e78c1d109f8a6c2258e603.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/croissant.png") !important;
}

/* bagel */
[src='/assets/8e51177d22634fcb045f1cc5bd941a4c.svg'], [style*='background-image: url(/assets/8e51177d22634fcb045f1cc5bd941a4c.svg)'], [style*='background-image: url("/assets/8e51177d22634fcb045f1cc5bd941a4c.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/bagel.png") !important;
}

/* bread */
[src='/assets/b4145d2678321d6d3376f1c88604fd42.svg'], [style*='background-image: url(/assets/b4145d2678321d6d3376f1c88604fd42.svg)'], [style*='background-image: url("/assets/b4145d2678321d6d3376f1c88604fd42.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/bread.png") !important;
}

/* french_bread */
[src='/assets/6728f7445b5530e8a9a2223c48bdb922.svg'], [style*='background-image: url(/assets/6728f7445b5530e8a9a2223c48bdb922.svg)'], [style*='background-image: url("/assets/6728f7445b5530e8a9a2223c48bdb922.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/french_bread.png") !important;
}

/* pretzel */
[src='/assets/c08455e24d167e611d3ed56380212922.svg'], [style*='background-image: url(/assets/c08455e24d167e611d3ed56380212922.svg)'], [style*='background-image: url("/assets/c08455e24d167e611d3ed56380212922.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/pretzel.png") !important;
}

/* cheese */
[src='/assets/90e5e990b28206c9884cb6e73ac0adb0.svg'], [style*='background-image: url(/assets/90e5e990b28206c9884cb6e73ac0adb0.svg)'], [style*='background-image: url("/assets/90e5e990b28206c9884cb6e73ac0adb0.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cheese.png") !important;
}

/* egg */
[src='/assets/5ca0c0b0ad60ee4b580e7ed918426cdb.svg'], [style*='background-image: url(/assets/5ca0c0b0ad60ee4b580e7ed918426cdb.svg)'], [style*='background-image: url("/assets/5ca0c0b0ad60ee4b580e7ed918426cdb.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/egg.png") !important;
}

/* cooking */
[src='/assets/4c5368da6e23ddb039b77eb75136f27e.svg'], [style*='background-image: url(/assets/4c5368da6e23ddb039b77eb75136f27e.svg)'], [style*='background-image: url("/assets/4c5368da6e23ddb039b77eb75136f27e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cooking.png") !important;
}

/* pancakes */
[src='/assets/ddef78a94382b29b2d562a947f332211.svg'], [style*='background-image: url(/assets/ddef78a94382b29b2d562a947f332211.svg)'], [style*='background-image: url("/assets/ddef78a94382b29b2d562a947f332211.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/pancakes.png") !important;
}

/* waffle */
[src='/assets/e3585a83e0de8f33dc85d02bba5da810.svg'], [style*='background-image: url(/assets/e3585a83e0de8f33dc85d02bba5da810.svg)'], [style*='background-image: url("/assets/e3585a83e0de8f33dc85d02bba5da810.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/waffle.png") !important;
}

/* bacon */
[src='/assets/9a3fba507c934679b333d8d3cfee04a9.svg'], [style*='background-image: url(/assets/9a3fba507c934679b333d8d3cfee04a9.svg)'], [style*='background-image: url("/assets/9a3fba507c934679b333d8d3cfee04a9.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/bacon.png") !important;
}

/* cut_of_meat */
[src='/assets/d35629f6c4293ff75d35f0c96e287c92.svg'], [style*='background-image: url(/assets/d35629f6c4293ff75d35f0c96e287c92.svg)'], [style*='background-image: url("/assets/d35629f6c4293ff75d35f0c96e287c92.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cut_of_meat.png") !important;
}

/* poultry_leg */
[src='/assets/cb026612789e2a304448f7d84c6d1f61.svg'], [style*='background-image: url(/assets/cb026612789e2a304448f7d84c6d1f61.svg)'], [style*='background-image: url("/assets/cb026612789e2a304448f7d84c6d1f61.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/poultry_leg.png") !important;
}

/* meat_on_bone */
[src='/assets/f7ab12b60a61adab8654e0a9dc2e63af.svg'], [style*='background-image: url(/assets/f7ab12b60a61adab8654e0a9dc2e63af.svg)'], [style*='background-image: url("/assets/f7ab12b60a61adab8654e0a9dc2e63af.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/meat_on_bone.png") !important;
}

/* hotdog */
[src='/assets/557b8480fbd03c0405039ef45eb54ffe.svg'], [style*='background-image: url(/assets/557b8480fbd03c0405039ef45eb54ffe.svg)'], [style*='background-image: url("/assets/557b8480fbd03c0405039ef45eb54ffe.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/hotdog.png") !important;
}

/* hamburger */
[src='/assets/3a2a5ebb52c26a470f87b1eb42c0da92.svg'], [style*='background-image: url(/assets/3a2a5ebb52c26a470f87b1eb42c0da92.svg)'], [style*='background-image: url("/assets/3a2a5ebb52c26a470f87b1eb42c0da92.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/hamburger.png") !important;
}

/* fries */
[src='/assets/c38b71cfa643cbb5509817dbf90f7100.svg'], [style*='background-image: url(/assets/c38b71cfa643cbb5509817dbf90f7100.svg)'], [style*='background-image: url("/assets/c38b71cfa643cbb5509817dbf90f7100.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/fries.png") !important;
}

/* pizza */
[src='/assets/aa0f4c1498e8a6b14b1e3417b601b5aa.svg'], [style*='background-image: url(/assets/aa0f4c1498e8a6b14b1e3417b601b5aa.svg)'], [style*='background-image: url("/assets/aa0f4c1498e8a6b14b1e3417b601b5aa.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/pizza.png") !important;
}

/* sandwich */
[src='/assets/38fadb5ec7c550dd3c3a513f2135dadc.svg'], [style*='background-image: url(/assets/38fadb5ec7c550dd3c3a513f2135dadc.svg)'], [style*='background-image: url("/assets/38fadb5ec7c550dd3c3a513f2135dadc.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/sandwich.png") !important;
}

/* falafel */
[src='/assets/a94024f83beca602c5971b8ae6009f75.svg'], [style*='background-image: url(/assets/a94024f83beca602c5971b8ae6009f75.svg)'], [style*='background-image: url("/assets/a94024f83beca602c5971b8ae6009f75.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/falafel.png") !important;
}

/* stuffed_flatbread */
[src='/assets/ad56cc64bdb8fa62623c559900829a3a.svg'], [style*='background-image: url(/assets/ad56cc64bdb8fa62623c559900829a3a.svg)'], [style*='background-image: url("/assets/ad56cc64bdb8fa62623c559900829a3a.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/stuffed_flatbread.png") !important;
}

/* taco */
[src='/assets/2edf2d23ff03c3e4429ae709d5c3e6de.svg'], [style*='background-image: url(/assets/2edf2d23ff03c3e4429ae709d5c3e6de.svg)'], [style*='background-image: url("/assets/2edf2d23ff03c3e4429ae709d5c3e6de.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/taco.png") !important;
}

/* burrito */
[src='/assets/630c91022fd762ead4271d5668239025.svg'], [style*='background-image: url(/assets/630c91022fd762ead4271d5668239025.svg)'], [style*='background-image: url("/assets/630c91022fd762ead4271d5668239025.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/burrito.png") !important;
}

/* salad */
[src='/assets/9cf68b29157f98c83144580400b5d3ee.svg'], [style*='background-image: url(/assets/9cf68b29157f98c83144580400b5d3ee.svg)'], [style*='background-image: url("/assets/9cf68b29157f98c83144580400b5d3ee.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/salad.png") !important;
}

/* shallow_pan_of_food */
[src='/assets/7f1f04d2c3986363c03750206bf7d9d7.svg'], [style*='background-image: url(/assets/7f1f04d2c3986363c03750206bf7d9d7.svg)'], [style*='background-image: url("/assets/7f1f04d2c3986363c03750206bf7d9d7.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/shallow_pan_of_food.png") !important;
}

/* canned_food */
[src='/assets/2396da35337ea36298e29e868ea4407b.svg'], [style*='background-image: url(/assets/2396da35337ea36298e29e868ea4407b.svg)'], [style*='background-image: url("/assets/2396da35337ea36298e29e868ea4407b.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/canned_food.png") !important;
}

/* spaghetti */
[src='/assets/fea9f79514871312e3d97d243548bb69.svg'], [style*='background-image: url(/assets/fea9f79514871312e3d97d243548bb69.svg)'], [style*='background-image: url("/assets/fea9f79514871312e3d97d243548bb69.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/spaghetti.png") !important;
}

/* ramen */
[src='/assets/e60479de5773e230338b18f49e225c95.svg'], [style*='background-image: url(/assets/e60479de5773e230338b18f49e225c95.svg)'], [style*='background-image: url("/assets/e60479de5773e230338b18f49e225c95.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/ramen.png") !important;
}

/* stew */
[src='/assets/852c152018b85fee8747fc9b7fda029d.svg'], [style*='background-image: url(/assets/852c152018b85fee8747fc9b7fda029d.svg)'], [style*='background-image: url("/assets/852c152018b85fee8747fc9b7fda029d.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/stew.png") !important;
}

/* curry */
[src='/assets/d541826138980a5f4381317c342137f2.svg'], [style*='background-image: url(/assets/d541826138980a5f4381317c342137f2.svg)'], [style*='background-image: url("/assets/d541826138980a5f4381317c342137f2.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/curry.png") !important;
}

/* sushi */
[src='/assets/a3fdf36792c57acefbd11c5cf628a617.svg'], [style*='background-image: url(/assets/a3fdf36792c57acefbd11c5cf628a617.svg)'], [style*='background-image: url("/assets/a3fdf36792c57acefbd11c5cf628a617.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/sushi.png") !important;
}

/* bento */
[src='/assets/8f2b2dd111792f17b61b92f26df87d21.svg'], [style*='background-image: url(/assets/8f2b2dd111792f17b61b92f26df87d21.svg)'], [style*='background-image: url("/assets/8f2b2dd111792f17b61b92f26df87d21.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/bento.png") !important;
}

/* dumpling */
[src='/assets/41c805926fd5c0b120e7b58536473314.svg'], [style*='background-image: url(/assets/41c805926fd5c0b120e7b58536473314.svg)'], [style*='background-image: url("/assets/41c805926fd5c0b120e7b58536473314.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/dumpling.png") !important;
}

/* fried_shrimp */
[src='/assets/7c309737c9a3ccda2f7448ef0abe001f.svg'], [style*='background-image: url(/assets/7c309737c9a3ccda2f7448ef0abe001f.svg)'], [style*='background-image: url("/assets/7c309737c9a3ccda2f7448ef0abe001f.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/fried_shrimp.png") !important;
}

/* rice_ball */
[src='/assets/aa383d4f83ca500164ebe970318158de.svg'], [style*='background-image: url(/assets/aa383d4f83ca500164ebe970318158de.svg)'], [style*='background-image: url("/assets/aa383d4f83ca500164ebe970318158de.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/rice_ball.png") !important;
}

/* rice */
[src='/assets/edc4233ac27dd39edc6dcf270c3aa599.svg'], [style*='background-image: url(/assets/edc4233ac27dd39edc6dcf270c3aa599.svg)'], [style*='background-image: url("/assets/edc4233ac27dd39edc6dcf270c3aa599.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/rice.png") !important;
}

/* rice_cracker */
[src='/assets/600fbe12de9dd0653d9c6d60196a1e42.svg'], [style*='background-image: url(/assets/600fbe12de9dd0653d9c6d60196a1e42.svg)'], [style*='background-image: url("/assets/600fbe12de9dd0653d9c6d60196a1e42.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/rice_cracker.png") !important;
}

/* fish_cake */
[src='/assets/1e5535def77a31917694578e9e32f16e.svg'], [style*='background-image: url(/assets/1e5535def77a31917694578e9e32f16e.svg)'], [style*='background-image: url("/assets/1e5535def77a31917694578e9e32f16e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/fish_cake.png") !important;
}

/* fortune_cookie */
[src='/assets/98c3f380071921c6c56509b1ee924df9.svg'], [style*='background-image: url(/assets/98c3f380071921c6c56509b1ee924df9.svg)'], [style*='background-image: url("/assets/98c3f380071921c6c56509b1ee924df9.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/fortune_cookie.png") !important;
}

/* moon_cake */
[src='/assets/54c838326679dc943c43a70c3291814f.svg'], [style*='background-image: url(/assets/54c838326679dc943c43a70c3291814f.svg)'], [style*='background-image: url("/assets/54c838326679dc943c43a70c3291814f.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/moon_cake.png") !important;
}

/* oden */
[src='/assets/f39d880f51c2c1fdc68b43fa8ffe86b2.svg'], [style*='background-image: url(/assets/f39d880f51c2c1fdc68b43fa8ffe86b2.svg)'], [style*='background-image: url("/assets/f39d880f51c2c1fdc68b43fa8ffe86b2.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/oden.png") !important;
}

/* dango */
[src='/assets/e6bf45e664dc5e37cf7414ecba378138.svg'], [style*='background-image: url(/assets/e6bf45e664dc5e37cf7414ecba378138.svg)'], [style*='background-image: url("/assets/e6bf45e664dc5e37cf7414ecba378138.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/dango.png") !important;
}

/* shaved_ice */
[src='/assets/4d10c3bb48aaa22938d622f33368a74c.svg'], [style*='background-image: url(/assets/4d10c3bb48aaa22938d622f33368a74c.svg)'], [style*='background-image: url("/assets/4d10c3bb48aaa22938d622f33368a74c.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/shaved_ice.png") !important;
}

/* ice_cream */
[src='/assets/52bfdf64e0f7355d16780ff7187f9a1a.svg'], [style*='background-image: url(/assets/52bfdf64e0f7355d16780ff7187f9a1a.svg)'], [style*='background-image: url("/assets/52bfdf64e0f7355d16780ff7187f9a1a.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/ice_cream.png") !important;
}

/* icecream */
[src='/assets/6a0b77bb41b5c5011ead76848d12ef02.svg'], [style*='background-image: url(/assets/6a0b77bb41b5c5011ead76848d12ef02.svg)'], [style*='background-image: url("/assets/6a0b77bb41b5c5011ead76848d12ef02.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/icecream.png") !important;
}

/* pie */
[src='/assets/98956724fc3f86e605dcf272a05b4a1e.svg'], [style*='background-image: url(/assets/98956724fc3f86e605dcf272a05b4a1e.svg)'], [style*='background-image: url("/assets/98956724fc3f86e605dcf272a05b4a1e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/pie.png") !important;
}

/* cupcake */
[src='/assets/c352b227ece1465d8ae9a67076426898.svg'], [style*='background-image: url(/assets/c352b227ece1465d8ae9a67076426898.svg)'], [style*='background-image: url("/assets/c352b227ece1465d8ae9a67076426898.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cupcake.png") !important;
}

/* cake */
[src='/assets/3105a283924c31ad8edcf99e1406fce4.svg'], [style*='background-image: url(/assets/3105a283924c31ad8edcf99e1406fce4.svg)'], [style*='background-image: url("/assets/3105a283924c31ad8edcf99e1406fce4.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cake.png") !important;
}

/* birthday */
[src='/assets/496cd7d4bfc59cdf6cd8a3285b42b576.svg'], [style*='background-image: url(/assets/496cd7d4bfc59cdf6cd8a3285b42b576.svg)'], [style*='background-image: url("/assets/496cd7d4bfc59cdf6cd8a3285b42b576.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/birthday.png") !important;
}

/* custard */
[src='/assets/15975b815581fb2e18622a682ca2380a.svg'], [style*='background-image: url(/assets/15975b815581fb2e18622a682ca2380a.svg)'], [style*='background-image: url("/assets/15975b815581fb2e18622a682ca2380a.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/custard.png") !important;
}

/* lollipop */
[src='/assets/9acc7742efa057d93e09f6b68e6afd3a.svg'], [style*='background-image: url(/assets/9acc7742efa057d93e09f6b68e6afd3a.svg)'], [style*='background-image: url("/assets/9acc7742efa057d93e09f6b68e6afd3a.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/lollipop.png") !important;
}

/* candy */
[src='/assets/45c8f940aac4dab66e6e73181663a59e.svg'], [style*='background-image: url(/assets/45c8f940aac4dab66e6e73181663a59e.svg)'], [style*='background-image: url("/assets/45c8f940aac4dab66e6e73181663a59e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/candy.png") !important;
}

/* chocolate_bar */
[src='/assets/a7ea7115b408d7dfa2eb701ef0a3b67d.svg'], [style*='background-image: url(/assets/a7ea7115b408d7dfa2eb701ef0a3b67d.svg)'], [style*='background-image: url("/assets/a7ea7115b408d7dfa2eb701ef0a3b67d.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/chocolate_bar.png") !important;
}

/* popcorn */
[src='/assets/0973f9db9b3cd198463d3d8bdea44264.svg'], [style*='background-image: url(/assets/0973f9db9b3cd198463d3d8bdea44264.svg)'], [style*='background-image: url("/assets/0973f9db9b3cd198463d3d8bdea44264.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/popcorn.png") !important;
}

/* doughnut */
[src='/assets/b598f124b86f91d9daed202d64e29169.svg'], [style*='background-image: url(/assets/b598f124b86f91d9daed202d64e29169.svg)'], [style*='background-image: url("/assets/b598f124b86f91d9daed202d64e29169.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/doughnut.png") !important;
}

/* cookie */
[src='/assets/761d6cc07cc02fa87f9a6b06ed1e675b.svg'], [style*='background-image: url(/assets/761d6cc07cc02fa87f9a6b06ed1e675b.svg)'], [style*='background-image: url("/assets/761d6cc07cc02fa87f9a6b06ed1e675b.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cookie.png") !important;
}

/* chestnut */
[src='/assets/07e63adc84f2b773c10ee339a8fcbf8c.svg'], [style*='background-image: url(/assets/07e63adc84f2b773c10ee339a8fcbf8c.svg)'], [style*='background-image: url("/assets/07e63adc84f2b773c10ee339a8fcbf8c.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/chestnut.png") !important;
}

/* peanuts */
[src='/assets/ff9619d028f1535f85a4c759a64de267.svg'], [style*='background-image: url(/assets/ff9619d028f1535f85a4c759a64de267.svg)'], [style*='background-image: url("/assets/ff9619d028f1535f85a4c759a64de267.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/peanuts.png") !important;
}

/* honey_pot */
[src='/assets/fc0d70c18dc95a7f572f1b8d4fd99fc5.svg'], [style*='background-image: url(/assets/fc0d70c18dc95a7f572f1b8d4fd99fc5.svg)'], [style*='background-image: url("/assets/fc0d70c18dc95a7f572f1b8d4fd99fc5.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/honey_pot.png") !important;
}

/* butter */
[src='/assets/ba1058c9c4297e7358162853663b1cfd.svg'], [style*='background-image: url(/assets/ba1058c9c4297e7358162853663b1cfd.svg)'], [style*='background-image: url("/assets/ba1058c9c4297e7358162853663b1cfd.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/butter.png") !important;
}

/* milk */
[src='/assets/c7b9a045336a335d4b87fae6b75b73ce.svg'], [style*='background-image: url(/assets/c7b9a045336a335d4b87fae6b75b73ce.svg)'], [style*='background-image: url("/assets/c7b9a045336a335d4b87fae6b75b73ce.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/milk.png") !important;
}

/* baby_bottle */
[src='/assets/70de7399b20bad71f868ca5161d140d3.svg'], [style*='background-image: url(/assets/70de7399b20bad71f868ca5161d140d3.svg)'], [style*='background-image: url("/assets/70de7399b20bad71f868ca5161d140d3.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/baby_bottle.png") !important;
}

/* coffee */
[src='/assets/2e081ee00be98dbfc615fa5d5dc249b1.svg'], [style*='background-image: url(/assets/2e081ee00be98dbfc615fa5d5dc249b1.svg)'], [style*='background-image: url("/assets/2e081ee00be98dbfc615fa5d5dc249b1.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/coffee.png") !important;
}

/* tea */
[src='/assets/d51a9baef36313665fad17c1e2609023.svg'], [style*='background-image: url(/assets/d51a9baef36313665fad17c1e2609023.svg)'], [style*='background-image: url("/assets/d51a9baef36313665fad17c1e2609023.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/tea.png") !important;
}

/* mate */
[src='/assets/c307c164eaccc7381860988b70b38882.svg'], [style*='background-image: url(/assets/c307c164eaccc7381860988b70b38882.svg)'], [style*='background-image: url("/assets/c307c164eaccc7381860988b70b38882.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/mate.png") !important;
}

/* cup_with_straw */
[src='/assets/e93446908591e6087dcff8877dce3eb5.svg'], [style*='background-image: url(/assets/e93446908591e6087dcff8877dce3eb5.svg)'], [style*='background-image: url("/assets/e93446908591e6087dcff8877dce3eb5.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cup_with_straw.png") !important;
}

/* beverage_box */
[src='/assets/6bd52eef967d3df855102935a93c9a70.svg'], [style*='background-image: url(/assets/6bd52eef967d3df855102935a93c9a70.svg)'], [style*='background-image: url("/assets/6bd52eef967d3df855102935a93c9a70.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/beverage_box.png") !important;
}

/* ice_cube */
[src='/assets/fd6114328c436e5a111d326d05af3b9a.svg'], [style*='background-image: url(/assets/fd6114328c436e5a111d326d05af3b9a.svg)'], [style*='background-image: url("/assets/fd6114328c436e5a111d326d05af3b9a.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/ice_cube.png") !important;
}

/* sake */
[src='/assets/bbaf8d037b3f9be9c44f45dd8c6c0156.svg'], [style*='background-image: url(/assets/bbaf8d037b3f9be9c44f45dd8c6c0156.svg)'], [style*='background-image: url("/assets/bbaf8d037b3f9be9c44f45dd8c6c0156.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/sake.png") !important;
}

/* beer */
[src='/assets/b4e610191ce369a8bd475c23d6b4c40b.svg'], [style*='background-image: url(/assets/b4e610191ce369a8bd475c23d6b4c40b.svg)'], [style*='background-image: url("/assets/b4e610191ce369a8bd475c23d6b4c40b.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/beer.png") !important;
}

/* beers */
[src='/assets/5e2ea03aa4963cda5e91d395c2587e6b.svg'], [style*='background-image: url(/assets/5e2ea03aa4963cda5e91d395c2587e6b.svg)'], [style*='background-image: url("/assets/5e2ea03aa4963cda5e91d395c2587e6b.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/beers.png") !important;
}

/* champagne_glass */
[src='/assets/1046d6db48d3c45ffa745e73f85e230e.svg'], [style*='background-image: url(/assets/1046d6db48d3c45ffa745e73f85e230e.svg)'], [style*='background-image: url("/assets/1046d6db48d3c45ffa745e73f85e230e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/champagne_glass.png") !important;
}

/* wine_glass */
[src='/assets/c66576976bc07f835107667c7db2f3db.svg'], [style*='background-image: url(/assets/c66576976bc07f835107667c7db2f3db.svg)'], [style*='background-image: url("/assets/c66576976bc07f835107667c7db2f3db.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/wine_glass.png") !important;
}

/* tumbler_glass */
[src='/assets/05ed8fab4d9da4b1130ff7123988bad8.svg'], [style*='background-image: url(/assets/05ed8fab4d9da4b1130ff7123988bad8.svg)'], [style*='background-image: url("/assets/05ed8fab4d9da4b1130ff7123988bad8.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/tumbler_glass.png") !important;
}

/* cocktail */
[src='/assets/32b7c567bd420f7e43f13ff4140fcd04.svg'], [style*='background-image: url(/assets/32b7c567bd420f7e43f13ff4140fcd04.svg)'], [style*='background-image: url("/assets/32b7c567bd420f7e43f13ff4140fcd04.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/cocktail.png") !important;
}

/* tropical_drink */
[src='/assets/4e4a4ac66710b0aecf931cd72cd65d9e.svg'], [style*='background-image: url(/assets/4e4a4ac66710b0aecf931cd72cd65d9e.svg)'], [style*='background-image: url("/assets/4e4a4ac66710b0aecf931cd72cd65d9e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/tropical_drink.png") !important;
}

/* champagne */
[src='/assets/ae5e2a35c59da2f4e12c406f5efa86b9.svg'], [style*='background-image: url(/assets/ae5e2a35c59da2f4e12c406f5efa86b9.svg)'], [style*='background-image: url("/assets/ae5e2a35c59da2f4e12c406f5efa86b9.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/champagne.png") !important;
}

/* spoon */
[src='/assets/b8088efbebfa288bed766d40ac14e118.svg'], [style*='background-image: url(/assets/b8088efbebfa288bed766d40ac14e118.svg)'], [style*='background-image: url("/assets/b8088efbebfa288bed766d40ac14e118.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/spoon.png") !important;
}

/* fork_and_knife */
[src='/assets/753af848c32c8c27590c18f45292a12d.svg'], [style*='background-image: url(/assets/753af848c32c8c27590c18f45292a12d.svg)'], [style*='background-image: url("/assets/753af848c32c8c27590c18f45292a12d.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/fork_and_knife.png") !important;
}

/* fork_knife_plate */
[src='/assets/b9cff060443410369c93d78ed3b11408.svg'], [style*='background-image: url(/assets/b9cff060443410369c93d78ed3b11408.svg)'], [style*='background-image: url("/assets/b9cff060443410369c93d78ed3b11408.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/fork_knife_plate.png") !important;
}

/* bowl_with_spoon */
[src='/assets/232c25279b78c07d9f9dcf3b55dee3d6.svg'], [style*='background-image: url(/assets/232c25279b78c07d9f9dcf3b55dee3d6.svg)'], [style*='background-image: url("/assets/232c25279b78c07d9f9dcf3b55dee3d6.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/bowl_with_spoon.png") !important;
}

/* takeout_box */
[src='/assets/2613f4b9c6f9ae2f05e64c1ba3ad6c30.svg'], [style*='background-image: url(/assets/2613f4b9c6f9ae2f05e64c1ba3ad6c30.svg)'], [style*='background-image: url("/assets/2613f4b9c6f9ae2f05e64c1ba3ad6c30.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/takeout_box.png") !important;
}

/* chopsticks */
[src='/assets/3f6e1787ce79cf5aca97e45fc7680564.svg'], [style*='background-image: url(/assets/3f6e1787ce79cf5aca97e45fc7680564.svg)'], [style*='background-image: url("/assets/3f6e1787ce79cf5aca97e45fc7680564.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/chopsticks.png") !important;
}

/* salt */
[src='/assets/fd72e31198f8ff94f70c826290622af0.svg'], [style*='background-image: url(/assets/fd72e31198f8ff94f70c826290622af0.svg)'], [style*='background-image: url("/assets/fd72e31198f8ff94f70c826290622af0.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Google/food/salt.png") !important;
}