/* yellow 44px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/df854ca9a022bf3b5fe42ded8725e1bc.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/df854ca9a022bf3b5fe42ded8725e1bc.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/yellow_44.png") !important;
}

/* light 44px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/d5576612981f35a5efc4471a0d967b54.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/d5576612981f35a5efc4471a0d967b54.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_44.png") !important;
}

/* light_medium 44px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/84d40f6d9dfac3808e60b42e954579fa.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/84d40f6d9dfac3808e60b42e954579fa.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_medium_44.png") !important;
}

/* medium 44px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/7df570ef230fe1610e75daad5bc78cd9.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/7df570ef230fe1610e75daad5bc78cd9.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/medium_44.png") !important;
}

/* dark_medium 44px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/727ef9fe7ffc6bc1cf2f4d255ed2335c.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/727ef9fe7ffc6bc1cf2f4d255ed2335c.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_medium_44.png") !important;
}

/* dark 44px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/62645ad3c786ff787a0701b7269ecdc2.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/62645ad3c786ff787a0701b7269ecdc2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_44.png") !important;
}

/* emoji 44px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/afc96e77efee1190e1fbe3cc69f149f8.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/afc96e77efee1190e1fbe3cc69f149f8.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/emoji_44.png") !important;
}

/* yellow 64px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/b50bb95edd6677c357af09e05637044e.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/b50bb95edd6677c357af09e05637044e.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/yellow_64.png") !important;
}

/* light 64px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/11bd89e52a50259a326f92bee44875a6.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/11bd89e52a50259a326f92bee44875a6.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_64.png") !important;
}

/* light_medium 64px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/27f8d40f4206e6b60c7fe25ca2ddf64d.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/27f8d40f4206e6b60c7fe25ca2ddf64d.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_medium_64.png") !important;
}

/* medium 64px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/066b83548ad4fd185a7bddfe72ecaf12.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/066b83548ad4fd185a7bddfe72ecaf12.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/medium_64.png") !important;
}

/* dark_medium 64px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/2556853259e7d2e6be5d4e6614570eb9.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/2556853259e7d2e6be5d4e6614570eb9.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_medium_64.png") !important;
}

/* dark 64px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/cc49f819e7cf47510b4835e693379c96.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/cc49f819e7cf47510b4835e693379c96.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_64.png") !important;
}

/* emoji 64px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/7b423a7d402beedfecb0bb81f9704953.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/7b423a7d402beedfecb0bb81f9704953.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/emoji_64.png") !important;
}

/* yellow 96px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/ca0090bfe50be4522ff2192067c62a91.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/ca0090bfe50be4522ff2192067c62a91.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/yellow_96.png") !important;
}

/* light 96px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/dc2ad0e4ec76dfe25ca3c14e4d1cc233.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/dc2ad0e4ec76dfe25ca3c14e4d1cc233.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_96.png") !important;
}

/* light_medium 96px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/afbacf67467971d408fe9a04a7a76506.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/afbacf67467971d408fe9a04a7a76506.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_medium_96.png") !important;
}

/* medium 96px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/183fd4abc10321a112d202ae03064228.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/183fd4abc10321a112d202ae03064228.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/medium_96.png") !important;
}

/* dark_medium 96px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/f1848cf7bb413404a28542cb5bb3caae.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/f1848cf7bb413404a28542cb5bb3caae.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_medium_96.png") !important;
}

/* dark 96px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/96caae8ef14147f7d2b926c0ee604768.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/96caae8ef14147f7d2b926c0ee604768.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_96.png") !important;
}

/* emoji 96px */
.spriteItem-2AFL7r[style*='background-image: url("/assets/05a725e39e9158b587ff7b60c815d91d.png")'], .emojiItemImage-3ki-eV[style*='background-image: url("/assets/05a725e39e9158b587ff7b60c815d91d.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/emoji_96.png") !important;
}

/* picker 44px */
.sprite-2iCowe {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/picker_44.png") !important;
}