/* yellow 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/538ad15c5fb16d39c5df.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/yellow_80.png") !important;
}

/* light 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/385418f6231ca5d90c5f.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_80.png") !important;
}

/* light_medium 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/bec89a0691af4e7e5b83.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_medium_80.png") !important;
}

/* medium 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/713dd344d12382b0b425.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/medium_80.png") !important;
}

/* dark_medium 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/793a1d2fc527a4efad86.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_medium_80.png") !important;
}

/* dark 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/8bf4b5c721810600e063.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_80.png") !important;
}

/* emoji 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/f53cf7e11430ebe3813a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/emoji_80.png") !important;
}

/* yellow 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/41a889a5e9451ca2da4a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/8eee4566778be36b8065.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/6b23435cd3d0e2bf4889.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/689fdd9a663311d7e374.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/deee61e17f158230b53d.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/ae2e0fcd5273fd595baa.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/4674420ecf02499b7095.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/emoji_96.png") !important;
}

/* picker  */
.sprite_d91a75 {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/picker.png") !important;
}