/* yellow 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/28b51c7a7a5cf0f7690d36408f7646e1.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/yellow_64.png") !important;
}

/* light 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/b69c83cab6023848edc9bbcc336a2c20.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_64.png") !important;
}

/* light_medium 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/b80dd412b0ff44e03adbc7c3576c0069.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_medium_64.png") !important;
}

/* medium 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/cccf9c9b84c8f187a0661b1cedaa10b0.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/medium_64.png") !important;
}

/* dark_medium 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/001c14ae5cc33a5b753e98c36e835b60.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_medium_64.png") !important;
}

/* dark 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/b4f9a122a083fd298c089a6476bdb1dc.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_64.png") !important;
}

/* emoji 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/9ea87b934848cd1f5c4bc7f1fcdac803.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/emoji_64.png") !important;
}

/* yellow 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/8cadc8badb226d9b5da5efbb060c9331.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/da12bf7fb7f27251ea31f551461128da.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/14417b3f0dcdd9c94ab68e1ccedbc79f.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/513268e8df31f87c8fc4df907a2ac60f.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/5ebc560cfa0291df74f75ba447c0afec.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/27ace143e2b1e377b1e4a322d300a5c7.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/b20e789a3f12c621011079d59fd92e9d.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/emoji_96.png") !important;
}

/* picker 44px */
.sprite-2lxwfc {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Google/picker_44.png") !important;
}