/* yellow 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/28b51c7a7a5cf0f7690d36408f7646e1.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/c4686a94a4ee4c5c0aeda9045153f0c9.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/yellow_64.png") !important;
}

/* light 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/b69c83cab6023848edc9bbcc336a2c20.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/579f5ce386bbbddad535fa9bf0d4bf39.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/light_64.png") !important;
}

/* light_medium 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/b80dd412b0ff44e03adbc7c3576c0069.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/1deefefeaad122dd1dd84bd024c451fc.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/light_medium_64.png") !important;
}

/* medium 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/cccf9c9b84c8f187a0661b1cedaa10b0.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/44b5eda9b9b5a0bfa1167dace63813e8.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/medium_64.png") !important;
}

/* dark_medium 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/001c14ae5cc33a5b753e98c36e835b60.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/45ed5ddcdf32b6c2a0ac617127bb7581.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/dark_medium_64.png") !important;
}

/* dark 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/b4f9a122a083fd298c089a6476bdb1dc.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/1a3967245ff8e32ea26cf74e89b73118.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/dark_64.png") !important;
}

/* emoji 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/4c931151fd94ebc6aa6034427624b2ea.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/2071e22f8044e1f9e4f7c7afb7ac484a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/emoji_64.png") !important;
}

/* yellow 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/8cadc8badb226d9b5da5efbb060c9331.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/8cee84ad3c1f3a282f153aa05779ffaf.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/da12bf7fb7f27251ea31f551461128da.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/bb7395cd907aac2310addd989cf4fd78.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/14417b3f0dcdd9c94ab68e1ccedbc79f.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/60c41ac7eea349b437b9062613f2c0ea.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/513268e8df31f87c8fc4df907a2ac60f.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/a5292962f334b2774a701890c6e78c81.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/5ebc560cfa0291df74f75ba447c0afec.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/7d475637315d2d6dac884e0b82f46910.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/27ace143e2b1e377b1e4a322d300a5c7.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/4255b0189ad8573cf72c4bf3c4957309.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/059e1038a6af4a46d3664e70f5259c52.png")'],
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/73cf0d368fecec9b690532e8038e8193.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/emoji_96.png") !important;
}

/* picker 44px */
.sprite-2iCowe {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/picker_44.png") !important;
}