/* yellow 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/37eb22f84025b8da7cf3.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/yellow_80.png") !important;
}

/* light 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/f604cf803e1e00646996.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/light_80.png") !important;
}

/* light_medium 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/40c1dea8ba6f0b700257.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/light_medium_80.png") !important;
}

/* medium 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/019fc14388e342d609b4.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/medium_80.png") !important;
}

/* dark_medium 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/95f9cd5154a97e1613ad.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/dark_medium_80.png") !important;
}

/* dark 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/db7204e91f2f452edfe1.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/dark_80.png") !important;
}

/* emoji 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/ca08a028c938ce8c89a3.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/emoji_80.png") !important;
}

/* yellow 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/091aab7d0cda0c61857f.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/cf3be61139e97c82e26c.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/03880a879adc56b76e98.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/af0e36a2937fe663f2b1.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/ab953469c81ecbd106eb.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/07aa0c23e16ad384d0c9.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/475a19177a02fef89cd1.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/emoji_96.png") !important;
}

/* picker  */
.sprite__294b3 {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/OpenMoji/picker.png") !important;
}