:root { /* gray */
	--font:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User Settings: 1 = yes, 0 = no						*/
	
	--accentcolor: 				88,101,242;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#5865f2		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor: 				0,176,244;				/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor: 			250,166,26;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor: 			59,165,92;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#3ba55c		*/
	--warningcolor: 			250,166,26;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:  			237,66,69;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter: 			222,222,222;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright: 				185,185,185;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark: 				140,140,140;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker: 				115,115,115;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest: 				80,80,80;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
	
	--backgroundaccent: 		50,50,50;				/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#40444b		*/
	--backgroundprimary: 		30,30,30;				/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#36393f		*/
	--backgroundsecondary: 		20,20,20;				/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	15,15,15;				/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#292b2f		*/
	--backgroundtertiary: 		10,10,10;				/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#202225		*/
	--backgroundfloating: 		0,0,0;					/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#18191c		*/
}

:root { /* purple */
	--font:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User Settings: 1 = yes, 0 = no						*/
	
	--accentcolor: 				144,0,144;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#5865f2		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor: 				88,0,88;				/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor: 			255,0,255;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor: 			59,165,92;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#3ba55c		*/
	--warningcolor: 			250,166,26;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:  			237,66,69;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter: 			222,222,222;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright: 				185,185,185;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark: 				140,140,140;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker: 				115,115,115;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest: 				80,80,80;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
	
	--backgroundaccent: 		60,0,60;				/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#40444b		*/
	--backgroundprimary: 		45,0,45;				/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#36393f		*/
	--backgroundsecondary: 		35,0,35;				/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	30,0,30;				/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#292b2f		*/
	--backgroundtertiary: 		25,0,25;				/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#202225		*/
	--backgroundfloating: 		20,0,20;				/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#18191c		*/
}

:root { /* blue */
	--font:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User Settings: 1 = yes, 0 = no						*/
	
	--accentcolor: 				0,0,144;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#5865f2		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor: 				0,0,88;					/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor: 			0,0,255;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor: 			59,165,92;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#3ba55c		*/
	--warningcolor: 			250,166,26;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:  			237,66,69;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter: 			222,222,222;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright: 				185,185,185;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark: 				140,140,140;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker: 				115,115,115;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest: 				80,80,80;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
	
	--backgroundaccent: 		0,0,60;					/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#40444b		*/
	--backgroundprimary: 		0,0,45;					/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#36393f		*/
	--backgroundsecondary: 		0,0,35;					/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	0,0,30;					/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#292b2f		*/
	--backgroundtertiary: 		0,0,25;					/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#202225		*/
	--backgroundfloating: 		0,0,20;					/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#18191c		*/
}

:root { /* green */
	--font:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User Settings: 1 = yes, 0 = no						*/
	
	--accentcolor: 				0,144,0;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#5865f2		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor: 				0,88,0;					/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor: 			0,255,0;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor: 			59,165,92;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#3ba55c		*/
	--warningcolor: 			250,166,26;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:  			237,66,69;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter: 			222,222,222;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright: 				185,185,185;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark: 				140,140,140;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker: 				115,115,115;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest: 				80,80,80;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
	
	--backgroundaccent: 		0,60,0;					/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#40444b		*/
	--backgroundprimary: 		0,45,0;					/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#36393f		*/
	--backgroundsecondary: 		0,35,0;					/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	0,30,0;					/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#292b2f		*/
	--backgroundtertiary: 		0,25,0;					/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#202225		*/
	--backgroundfloating: 		0,20,0;					/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#18191c		*/
}

:root { /* yellow */
	--font:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User Settings: 1 = yes, 0 = no						*/
	
	--accentcolor: 				144,144,0;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#5865f2		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor: 				88,88,0;				/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor: 			255,255,0;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor: 			59,165,92;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#3ba55c		*/
	--warningcolor: 			250,166,26;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:  			237,66,69;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter: 			222,222,222;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright: 				185,185,185;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark: 				140,140,140;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker: 				115,115,115;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest: 				80,80,80;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
	
	--backgroundaccent: 		60,60,0;				/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#40444b		*/
	--backgroundprimary: 		45,45,0;				/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#36393f		*/
	--backgroundsecondary: 		35,35,0;				/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	30,30,0;				/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#292b2f		*/
	--backgroundtertiary: 		25,25,0;				/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#202225		*/
	--backgroundfloating: 		20,20,0;				/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#18191c		*/
}

:root { /* orange */
	--font:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User Settings: 1 = yes, 0 = no						*/
	
	--accentcolor: 				144,77,0;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#5865f2		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor: 				88,44,0;				/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor: 			255,125,0;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor: 			59,165,92;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#3ba55c		*/
	--warningcolor: 			250,166,26;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:  			237,66,69;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter: 			222,222,222;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright: 				185,185,185;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark: 				140,140,140;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker: 				115,115,115;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest: 				80,80,80;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
	
	--backgroundaccent: 		60,30,0;				/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#40444b		*/
	--backgroundprimary: 		45,22,0;				/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#36393f		*/
	--backgroundsecondary: 		35,17,0;				/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	30,15,0;				/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#292b2f		*/
	--backgroundtertiary: 		25,12,0;				/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#202225		*/
	--backgroundfloating: 		20,10,0;				/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#18191c		*/
}

:root { /* red */
	--font:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User Settings: 1 = yes, 0 = no						*/
	
	--accentcolor: 				144,0,0;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#5865f2		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor: 				88,0,0;					/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor: 			255,0,0;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor: 			59,165,92;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#3ba55c		*/
	--warningcolor: 			250,166,26;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:  			237,66,69;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter: 			222,222,222;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright: 				185,185,185;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark: 				140,140,140;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker: 				115,115,115;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest: 				80,80,80;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
	
	--backgroundaccent: 		60,0,0;					/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#40444b		*/
	--backgroundprimary: 		45,0,0;					/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#36393f		*/
	--backgroundsecondary: 		35,0,0;					/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	30,0,0;					/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#292b2f		*/
	--backgroundtertiary: 		25,0,0;					/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#202225		*/
	--backgroundfloating: 		20,0,0;					/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#18191c		*/
}