/* flag_white */
.diversityEmojiItemImage-2gPNoS[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.emoji-AAbs8r[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.emojiImage-1_XFkC[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .emojiImage-1_XFkC[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.image-3v3Wjg[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .image-3v3Wjg[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.icon-QGKz8T[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .icon-QGKz8T[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.emoji-236_Ij[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .emoji-236_Ij[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.emoji[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .emoji[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/flag_white.png") !important;
}

/* flag_black */
.diversityEmojiItemImage-2gPNoS[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.emoji-AAbs8r[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.emojiImage-1_XFkC[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .emojiImage-1_XFkC[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.image-3v3Wjg[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .image-3v3Wjg[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.icon-QGKz8T[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .icon-QGKz8T[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.emoji-236_Ij[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .emoji-236_Ij[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.emoji[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .emoji[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/flag_black.png") !important;
}

/* checkered_flag */
.diversityEmojiItemImage-2gPNoS[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.emoji-AAbs8r[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.emojiImage-1_XFkC[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .emojiImage-1_XFkC[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.image-3v3Wjg[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .image-3v3Wjg[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.icon-QGKz8T[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .icon-QGKz8T[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.emoji-236_Ij[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .emoji-236_Ij[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.emoji[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .emoji[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/checkered_flag.png") !important;
}

/* triangular_flag_on_post */
.diversityEmojiItemImage-2gPNoS[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.emoji-AAbs8r[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.emojiImage-1_XFkC[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .emojiImage-1_XFkC[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.image-3v3Wjg[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .image-3v3Wjg[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.icon-QGKz8T[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .icon-QGKz8T[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.emoji-236_Ij[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .emoji-236_Ij[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.emoji[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .emoji[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/triangular_flag_on_post.png") !important;
}

/* rainbow_flag */
.diversityEmojiItemImage-2gPNoS[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.emoji-AAbs8r[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.emojiImage-1_XFkC[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .emojiImage-1_XFkC[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.image-3v3Wjg[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .image-3v3Wjg[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.icon-QGKz8T[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .icon-QGKz8T[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.emoji-236_Ij[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .emoji-236_Ij[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.emoji[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .emoji[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/rainbow_flag.png") !important;
}

/* transgender_flag */
.diversityEmojiItemImage-2gPNoS[src='/assets/b4389a07796a128a9e86e28e7f6df386.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/b4389a07796a128a9e86e28e7f6df386.svg")'], 
.emoji-AAbs8r[src='/assets/b4389a07796a128a9e86e28e7f6df386.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/b4389a07796a128a9e86e28e7f6df386.svg")'], 
.emojiImage-1_XFkC[src='/assets/b4389a07796a128a9e86e28e7f6df386.svg'], .emojiImage-1_XFkC[style*='background-image: url("/assets/b4389a07796a128a9e86e28e7f6df386.svg")'], 
.image-3v3Wjg[src='/assets/b4389a07796a128a9e86e28e7f6df386.svg'], .image-3v3Wjg[style*='background-image: url("/assets/b4389a07796a128a9e86e28e7f6df386.svg")'], 
.icon-QGKz8T[src='/assets/b4389a07796a128a9e86e28e7f6df386.svg'], .icon-QGKz8T[style*='background-image: url("/assets/b4389a07796a128a9e86e28e7f6df386.svg")'], 
.emoji-236_Ij[src='/assets/b4389a07796a128a9e86e28e7f6df386.svg'], .emoji-236_Ij[style*='background-image: url("/assets/b4389a07796a128a9e86e28e7f6df386.svg")'], 
.emoji[src='/assets/b4389a07796a128a9e86e28e7f6df386.svg'], .emoji[style*='background-image: url("/assets/b4389a07796a128a9e86e28e7f6df386.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/transgender_flag.png") !important;
}

/* pirate_flag */
.diversityEmojiItemImage-2gPNoS[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.emoji-AAbs8r[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.emojiImage-1_XFkC[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .emojiImage-1_XFkC[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.image-3v3Wjg[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .image-3v3Wjg[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.icon-QGKz8T[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .icon-QGKz8T[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.emoji-236_Ij[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .emoji-236_Ij[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.emoji[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .emoji[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/pirate_flag.png") !important;
}

/* crossed_flags */
.diversityEmojiItemImage-2gPNoS[src='/assets/560f68782305d3736f6932663213aedf.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.emoji-AAbs8r[src='/assets/560f68782305d3736f6932663213aedf.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.emojiImage-1_XFkC[src='/assets/560f68782305d3736f6932663213aedf.svg'], .emojiImage-1_XFkC[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.image-3v3Wjg[src='/assets/560f68782305d3736f6932663213aedf.svg'], .image-3v3Wjg[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.icon-QGKz8T[src='/assets/560f68782305d3736f6932663213aedf.svg'], .icon-QGKz8T[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.emoji-236_Ij[src='/assets/560f68782305d3736f6932663213aedf.svg'], .emoji-236_Ij[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.emoji[src='/assets/560f68782305d3736f6932663213aedf.svg'], .emoji[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/crossed_flags.png") !important;
}