/* flag_white */
.diversityEmojiItemImage__644ce[src='/assets/124e477a02b01f505be0.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'], 
.image__43623[src='/assets/124e477a02b01f505be0.svg'], .image__43623[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'], 
.emoji__92b46[src='/assets/124e477a02b01f505be0.svg'], .emoji__92b46[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'], 
.emojiImage__5f111[src='/assets/124e477a02b01f505be0.svg'], .emojiImage__5f111[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'], 
.image__10784[src='/assets/124e477a02b01f505be0.svg'], .image__10784[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'], 
.icon_a88807[src='/assets/124e477a02b01f505be0.svg'], .icon_a88807[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'], 
.emoji__32c91[src='/assets/124e477a02b01f505be0.svg'], .emoji__32c91[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'], 
.emoji_b3e1d8[src='/assets/124e477a02b01f505be0.svg'], .emoji_b3e1d8[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'], 
.roleIcon__92480[src='/assets/124e477a02b01f505be0.svg'], .roleIcon__92480[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'], 
.emoji[src='/assets/124e477a02b01f505be0.svg'], .emoji[style*='background-image: url("/assets/124e477a02b01f505be0.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/flag_white.png") !important;
}

/* flag_black */
.diversityEmojiItemImage__644ce[src='/assets/69af37eaeba644411d6c.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'], 
.image__43623[src='/assets/69af37eaeba644411d6c.svg'], .image__43623[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'], 
.emoji__92b46[src='/assets/69af37eaeba644411d6c.svg'], .emoji__92b46[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'], 
.emojiImage__5f111[src='/assets/69af37eaeba644411d6c.svg'], .emojiImage__5f111[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'], 
.image__10784[src='/assets/69af37eaeba644411d6c.svg'], .image__10784[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'], 
.icon_a88807[src='/assets/69af37eaeba644411d6c.svg'], .icon_a88807[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'], 
.emoji__32c91[src='/assets/69af37eaeba644411d6c.svg'], .emoji__32c91[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'], 
.emoji_b3e1d8[src='/assets/69af37eaeba644411d6c.svg'], .emoji_b3e1d8[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'], 
.roleIcon__92480[src='/assets/69af37eaeba644411d6c.svg'], .roleIcon__92480[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'], 
.emoji[src='/assets/69af37eaeba644411d6c.svg'], .emoji[style*='background-image: url("/assets/69af37eaeba644411d6c.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/flag_black.png") !important;
}

/* pirate_flag */
.diversityEmojiItemImage__644ce[src='/assets/e494983229df85baf82f.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/e494983229df85baf82f.svg")'], 
.image__43623[src='/assets/e494983229df85baf82f.svg'], .image__43623[style*='background-image: url("/assets/e494983229df85baf82f.svg")'], 
.emoji__92b46[src='/assets/e494983229df85baf82f.svg'], .emoji__92b46[style*='background-image: url("/assets/e494983229df85baf82f.svg")'], 
.emojiImage__5f111[src='/assets/e494983229df85baf82f.svg'], .emojiImage__5f111[style*='background-image: url("/assets/e494983229df85baf82f.svg")'], 
.image__10784[src='/assets/e494983229df85baf82f.svg'], .image__10784[style*='background-image: url("/assets/e494983229df85baf82f.svg")'], 
.icon_a88807[src='/assets/e494983229df85baf82f.svg'], .icon_a88807[style*='background-image: url("/assets/e494983229df85baf82f.svg")'], 
.emoji__32c91[src='/assets/e494983229df85baf82f.svg'], .emoji__32c91[style*='background-image: url("/assets/e494983229df85baf82f.svg")'], 
.emoji_b3e1d8[src='/assets/e494983229df85baf82f.svg'], .emoji_b3e1d8[style*='background-image: url("/assets/e494983229df85baf82f.svg")'], 
.roleIcon__92480[src='/assets/e494983229df85baf82f.svg'], .roleIcon__92480[style*='background-image: url("/assets/e494983229df85baf82f.svg")'], 
.emoji[src='/assets/e494983229df85baf82f.svg'], .emoji[style*='background-image: url("/assets/e494983229df85baf82f.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/pirate_flag.png") !important;
}

/* checkered_flag */
.diversityEmojiItemImage__644ce[src='/assets/f0ade93492e6c144149f.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'], 
.image__43623[src='/assets/f0ade93492e6c144149f.svg'], .image__43623[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'], 
.emoji__92b46[src='/assets/f0ade93492e6c144149f.svg'], .emoji__92b46[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'], 
.emojiImage__5f111[src='/assets/f0ade93492e6c144149f.svg'], .emojiImage__5f111[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'], 
.image__10784[src='/assets/f0ade93492e6c144149f.svg'], .image__10784[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'], 
.icon_a88807[src='/assets/f0ade93492e6c144149f.svg'], .icon_a88807[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'], 
.emoji__32c91[src='/assets/f0ade93492e6c144149f.svg'], .emoji__32c91[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'], 
.emoji_b3e1d8[src='/assets/f0ade93492e6c144149f.svg'], .emoji_b3e1d8[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'], 
.roleIcon__92480[src='/assets/f0ade93492e6c144149f.svg'], .roleIcon__92480[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'], 
.emoji[src='/assets/f0ade93492e6c144149f.svg'], .emoji[style*='background-image: url("/assets/f0ade93492e6c144149f.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/checkered_flag.png") !important;
}

/* triangular_flag_on_post */
.diversityEmojiItemImage__644ce[src='/assets/037a328297df8535e2ee.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'], 
.image__43623[src='/assets/037a328297df8535e2ee.svg'], .image__43623[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'], 
.emoji__92b46[src='/assets/037a328297df8535e2ee.svg'], .emoji__92b46[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'], 
.emojiImage__5f111[src='/assets/037a328297df8535e2ee.svg'], .emojiImage__5f111[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'], 
.image__10784[src='/assets/037a328297df8535e2ee.svg'], .image__10784[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'], 
.icon_a88807[src='/assets/037a328297df8535e2ee.svg'], .icon_a88807[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'], 
.emoji__32c91[src='/assets/037a328297df8535e2ee.svg'], .emoji__32c91[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'], 
.emoji_b3e1d8[src='/assets/037a328297df8535e2ee.svg'], .emoji_b3e1d8[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'], 
.roleIcon__92480[src='/assets/037a328297df8535e2ee.svg'], .roleIcon__92480[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'], 
.emoji[src='/assets/037a328297df8535e2ee.svg'], .emoji[style*='background-image: url("/assets/037a328297df8535e2ee.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/triangular_flag_on_post.png") !important;
}

/* rainbow_flag */
.diversityEmojiItemImage__644ce[src='/assets/29c6014c4034ec61a866.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'], 
.image__43623[src='/assets/29c6014c4034ec61a866.svg'], .image__43623[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'], 
.emoji__92b46[src='/assets/29c6014c4034ec61a866.svg'], .emoji__92b46[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'], 
.emojiImage__5f111[src='/assets/29c6014c4034ec61a866.svg'], .emojiImage__5f111[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'], 
.image__10784[src='/assets/29c6014c4034ec61a866.svg'], .image__10784[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'], 
.icon_a88807[src='/assets/29c6014c4034ec61a866.svg'], .icon_a88807[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'], 
.emoji__32c91[src='/assets/29c6014c4034ec61a866.svg'], .emoji__32c91[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'], 
.emoji_b3e1d8[src='/assets/29c6014c4034ec61a866.svg'], .emoji_b3e1d8[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'], 
.roleIcon__92480[src='/assets/29c6014c4034ec61a866.svg'], .roleIcon__92480[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'], 
.emoji[src='/assets/29c6014c4034ec61a866.svg'], .emoji[style*='background-image: url("/assets/29c6014c4034ec61a866.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/rainbow_flag.png") !important;
}

/* transgender_flag */
.diversityEmojiItemImage__644ce[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'], 
.image__43623[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .image__43623[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'], 
.emoji__92b46[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .emoji__92b46[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'], 
.emojiImage__5f111[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .emojiImage__5f111[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'], 
.image__10784[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .image__10784[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'], 
.icon_a88807[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .icon_a88807[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'], 
.emoji__32c91[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .emoji__32c91[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'], 
.emoji_b3e1d8[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .emoji_b3e1d8[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'], 
.roleIcon__92480[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .roleIcon__92480[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'], 
.emoji[src='/assets/1ed0ec8857cfc91cbf3e.svg'], .emoji[style*='background-image: url("/assets/1ed0ec8857cfc91cbf3e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/transgender_flag.png") !important;
}

/* crossed_flags */
.diversityEmojiItemImage__644ce[src='/assets/cc4830db52c87df09465.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'], 
.image__43623[src='/assets/cc4830db52c87df09465.svg'], .image__43623[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'], 
.emoji__92b46[src='/assets/cc4830db52c87df09465.svg'], .emoji__92b46[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'], 
.emojiImage__5f111[src='/assets/cc4830db52c87df09465.svg'], .emojiImage__5f111[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'], 
.image__10784[src='/assets/cc4830db52c87df09465.svg'], .image__10784[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'], 
.icon_a88807[src='/assets/cc4830db52c87df09465.svg'], .icon_a88807[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'], 
.emoji__32c91[src='/assets/cc4830db52c87df09465.svg'], .emoji__32c91[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'], 
.emoji_b3e1d8[src='/assets/cc4830db52c87df09465.svg'], .emoji_b3e1d8[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'], 
.roleIcon__92480[src='/assets/cc4830db52c87df09465.svg'], .roleIcon__92480[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'], 
.emoji[src='/assets/cc4830db52c87df09465.svg'], .emoji[style*='background-image: url("/assets/cc4830db52c87df09465.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/crossed_flags.png") !important;
}