/* flag_white */
.diversityEmojiItemImage__4387d[src='/assets/f1fb2d7d2655cc0cbf94.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/f1fb2d7d2655cc0cbf94.svg")'], 
.image__7ab81[src='/assets/f1fb2d7d2655cc0cbf94.svg'], .image__7ab81[style*='background-image: url("/assets/f1fb2d7d2655cc0cbf94.svg")'], 
.emoji__92b46[src='/assets/f1fb2d7d2655cc0cbf94.svg'], .emoji__92b46[style*='background-image: url("/assets/f1fb2d7d2655cc0cbf94.svg")'], 
.emojiImage__152dd[src='/assets/f1fb2d7d2655cc0cbf94.svg'], .emojiImage__152dd[style*='background-image: url("/assets/f1fb2d7d2655cc0cbf94.svg")'], 
.image__6fed8[src='/assets/f1fb2d7d2655cc0cbf94.svg'], .image__6fed8[style*='background-image: url("/assets/f1fb2d7d2655cc0cbf94.svg")'], 
.icon_babf0a[src='/assets/f1fb2d7d2655cc0cbf94.svg'], .icon_babf0a[style*='background-image: url("/assets/f1fb2d7d2655cc0cbf94.svg")'], 
.emoji__32c91[src='/assets/f1fb2d7d2655cc0cbf94.svg'], .emoji__32c91[style*='background-image: url("/assets/f1fb2d7d2655cc0cbf94.svg")'], 
.roleIcon__59ca1[src='/assets/f1fb2d7d2655cc0cbf94.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/f1fb2d7d2655cc0cbf94.svg")'], 
.emoji[src='/assets/f1fb2d7d2655cc0cbf94.svg'], .emoji[style*='background-image: url("/assets/f1fb2d7d2655cc0cbf94.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/flag_white.png") !important;
}

/* flag_black */
.diversityEmojiItemImage__4387d[src='/assets/d0298fc0f398932dd963.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/d0298fc0f398932dd963.svg")'], 
.image__7ab81[src='/assets/d0298fc0f398932dd963.svg'], .image__7ab81[style*='background-image: url("/assets/d0298fc0f398932dd963.svg")'], 
.emoji__92b46[src='/assets/d0298fc0f398932dd963.svg'], .emoji__92b46[style*='background-image: url("/assets/d0298fc0f398932dd963.svg")'], 
.emojiImage__152dd[src='/assets/d0298fc0f398932dd963.svg'], .emojiImage__152dd[style*='background-image: url("/assets/d0298fc0f398932dd963.svg")'], 
.image__6fed8[src='/assets/d0298fc0f398932dd963.svg'], .image__6fed8[style*='background-image: url("/assets/d0298fc0f398932dd963.svg")'], 
.icon_babf0a[src='/assets/d0298fc0f398932dd963.svg'], .icon_babf0a[style*='background-image: url("/assets/d0298fc0f398932dd963.svg")'], 
.emoji__32c91[src='/assets/d0298fc0f398932dd963.svg'], .emoji__32c91[style*='background-image: url("/assets/d0298fc0f398932dd963.svg")'], 
.roleIcon__59ca1[src='/assets/d0298fc0f398932dd963.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/d0298fc0f398932dd963.svg")'], 
.emoji[src='/assets/d0298fc0f398932dd963.svg'], .emoji[style*='background-image: url("/assets/d0298fc0f398932dd963.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/flag_black.png") !important;
}

/* checkered_flag */
.diversityEmojiItemImage__4387d[src='/assets/1829933662ec61c0423b.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/1829933662ec61c0423b.svg")'], 
.image__7ab81[src='/assets/1829933662ec61c0423b.svg'], .image__7ab81[style*='background-image: url("/assets/1829933662ec61c0423b.svg")'], 
.emoji__92b46[src='/assets/1829933662ec61c0423b.svg'], .emoji__92b46[style*='background-image: url("/assets/1829933662ec61c0423b.svg")'], 
.emojiImage__152dd[src='/assets/1829933662ec61c0423b.svg'], .emojiImage__152dd[style*='background-image: url("/assets/1829933662ec61c0423b.svg")'], 
.image__6fed8[src='/assets/1829933662ec61c0423b.svg'], .image__6fed8[style*='background-image: url("/assets/1829933662ec61c0423b.svg")'], 
.icon_babf0a[src='/assets/1829933662ec61c0423b.svg'], .icon_babf0a[style*='background-image: url("/assets/1829933662ec61c0423b.svg")'], 
.emoji__32c91[src='/assets/1829933662ec61c0423b.svg'], .emoji__32c91[style*='background-image: url("/assets/1829933662ec61c0423b.svg")'], 
.roleIcon__59ca1[src='/assets/1829933662ec61c0423b.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/1829933662ec61c0423b.svg")'], 
.emoji[src='/assets/1829933662ec61c0423b.svg'], .emoji[style*='background-image: url("/assets/1829933662ec61c0423b.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/checkered_flag.png") !important;
}

/* triangular_flag_on_post */
.diversityEmojiItemImage__4387d[src='/assets/ec2042b53f1a4dff210a.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/ec2042b53f1a4dff210a.svg")'], 
.image__7ab81[src='/assets/ec2042b53f1a4dff210a.svg'], .image__7ab81[style*='background-image: url("/assets/ec2042b53f1a4dff210a.svg")'], 
.emoji__92b46[src='/assets/ec2042b53f1a4dff210a.svg'], .emoji__92b46[style*='background-image: url("/assets/ec2042b53f1a4dff210a.svg")'], 
.emojiImage__152dd[src='/assets/ec2042b53f1a4dff210a.svg'], .emojiImage__152dd[style*='background-image: url("/assets/ec2042b53f1a4dff210a.svg")'], 
.image__6fed8[src='/assets/ec2042b53f1a4dff210a.svg'], .image__6fed8[style*='background-image: url("/assets/ec2042b53f1a4dff210a.svg")'], 
.icon_babf0a[src='/assets/ec2042b53f1a4dff210a.svg'], .icon_babf0a[style*='background-image: url("/assets/ec2042b53f1a4dff210a.svg")'], 
.emoji__32c91[src='/assets/ec2042b53f1a4dff210a.svg'], .emoji__32c91[style*='background-image: url("/assets/ec2042b53f1a4dff210a.svg")'], 
.roleIcon__59ca1[src='/assets/ec2042b53f1a4dff210a.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/ec2042b53f1a4dff210a.svg")'], 
.emoji[src='/assets/ec2042b53f1a4dff210a.svg'], .emoji[style*='background-image: url("/assets/ec2042b53f1a4dff210a.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/triangular_flag_on_post.png") !important;
}

/* rainbow_flag */
.diversityEmojiItemImage__4387d[src='/assets/1cbf60ec4c582d84ff03.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/1cbf60ec4c582d84ff03.svg")'], 
.image__7ab81[src='/assets/1cbf60ec4c582d84ff03.svg'], .image__7ab81[style*='background-image: url("/assets/1cbf60ec4c582d84ff03.svg")'], 
.emoji__92b46[src='/assets/1cbf60ec4c582d84ff03.svg'], .emoji__92b46[style*='background-image: url("/assets/1cbf60ec4c582d84ff03.svg")'], 
.emojiImage__152dd[src='/assets/1cbf60ec4c582d84ff03.svg'], .emojiImage__152dd[style*='background-image: url("/assets/1cbf60ec4c582d84ff03.svg")'], 
.image__6fed8[src='/assets/1cbf60ec4c582d84ff03.svg'], .image__6fed8[style*='background-image: url("/assets/1cbf60ec4c582d84ff03.svg")'], 
.icon_babf0a[src='/assets/1cbf60ec4c582d84ff03.svg'], .icon_babf0a[style*='background-image: url("/assets/1cbf60ec4c582d84ff03.svg")'], 
.emoji__32c91[src='/assets/1cbf60ec4c582d84ff03.svg'], .emoji__32c91[style*='background-image: url("/assets/1cbf60ec4c582d84ff03.svg")'], 
.roleIcon__59ca1[src='/assets/1cbf60ec4c582d84ff03.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/1cbf60ec4c582d84ff03.svg")'], 
.emoji[src='/assets/1cbf60ec4c582d84ff03.svg'], .emoji[style*='background-image: url("/assets/1cbf60ec4c582d84ff03.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/rainbow_flag.png") !important;
}

/* transgender_flag */
.diversityEmojiItemImage__4387d[src='/assets/5ee35ba0af43e62ad70e.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/5ee35ba0af43e62ad70e.svg")'], 
.image__7ab81[src='/assets/5ee35ba0af43e62ad70e.svg'], .image__7ab81[style*='background-image: url("/assets/5ee35ba0af43e62ad70e.svg")'], 
.emoji__92b46[src='/assets/5ee35ba0af43e62ad70e.svg'], .emoji__92b46[style*='background-image: url("/assets/5ee35ba0af43e62ad70e.svg")'], 
.emojiImage__152dd[src='/assets/5ee35ba0af43e62ad70e.svg'], .emojiImage__152dd[style*='background-image: url("/assets/5ee35ba0af43e62ad70e.svg")'], 
.image__6fed8[src='/assets/5ee35ba0af43e62ad70e.svg'], .image__6fed8[style*='background-image: url("/assets/5ee35ba0af43e62ad70e.svg")'], 
.icon_babf0a[src='/assets/5ee35ba0af43e62ad70e.svg'], .icon_babf0a[style*='background-image: url("/assets/5ee35ba0af43e62ad70e.svg")'], 
.emoji__32c91[src='/assets/5ee35ba0af43e62ad70e.svg'], .emoji__32c91[style*='background-image: url("/assets/5ee35ba0af43e62ad70e.svg")'], 
.roleIcon__59ca1[src='/assets/5ee35ba0af43e62ad70e.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/5ee35ba0af43e62ad70e.svg")'], 
.emoji[src='/assets/5ee35ba0af43e62ad70e.svg'], .emoji[style*='background-image: url("/assets/5ee35ba0af43e62ad70e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/transgender_flag.png") !important;
}

/* pirate_flag */
.diversityEmojiItemImage__4387d[src='/assets/063019ea70da16bc9398.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/063019ea70da16bc9398.svg")'], 
.image__7ab81[src='/assets/063019ea70da16bc9398.svg'], .image__7ab81[style*='background-image: url("/assets/063019ea70da16bc9398.svg")'], 
.emoji__92b46[src='/assets/063019ea70da16bc9398.svg'], .emoji__92b46[style*='background-image: url("/assets/063019ea70da16bc9398.svg")'], 
.emojiImage__152dd[src='/assets/063019ea70da16bc9398.svg'], .emojiImage__152dd[style*='background-image: url("/assets/063019ea70da16bc9398.svg")'], 
.image__6fed8[src='/assets/063019ea70da16bc9398.svg'], .image__6fed8[style*='background-image: url("/assets/063019ea70da16bc9398.svg")'], 
.icon_babf0a[src='/assets/063019ea70da16bc9398.svg'], .icon_babf0a[style*='background-image: url("/assets/063019ea70da16bc9398.svg")'], 
.emoji__32c91[src='/assets/063019ea70da16bc9398.svg'], .emoji__32c91[style*='background-image: url("/assets/063019ea70da16bc9398.svg")'], 
.roleIcon__59ca1[src='/assets/063019ea70da16bc9398.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/063019ea70da16bc9398.svg")'], 
.emoji[src='/assets/063019ea70da16bc9398.svg'], .emoji[style*='background-image: url("/assets/063019ea70da16bc9398.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/pirate_flag.png") !important;
}

/* crossed_flags */
.diversityEmojiItemImage__4387d[src='/assets/b6c089d4c8803a9ba99e.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/b6c089d4c8803a9ba99e.svg")'], 
.image__7ab81[src='/assets/b6c089d4c8803a9ba99e.svg'], .image__7ab81[style*='background-image: url("/assets/b6c089d4c8803a9ba99e.svg")'], 
.emoji__92b46[src='/assets/b6c089d4c8803a9ba99e.svg'], .emoji__92b46[style*='background-image: url("/assets/b6c089d4c8803a9ba99e.svg")'], 
.emojiImage__152dd[src='/assets/b6c089d4c8803a9ba99e.svg'], .emojiImage__152dd[style*='background-image: url("/assets/b6c089d4c8803a9ba99e.svg")'], 
.image__6fed8[src='/assets/b6c089d4c8803a9ba99e.svg'], .image__6fed8[style*='background-image: url("/assets/b6c089d4c8803a9ba99e.svg")'], 
.icon_babf0a[src='/assets/b6c089d4c8803a9ba99e.svg'], .icon_babf0a[style*='background-image: url("/assets/b6c089d4c8803a9ba99e.svg")'], 
.emoji__32c91[src='/assets/b6c089d4c8803a9ba99e.svg'], .emoji__32c91[style*='background-image: url("/assets/b6c089d4c8803a9ba99e.svg")'], 
.roleIcon__59ca1[src='/assets/b6c089d4c8803a9ba99e.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/b6c089d4c8803a9ba99e.svg")'], 
.emoji[src='/assets/b6c089d4c8803a9ba99e.svg'], .emoji[style*='background-image: url("/assets/b6c089d4c8803a9ba99e.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/crossed_flags.png") !important;
}