/* flag_white */
.item-16cXuq[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .item-16cXuq[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.infoBarEmoji-3Ab8rZ[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .infoBarEmoji-3Ab8rZ[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.diversityEmojiItemImage-2gPNoS[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.emoji-AAbs8r[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.icon-3ZzoN7[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .icon-3ZzoN7[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.icon-QsFCBC[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .icon-QsFCBC[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'], 
.emoji[src='/assets/60607b817ba7412ac83babae796c1d8c.svg'], .emoji[style*='background-image: url("/assets/60607b817ba7412ac83babae796c1d8c.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/flag_white.png") !important;
}

/* flag_black */
.item-16cXuq[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .item-16cXuq[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.infoBarEmoji-3Ab8rZ[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .infoBarEmoji-3Ab8rZ[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.diversityEmojiItemImage-2gPNoS[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.emoji-AAbs8r[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.icon-3ZzoN7[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .icon-3ZzoN7[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.icon-QsFCBC[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .icon-QsFCBC[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'], 
.emoji[src='/assets/53d700db9e5fbb461663685b813156df.svg'], .emoji[style*='background-image: url("/assets/53d700db9e5fbb461663685b813156df.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/flag_black.png") !important;
}

/* checkered_flag */
.item-16cXuq[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .item-16cXuq[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.infoBarEmoji-3Ab8rZ[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .infoBarEmoji-3Ab8rZ[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.diversityEmojiItemImage-2gPNoS[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.emoji-AAbs8r[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.icon-3ZzoN7[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .icon-3ZzoN7[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.icon-QsFCBC[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .icon-QsFCBC[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'], 
.emoji[src='/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg'], .emoji[style*='background-image: url("/assets/8e9a2d7ef44c1052a246e062e4c3f796.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/checkered_flag.png") !important;
}

/* triangular_flag_on_post */
.item-16cXuq[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .item-16cXuq[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.infoBarEmoji-3Ab8rZ[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .infoBarEmoji-3Ab8rZ[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.diversityEmojiItemImage-2gPNoS[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.emoji-AAbs8r[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.icon-3ZzoN7[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .icon-3ZzoN7[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.icon-QsFCBC[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .icon-QsFCBC[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'], 
.emoji[src='/assets/f5f43be48e7804a8265947d8dd64e430.svg'], .emoji[style*='background-image: url("/assets/f5f43be48e7804a8265947d8dd64e430.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/triangular_flag_on_post.png") !important;
}

/* rainbow_flag */
.item-16cXuq[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .item-16cXuq[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.infoBarEmoji-3Ab8rZ[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .infoBarEmoji-3Ab8rZ[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.diversityEmojiItemImage-2gPNoS[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.emoji-AAbs8r[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.icon-3ZzoN7[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .icon-3ZzoN7[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.icon-QsFCBC[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .icon-QsFCBC[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'], 
.emoji[src='/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg'], .emoji[style*='background-image: url("/assets/fd4b28db5d02e26f4ee43ab549ecffd4.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/rainbow_flag.png") !important;
}

/* pirate_flag */
.item-16cXuq[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .item-16cXuq[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.infoBarEmoji-3Ab8rZ[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .infoBarEmoji-3Ab8rZ[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.diversityEmojiItemImage-2gPNoS[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.emoji-AAbs8r[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.icon-3ZzoN7[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .icon-3ZzoN7[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.icon-QsFCBC[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .icon-QsFCBC[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'], 
.emoji[src='/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg'], .emoji[style*='background-image: url("/assets/b9cd193b23b2d0d0f878f992ef8a6b26.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/pirate_flag.png") !important;
}

/* crossed_flags */
.item-16cXuq[src='/assets/560f68782305d3736f6932663213aedf.svg'], .item-16cXuq[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.infoBarEmoji-3Ab8rZ[src='/assets/560f68782305d3736f6932663213aedf.svg'], .infoBarEmoji-3Ab8rZ[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.diversityEmojiItemImage-2gPNoS[src='/assets/560f68782305d3736f6932663213aedf.svg'], .diversityEmojiItemImage-2gPNoS[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.emoji-AAbs8r[src='/assets/560f68782305d3736f6932663213aedf.svg'], .emoji-AAbs8r[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.icon-3ZzoN7[src='/assets/560f68782305d3736f6932663213aedf.svg'], .icon-3ZzoN7[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.icon-QsFCBC[src='/assets/560f68782305d3736f6932663213aedf.svg'], .icon-QsFCBC[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'], 
.emoji[src='/assets/560f68782305d3736f6932663213aedf.svg'], .emoji[style*='background-image: url("/assets/560f68782305d3736f6932663213aedf.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/flags/crossed_flags.png") !important;
}