/* yellow 64px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/d7bb28fc5b72e46334b3.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/yellow_64.png") !important;
}

/* light 64px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/bee652cda38fd527a001.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/light_64.png") !important;
}

/* light_medium 64px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/833d8b325d39d86c0109.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/light_medium_64.png") !important;
}

/* medium 64px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/fe9c80d2c95fe4c72d23.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/medium_64.png") !important;
}

/* dark_medium 64px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/ceeff4572cc9ed16dfe2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/dark_medium_64.png") !important;
}

/* dark 64px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/5415a82e559b2f9c274d.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/dark_64.png") !important;
}

/* emoji 64px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/ce65a14893cacc1cc08f.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/emoji_64.png") !important;
}

/* yellow 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/cd81a872fe31d1399120.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/yellow_80.png") !important;
}

/* light 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/56e6fbae3627a6daed8c.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/light_80.png") !important;
}

/* light_medium 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/ebfe9350b64e4643c85a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/light_medium_80.png") !important;
}

/* medium 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/aada3af0d24905854144.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/medium_80.png") !important;
}

/* dark_medium 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/43130514832962d7cda9.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/dark_medium_80.png") !important;
}

/* dark 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/189fd70cb5ba5102a24b.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/dark_80.png") !important;
}

/* emoji 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/d3273e36888d1d5b7097.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/emoji_80.png") !important;
}

/* yellow 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/48bdb1cd4d7d9789777e.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/046aafbd05be91266c73.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/44f26d2c632b25abeea0.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/d79250946018e9e72d51.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/6cb314fa98ef98aa5789.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/152d2f5b6b4cdbb34a35.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/beea344715326f0f73c8.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/emoji_96.png") !important;
}

/* picker 44px */
.sprite__294b3 {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Microsoft/picker_44.png") !important;
}