/* yellow 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/c3df8c474460a13a81ef7078b5c03bff.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/yellow_64.png") !important;
}

/* light 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/478868dbb3697add4535c596af5cfe73.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/light_64.png") !important;
}

/* light_medium 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/078f4757425bfe9d96852be1d2c3b726.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/light_medium_64.png") !important;
}

/* medium 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/add345935ac48fae737547f8c20d0247.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/medium_64.png") !important;
}

/* dark_medium 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/86bbb68bd533b42c93b63f226b7bbcd5.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/dark_medium_64.png") !important;
}

/* dark 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/ea2211f2b340bec85baae29b4c051006.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/dark_64.png") !important;
}

/* emoji 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/d234cfa374e30dab3650f8531d00fbfd.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/emoji_64.png") !important;
}

/* yellow 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/5712254a02742f58523fbc570f6d854c.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/f1d89dc00b3f2d42aced54922aa71a6a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/36bc48a0a61592c30168ee793d994e16.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/deec8d74d1eec6fed46465a0929f85e6.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/57780a7f0f326c756def90b28b8e5eb4.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/f34939479b01863200905e85db8fcc22.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/ada1c665eb9ec661d28a2f19f12913e2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/emoji_96.png") !important;
}

/* picker 44px */
.sprite-2iCowe {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung/picker_44.png") !important;
}