/**
 * @name EmojiReplace
 * @description Replace discords emojis with emojis of a provider of your choice (can be changed in the .theme.css)
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/EmojiReplace
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/EmojiReplace/EmojiReplace.theme.css
 * @updateUrl https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/EmojiReplace/EmojiReplace.theme.css
 */

/*
	!!READ THIS!!
	
	This theme let's you swap the default emojis of discord with the emojis of a provider of your choice.
	To change the provider simply swap the marked word in the import url down below with a supported provider listed below.
	The name of the provider is CASE SENSITIVE, meaning you have to write it exactly like it's written below.
	Correct: Apple
	False: apple, APPLE, aPpLe
	
	Supported Providers:
		→ Apple
		→ Facebook
		→ Google
		→ JoyPixels
		→ Microsoft
		→ Samsung
		→ WhatsApp
*/

/*																				  REPLACE THIS		*/
/*																					 ↓↓↓↓↓			*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
/*																					 ↑↑↑↑↑		  	*/
/*																				  REPLACE THIS		*/