@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

$var-accentcolor: rgb(190, 78, 180) !default;
$var-backdropcolor: rgba(0, 0, 0, 0.4) !default;

$var-transparency-color: rgba(0, 0, 0, 0.15) !default;
$var-transparency-message: 0.5 !default;
$var-transparency-memberlist: 0 !default;

$var-background: (url: "https://mwittrien.github.io/BetterDiscordAddons/ThemesV2/BasicBackground/background.jpg") !default;


:root {
	--transparencycolor: #{red($var-transparency-color)},#{green($var-transparency-color)},#{blue($var-transparency-color)};	
	--transparencyalpha: opacity($var-transparency-color);	
	--messagetransparency: $var-transparency-message;	
	--memberlistransparency: $var-transparency-memberlist;	
	--accentcolor: #{red($var-accentcolor)},#{green($var-accentcolor)},#{blue($var-accentcolor)}; 	
	--background: url(map-get($var-background, url));
	--backdrop: $var-backdropcolor;
}