//META{"name":"BasicBackground","description":"Allows you to use a background image in Discord without greatly altering the basic look of Discord.","author":"DevilBro","version":"1.0.4","website":"https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground","source":"https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css"}*//{}

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
	--transparencycolor: 0,0,0;			/* default: 0,0,0 */
	--transparencyalpha: 0.15;			/* default: 0.15 */
	--messagetransparency: 0.5;			/* default: 0.5 (set this to 0 to get rid of the black boxes around messages) */
	--guildchanneltransparency: 0.15;	/* default: 0.15 (additional darkness for guild/channel list can be changed in case a bright background makes the list hard to read) */
	--memberlistransparency: 0.0;		/* default: 0.0 (additional darkness for member list can be changed in case a bright background makes the list hard to read) */
	--accentcolor: 190,78,180; 			/* default: 190,78,180 discord: 114,137,218 bd-blue: 58,113,193*/
	--background: url(https://mwittrien.github.io/BetterDiscordAddons/ThemesV2/BasicBackground/background.jpg); /* replace the link in url() with your own direct image link to change the background */
	--backgroundsize: cover;			/* default: cover [cover/contain/auto] */
	--backdrop: rgba(0,0,0,0.4);		/* default: rgba(0,0,0,0.4) can also be changed to an image like --background */
	--backgroundblur: 0px;				/* default: 0px only works when --background is set to an image */
	--popoutblur: 0px;					/* default: 0px only works when --background is set to an image */
	--backdropblur: 0px;				/* default: 0px only works when --backdrop is set to an image */
}