//META{"name":"BasisBackground","description":"Allows you to use a background image in Discord without greatly altering the basic look of Discord.","author":"DevilBro","version":"1.0.0"}*//

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
	--transparencycolor: 33,33,33;
	--transparencyalpha: 0.2;
	--backgroundimage: url(https://i.imgur.com/lRmfvw0.jpg);
}
