//META{"name":"BasisBackground","description":"Allows you to use a background image in Discord without greatly altering the basic look of Discord.","author":"DevilBro","version":"1.0.0"}*//

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
	--transparencycolor: 0,0,0;
	--transparencyalpha: 0.1;
	--backgroundimage: url(https://wallpapertag.com/wallpaper/full/b/9/b/405960-nice-background-1920x1080-full-hd.jpg);
}