#app-mount {
	background-image: var(--backgroundimage);
	background-size: cover;
	background-position: center;
}

.noChannel-2EQ0a9,
.activityFeed-HeiGwL,
.lfg-3xoFkI,
.app,
.layers,
.layer,
.layers-20RVFW,
.layer-kosS71,
.container-2OU7Cz,
.content-region,
.guilds-wrapper,
.itemDefault-3NDwnY:hover,
.ui-tab-bar-item:hover,
.tab-bar-item:hover,
.friends-row:hover,
.channel:hover a,
.member:hover,
.channels-3g2vYe .wrapperHoveredCollapsed-25KVVp,
.channels-3g2vYe .wrapperHovered-1KDCyZ,
.channels-3g2vYe .wrapperLockedVoice-1XZJmE:hover .content-2mSKOj,
.channels-3g2vYe .wrapperHoveredVoice-3tbfNN .content-2mSKOj,
.channels-3g2vYe .wrapperHoveredText-1PA_Uk .content-2mSKOj,
.chat .inner-3if5cm,
.search-2--6aU .search-bar,
.search-results-wrap,
.search-results-wrap .search-header,
.search-results-wrap .search-result-message.hit,
.sidebar-region,
.ui-standard-sidebar-view,
.channels-3g2vYe,
.container-iksrDt {
	background: rgba(var(--transparencycolor),var(--transparencyalpha)) !important;
}

.divider.divider-red span,
.guild-inner,
.itemSelected-3XxAMf,
.ui-tab-bar-item.selected,
.channel.selected a,
.member.popout-open,
.channels-3g2vYe .wrapperSelectedVoice-1Q1ocJ .content-2mSKOj,
.channels-3g2vYe .wrapperSelectedText-31jJa8 .content-2mSKOj,
.guild-separator::after,
button.guild,
::-webkit-scrollbar-thumb {
	border-color: transparent !important;
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 3)) !important;
}

.guilds-error {
	background: rgba(120,0,0,calc(var(--transparencyalpha) * 3)) !important;
}

.base-3AoPqv {
	border-radius: 0;
}

.channels-3g2vYe > div:nth-child(2) {
	border-radius: 5px 5px 0 0;
}

.channels-3g2vYe .wrapperHoveredCollapsed-25KVVp,
.channels-3g2vYe .wrapperHovered-1KDCyZ {
	border-radius: 3px;
}

.search-results-wrap .search-result-message.hit {
	box-shadow:none !important;
}

.titleBar-3_fDwJ::after {
	content: "";
	pointer-events: none !important;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 22px;
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 4)) !important;
}

.chat form::after {
	content: "";
	pointer-events: none !important;
	position: absolute;
	border-radius: 0 10px 0 0;
	top: 0;
	left: -20px;
	width: calc(100% + 40px);
	height: 100%;
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha))) !important;
}

#friends,
#friends .friends-table,
.channel-members,
.channel-members-loading,
.chat .content,
.chat,
.chat form,
.content .flex-spacer,
.messages-wrapper,
.typing-3eiiL_,
.container-RYiLUQ,
.headerBar-cxbhPD,
.titleBar-3_fDwJ,
.titleWrapper-3Vi_wz .title-qAcLxz,
.search-results-wrap .search-result::before,
.search-results-wrap .search-result::after,
.search-results-wrap .channel-name {
	background: transparent !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track-piece {
	border-color: transparent !important;
	background: transparent !important;
} 

.divider.divider-red:before,
::-webkit-scrollbar-corner {
	display: none !important;
}

/* fix span flickering */
html, span:not(.spinner-item) {
	backface-visibility: hidden;
}
