/**
 * @name BasicBackground
 * @description Allows you to use a Background Image without greatly altering the basic Layout of Discord
 * @author DevilBro
 * @version 1.0.5
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.theme.css
 */

/* To change stuff like the colors, transparency and background image, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://raw.githubusercontent.com/SEELE1306/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.css);

:root {
	--transparencycolor:			0,0,0;						/* default:	0,0,0																								*/
	--transparencyalpha:			0.15;						/* default: 0.15				(general darkness of the app)													*/
	--messagetransparency:			0.5;						/* default: 0.5					(additional shadows behind messages, set to 0 to remove boxes)					*/
	--guildchanneltransparency:		0.15;						/* default: 0.15				(additional darkness for guild/channel list)									*/
	--chatinputtransparency:		0.0;						/* default: 0.0					(additional darkness for chat input container)									*/
	--memberlisttransparency:		0.0;						/* default: 0.0					(additional darkness for member list)											*/
	
	--background:					url(https://i.imgur.com/8JxHlMb.png);	/* general background image				*/
	--backgroundposition:			center;						/* default: center				(position of background - values: [center/top/right/bottom/left])				*/
	--backgroundsize:				cover;						/* default: cover				(sizefit of background - values: [cover/contain/auto])							*/
	--backgroundblur:				unset;						/* default: unset				(blur in px, only works when --background is set to an image)					*/
	
	--popout:						var(--background);			/* default: var(--background)	(change to use another background/color for modals/popouts)						*/
	--popoutposition:				var(--backgroundposition);	/* default: center				(position of popout - values: [center/top/right/bottom/left])					*/
	--popoutsize:					var(--backgroundsize);		/* default: cover				(sizefit of popout - values: [cover/contain/auto])								*/
	--popoutblur:					var(--backgroundblur);		/* default: unset				(blur in px, only works when --popout is set to an image)						*/
	
	--backdrop:						rgba(0,0,0,0.85);			/* default: rgba(0,0,0,0.85)	(change to use another background/color for backdrops)							*/
	--backdropposition:				center;						/* default: center				(position of backdrop - values: [center/top/right/bottom/left])					*/
	--backdropsize:					cover;						/* default: cover				(sizefit of backdrop - values: [cover/contain/auto])							*/
	--backdropblur:					unset;						/* default: unset				(blur in px, only works when --backdrop is set to an image)						*/
	
	--version1_0_5:					none;						/* DO NOT CHANGE THIS VARIABLE , USED TO HIDE UPDATE NOTICE														*/
}
