#app-mount {
	background-image: var(--backgroundimage);
	background-size: cover;
	background-position: center;
}

#friends,
.noChannel-2EQ0a9,
.activityFeed-HeiGwL,
.lfg-3xoFkI,
.app,
.layers,
.layer,
.layers-20RVFW,
.layer-kosS71,
.container-2OU7Cz,
.content-region,
.guilds-wrapper,
.search-2--6aU .search-bar,
.search-results-wrap,
.search-results-wrap .search-header,
.search-results-wrap .search-result-message.hit,
.sidebar-region,
.ui-standard-sidebar-view,
.channels-3g2vYe,
.container-iksrDt {
	background: rgba(var(--transparencycolor),var(--transparencyalpha)) !important;
}

.divider.divider-red span,
.chat .inner-3if5cm,
.guild-inner,
button.guild,
::-webkit-scrollbar-thumb {
	border-color: transparent !important;
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 3)) !important;
}

.guilds-error {
	background: rgba(120,0,0,calc(var(--transparencyalpha) * 3)) !important;
}

.search-results-wrap .search-result-message.hit {
	box-shadow:none !important;
}

.titleBar-3_fDwJ::after {
	content:"";
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:22px;
	background: rgba(var(--transparencycolor),calc(var(--transparencyalpha) * 4)) !important;
}

#friends .friends-table,
.channel-members,
.channel-members-loading,
.chat .content,
.chat form,
.chat,
.content .flex-spacer,
.messages-wrapper,
.typing-3eiiL_,
.container-RYiLUQ,
.headerBar-cxbhPD,
.titleBar-3_fDwJ,
.titleWrapper-3Vi_wz .title-qAcLxz,
.search-results-wrap .search-result::before,
.search-results-wrap .search-result::after,
.search-results-wrap .channel-name {
	background: transparent !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track-piece {
	border-color: transparent !important;
	background: transparent !important;
} 

.divider.divider-red:before,
::-webkit-scrollbar-corner {
	display: none !important;
}
