/* yellow 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/9d6f7bad0b4786fd.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/yellow_80.png") !important;
}

/* light 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/42a77a907c6518a2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/light_80.png") !important;
}

/* light_medium 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/13d7c7712a8c345d.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/light_medium_80.png") !important;
}

/* medium 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/7ba098a1f59e8c25.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/medium_80.png") !important;
}

/* dark_medium 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/553d87e518760843.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/dark_medium_80.png") !important;
}

/* dark 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/bce9faa083202df0.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/dark_80.png") !important;
}

/* emoji 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/668ed2f8f314c3b7.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/emoji_80.png") !important;
}

/* yellow 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/171f2d16082f84d5.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/7535d1105d16fc35.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/ca543e88dc2834e4.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/c4076130da981907.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/a16cfca80b060950.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/59d8518282b48bdc.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/60cbc861ee0baff2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/emoji_96.png") !important;
}

/* picker  */
._04eede68d145ae81-sprite {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Samsung-Old/picker.png") !important;
}