:root {
	--dsettingsicons: 1;
	--vsettingsicons: var(--settingsicons, var(--dsettingsicons));
	--usesettingsicons: calc(var(--settingsicons) / (var(--settingsicons) + 0.00000000000000000000001));
	--settingsiconssize: 18px;
	--settingsiconsgap: 14px;
}

.sidebar-CFHs9e {
	width: calc(218px + (var(--usesettingsicons)*(var(--settingsiconssize)+var(--settingsiconsgap))));
}
#bd-settings-sidebar .ui-tab-bar-item,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ {
	display: flex;
	align-items: center;
}
#bd-settings-sidebar .ui-tab-bar-item::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ::before {
	content: "";
	position: relative;
	flex: 0 0 auto;
	width: calc(var(--usesettingsicons)*var(--settingsiconssize));
	height: calc(var(--usesettingsicons)*var(--settingsiconssize));
	margin-right: calc(var(--usesettingsicons)*var(--settingsiconsgap));
	background: currentColor;
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_questionmark.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="My Account-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_account.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Privacy & Safety-tab" i]::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="MODERATION-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_privacy.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Authorized Apps-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_apps.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Connections-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_connections.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_nitro.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Nitro Server Boost-tab" i]::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="GUILD_PREMIUM-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_boosts.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Library Inventory-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_gift.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Billing-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_billing.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Voice & Video-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_voice.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Text & Images-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_text.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Appearance-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_appearance.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Notifications-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_notifications.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Keybinds-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_keybinds.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Language-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_language.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Windows-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_windows.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Streamer Mode-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_streamermode.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Game Activity-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_games.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Overlay-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_overlay.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="ChangeLog-tab" i]::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Change Log-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_changelog.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Hypesquad Online-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_hypesquad.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Experiments-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_experiments.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Developer Options-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_developer.svg) center/contain no-repeat;
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(3)::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.bd-settings-tab::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="pc-general-tab" i]::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Settings-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_settings.svg) center/contain no-repeat;
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(4)::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.bd-emotes-tab::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Emotes-tab" i]::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="EMOJI-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_emotes.svg) center/contain no-repeat;
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(7)::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.bd-customcss-tab::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="CustomCSS-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_custom.svg) center/contain no-repeat;
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(5)::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.bd-plugins-tab::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Plugins-tab" i]::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="pc-moduleManager-plugins-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_plugins.svg) center/contain no-repeat;
}
#bd-settings-sidebar .ui-tab-bar-item:nth-child(6)::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ.bd-themes-tab::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="pc-moduleManager-themes-tab" i]::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Themes-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_themes.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="PluginRepo-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_pluginrepo.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="ThemeRepo-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_themerepo.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="pc-updater-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_updatecheck.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="bdCompat-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_betterdiscord.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Logout-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_logout.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="OVERVIEW-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_overview.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="ROLES-tab" i]::before,
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="PERMISSIONS-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_roles.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="AUDIT_LOG-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_audit.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="INTEGRATIONS-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_integrations.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="WIDGET-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_widgets.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="GUILD_TEMPLATES-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_template.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="COMMUNITY-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_community.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="ANALYTICS-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_analytics.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="PARTNER-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_partner.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="MEMBER_VERIFICATION-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_rules.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="DISCOVERY-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_discovery.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="COMMUNITY_WELCOME-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_welcome.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="MEMBERS-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_members.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="INSTANT_INVITES-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_invites.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="BANS-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_bans.svg) center/contain no-repeat;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="DELETE-tab" i]::before {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settings_icons_delete.svg) center/contain no-repeat;
}
.bd-server-search ~ .item-PXvHYJ::before {
	display: none;
}

svg path[d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5H16c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 9 6.5 9 8 9.67 8 10.5 7.33 12 6.5 12zm3-4C8.67 8 8 7.33 8 6.5S8.67 5 9.5 5s1.5.67 1.5 1.5S10.33 8 9.5 8zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 4c-.83 0-1.5-.67-1.5-1.5S16.67 9 17.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"] {
	d: path("m 14.695239,1.9999995 c -0.172564,0 -0.345192,0.065287 -0.476856,0.1969323 L 8.8655558,7.5499113 16.449678,15.134249 21.802505,9.7812686 c 0.263327,-0.26329 0.263327,-0.690404 0,-0.953738 L 20.790203,7.8168279 C 20.561354,7.5879722 20.201783,7.553571 19.934142,7.7354508 l -2.127134,1.4452558 1.437076,-2.1418429 c 0.179492,-0.2675152 0.144859,-0.6250542 -0.083,-0.852831 L 16.965593,3.9921086 C 16.762949,3.7894605 16.453901,3.7358929 16.195788,3.8602778 l -0.379206,0.183912 0.18228,-0.4036299 C 16.114073,3.3850021 16.058716,3.0852515 15.860524,2.8870088 L 15.172095,2.1969318 C 15.040454,2.065287 14.867803,1.9999995 14.695239,1.9999995 Z M 7.8695296,8.5459656 6.3201554,10.095384 c -0.1264491,0.126453 -0.1969268,0.298047 -0.1969268,0.47687 0,0.178823 0.070432,0.350462 0.1969268,0.476869 l 1.4696269,1.46967 c 0.2831508,0.283158 0.4212717,0.6744 0.3775785,1.072548 -0.043647,0.397879 -0.264001,0.749537 -0.6021726,0.965131 -4.3184211,2.752831 -4.7209389,3.155335 -4.8531868,3.287631 -0.9493352,0.949318 -0.9493352,2.494468 0,3.443875 0.9502792,0.950307 2.4954758,0.948419 3.443777,0 0.1323379,-0.132296 0.5349645,-0.535005 3.2875377,-4.853324 0.215049,-0.337372 0.5670569,-0.556823 0.9651039,-0.600563 0.399307,-0.04356 0.790042,0.09352 1.072518,0.375962 l 1.469627,1.469669 c 0.263283,0.26329 0.690429,0.26329 0.953712,0 l 1.549374,-1.549419 z M 4.4762048,18.571614 c 0.2439024,0 0.4877049,0.0922 0.6737825,0.278309 0.3722002,0.372165 0.3722002,0.975393 0,1.347604 -0.3722002,0.372211 -0.9754096,0.372211 -1.347565,0 -0.3722,-0.372211 -0.3722,-0.975439 0,-1.347604 0.1861001,-0.186105 0.4298801,-0.278309 0.6737825,-0.278309 z");
}