.supporter-Z3FfwL.hasBadge-4rT8_u .mask-1l8v16 {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.29565217 V 0.8 c 0,-0.1 -0.0347826,-0.14 -0.12173913,-0.14 H 0 Z"/></svg>') center/cover no-repeat;
}
.supporter-Z3FfwL.hasBadge-4rT8_u ~ .avatarHint-1qgaV3 {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.34 V 0.8 C 0.34,0.7 0.3,0.66 0.2,0.66 H 0 Z"/></svg>') center/cover no-repeat;
}
.supporter-Z3FfwL.hasBadge-4rT8_u ~ .avatarHint-1E3LMl {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.34 V 0.8 C 0.34,0.72 0.3,0.7 0.2,0.7 H 0 Z"/></svg>') center/cover no-repeat;
}
.supporter-Z3FfwL.hasBadge-4rT8_u .badge-7R_W3s {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.52 508.52"><path fill="black" d="M63.565, 476.737c0, 12.84, 7.755, 24.473, 19.61, 29.367c3.941, 1.621, 8.073, 2.415, 12.173, 2.415c8.263, 0, 16.4-3.242, 22.47-9.312L254.26, 362.765l136.442, 136.442c6.07, 6.07, 14.207, 9.312, 22.47, 9.312c4.1, 0, 8.232-0.795, 12.141-2.415c11.887-4.894, 19.642-16.527, 19.642-29.367V165.347H63.565V476.737z"/><path fill="black" d="M413.172, 0H95.347C77.804, 0, 63.565, 14.239, 63.565, 31.782v61.782h381.39V31.782C444.955, 14.239, 430.716, 0, 413.172, 0z"/></svg>') center/cover no-repeat !important;
	background: #f96854 !important;
	position: absolute !important;
	top: 74% !important;
	left: 1.5% !important;
	width: 30% !important;
	height: 30% !important;
}
.supporter-Z3FfwL.tier3-yTxjsy.hasBadge-4rT8_u .badge-7R_W3s {
	background: linear-gradient(90deg, #f96854, #ff73fa) !important;
}
.selected-aXhQR6 .supporter-Z3FfwL.hasBadge-4rT8_u .badge-7R_W3s,
.root-SR8cQa .topSectionPlaying-1J5E4n .supporter-Z3FfwL.hasBadge-4rT8_u .badge-7R_W3s,
.userPopout-3XzG_A .headerPlaying-j0WQBV .supporter-Z3FfwL.hasBadge-4rT8_u .badge-7R_W3s {
	filter: brightness(80%) !important;
}

/* strix */
.supporter-Z3FfwL.tier3-yTxjsy.hasBadge-4rT8_u[data-user-id="264486632525135883"] .badge-7R_W3s {
	background: linear-gradient(90deg, #009dc4, #8a2be2) !important;
}

/* case */
.supporter-Z3FfwL.tier3-yTxjsy.hasBadge-4rT8_u[data-user-id="646354877336911884"] .badge-7R_W3s {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><path fill="white" d="M12.5,17.6l3.6,2.2a1,1,0,0,0,1.5-1.1l-1-4.1a1,1,0,0,1,.3-1l3.2-2.8A1,1,0,0,0,19.5,9l-4.2-.4a.87.87,0,0,1-.8-.6L12.9,4.1a1.05,1.05,0,0,0-1.9,0l-1.6,4a1,1,0,0,1-.8.6L4.4,9a1.06,1.06,0,0,0-.6,1.8L7,13.6a.91.91,0,0,1,.3,1l-1,4.1a1,1,0,0,0,1.5,1.1l3.6-2.2A1.08,1.08,0,0,1,12.5,17.6Z"/></svg>') center/cover no-repeat !important;
	background: #5800fd !important;
	top: 67% !important;
	left: -2% !important;
	width: 32% !important;
	height: 32% !important;
}

/* K E R */
.supporter-Z3FfwL.tier4-5RNl6k.hasBadge-4rT8_u[data-user-id="838434341197316126"] .badge-7R_W3s {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="white" d="M13.6572 5.42868C13.8879 5.29002 14.1806 5.30402 14.3973 5.46468C14.6133 5.62602 14.7119 5.90068 14.6473 6.16202L13.3139 11.4954C13.2393 11.7927 12.9726 12.0007 12.6666 12.0007H3.33325C3.02725 12.0007 2.76058 11.792 2.68592 11.4954L1.35258 6.16202C1.28792 5.90068 1.38658 5.62602 1.60258 5.46468C1.81992 5.30468 2.11192 5.29068 2.34325 5.42868L5.13192 7.10202L7.44592 3.63068C7.46173 3.60697 7.48377 3.5913 7.50588 3.57559C7.5192 3.56612 7.53255 3.55663 7.54458 3.54535L6.90258 2.90268C6.77325 2.77335 6.77325 2.56068 6.90258 2.43135L7.76458 1.56935C7.89392 1.44002 8.10658 1.44002 8.23592 1.56935L9.09792 2.43135C9.22725 2.56068 9.22725 2.77335 9.09792 2.90268L8.45592 3.54535C8.46794 3.55686 8.48154 3.56651 8.49516 3.57618C8.51703 3.5917 8.53897 3.60727 8.55458 3.63068L10.8686 7.10202L13.6572 5.42868ZM2.66667 12.6673H13.3333V14.0007H2.66667V12.6673Z"/></svg>') center/cover no-repeat !important;
	background: #ffd300 !important;
	top: 69% !important;
	left: -0.5% !important;
	width: 32% !important;
	height: 32% !important;
}
