.supporter-Z3FfwL.hasBadge-4rT8_u {
	overflow: visible;
}

.dev-A7f2Rx::before,
.supporter-Z3FfwL::before {
	display: none !important;
}
.supporter-Z3FfwL.hasBadge-4rT8_u .mask-1FEkla {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.29565217 V 0.8 c 0,-0.1 -0.0347826,-0.14 -0.12173913,-0.14 H 0 Z"/></svg>') center/cover no-repeat;
}
.avatar-2e8lTP.supporter-Z3FfwL.hasBadge-4rT8_u > img {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.34565217 V 0.82 c 0,-0.1 -0.0347826,-0.14 -0.12173913,-0.14 H 0 Z"/></svg>') center/cover no-repeat;
}
.supporter-Z3FfwL.hasBadge-4rT8_u ~ .avatarHint-k7pYop {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.34 V 0.8 C 0.34,0.72 0.3,0.7 0.2,0.7 H 0 Z"/></svg>') center/cover no-repeat;
}
.supporter-Z3FfwL.hasBadge-4rT8_u .badge-7R_W3s {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M 4.5 0 C 3.672043 0 3 0.67204269 3 1.5 L 3 4.4160156 L 21 4.4160156 L 21 1.5 C 21 0.67204269 20.328003 0 19.5 0 L 4.5 0 z M 3 7.8027344 L 3 22.5 C 3 23.105995 3.3662743 23.655743 3.9257812 23.886719 C 4.1117802 23.963224 4.306496 24 4.5 24 C 4.889979 24 5.2740679 23.847026 5.5605469 23.560547 L 12 17.121094 L 18.439453 23.560547 C 18.725933 23.847026 19.11002 24 19.5 24 C 19.693503 24 19.887777 23.963177 20.072266 23.886719 C 20.633283 23.655743 21 23.105995 21 22.5 L 21 7.8027344 L 3 7.8027344 z"/></svg>') center/cover no-repeat !important;
	background: #f96854 !important;
	position: absolute !important;
	top: 74% !important;
	left: 1.5% !important;
	width: 30% !important;
	height: 30% !important;
}
.supporter-Z3FfwL.tier3-yTxjsy.hasBadge-4rT8_u .badge-7R_W3s {
	background: linear-gradient(90deg, #f96854, #ff73fa) !important;
}
.selected-1-Z6gm .supporter-Z3FfwL.hasBadge-4rT8_u .badge-7R_W3s {
	filter: brightness(80%) !important;
}

/* synax */
.supporter-Z3FfwL.tier3-yTxjsy.hasBadge-4rT8_u[data-user-id="335997977938100226"] .badge-7R_W3s {
	-webkit-mask: unset !important;
	background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/badges/335997977938100226.png) center/contain no-repeat !important;
	top: 66% !important;
	left: -7% !important;
	width: 40% !important;
	height: 40% !important;
}

/* seivag */
.supporter-Z3FfwL.tier3-yTxjsy.hasBadge-4rT8_u[data-user-id="226444377482985473"] .badge-7R_W3s {
	-webkit-mask: unset !important;
	background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/badges/226444377482985473.png) center/90% 90% no-repeat, linear-gradient(90deg, #c1dbdc, #9dc1e4) !important;
	border-radius: 10% !important;
	top: 71% !important;
	left: 1% !important;
	width: 30% !important;
	height: 30% !important;
}

/* strix */
.supporter-Z3FfwL.tier3-yTxjsy.hasBadge-4rT8_u[data-user-id="264486632525135883"] .badge-7R_W3s {
	background: linear-gradient(90deg, #f2f7ff, #1e68fc) !important;
}
