.supporter-Z3FfwL.hasBadge-4rT8_u:not(.customSupporter-thxL4U) .mask-1l8v16 {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><g fill="none" fill-rule="evenodd"><path fill="white" d="M0 0 h 1 v 1 h -0.7 v -0.353 h -0.3 z"/></g></svg>') center/cover no-repeat;
}
.supporter-Z3FfwL.hasBadge-4rT8_u:not(.customSupporter-thxL4U) .avatarHint-1qgaV3 {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><g fill="none" fill-rule="evenodd"><path fill="white" d="M0 0 h 1 v 1 h -0.66 v -0.33 h -0.33 z"/></g></svg>');
}
.supporter-Z3FfwL.hasBadge-4rT8_u:not(.customSupporter-thxL4U) .badge-7R_W3s {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.52 508.52"><path fill="black" d="M63.565, 476.737c0, 12.84, 7.755, 24.473, 19.61, 29.367c3.941, 1.621, 8.073, 2.415, 12.173, 2.415c8.263, 0, 16.4-3.242, 22.47-9.312L254.26, 362.765l136.442, 136.442c6.07, 6.07, 14.207, 9.312, 22.47, 9.312c4.1, 0, 8.232-0.795, 12.141-2.415c11.887-4.894, 19.642-16.527, 19.642-29.367V165.347H63.565V476.737z"/><path fill="black" d="M413.172, 0H95.347C77.804, 0, 63.565, 14.239, 63.565, 31.782v61.782h381.39V31.782C444.955, 14.239, 430.716, 0, 413.172, 0z"/></svg>') center/cover no-repeat !important;
	background: #F96854 !important;
	position: absolute !important;
	width: 30% !important;
	height: 30% !important;
	top: 74% !important;
	left: 1.5% !important;
}
.root-SR8cQa .topSectionPlaying-1J5E4n .supporter-Z3FfwL.hasBadge-4rT8_u:not(.customSupporter-thxL4U) .badge-7R_W3s,
.userPopout-3XzG_A .headerPlaying-j0WQBV .supporter-Z3FfwL.hasBadge-4rT8_u:not(.customSupporter-thxL4U) .badge-7R_W3s {
	filter: brightness(80%) !important;
}

/* BEAUDEN */
.supporter-Z3FfwL.hasBadge-4rT8_u.customSupporter-thxL4U[custombadge_id="562008872467038230"] .mask-1l8v16 {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><g fill="none" fill-rule="evenodd"><path fill="white" d="M0 0 h 1 v 1 h -0.6 v -0.33 h -0.4 z"/></g></svg>') center/cover no-repeat;
}
.supporter-Z3FfwL.hasBadge-4rT8_u.customSupporter-thxL4U[custombadge_id="562008872467038230"] .avatarHint-1qgaV3 {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><g fill="none" fill-rule="evenodd"><path fill="white" d="M0 0 h 1 v 1 h -0.54 v -0.3 h -0.46 z"/></g></svg>');
}
.supporter-Z3FfwL.hasBadge-4rT8_u.customSupporter-thxL4U[custombadge_id="562008872467038230"] .badge-7R_W3s {
	background: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/T3Badges/562008872467038230.png) center/cover no-repeat !important;
	position: absolute !important;
	width: 50% !important;
	height: calc(420/800 * 50%) !important;
	top: 75% !important;
	left: -10% !important;
}