.dev-A7f2Rx.hasBadge-4rT8_u {
	overflow: visible;
}
.dev-A7f2Rx::before {
	display: none !important;
}
.dev-A7f2Rx.hasBadge-4rT8_u .mask-1FEkla {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.29565217 V 0.8 c 0,-0.1 -0.0347826,-0.14 -0.12173913,-0.14 H 0 Z"/></svg>') center/cover no-repeat;
}
.avatar-2e8lTP.dev-A7f2Rx.hasBadge-4rT8_u > img {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.34565217 V 0.82 c 0,-0.1 -0.0347826,-0.14 -0.12173913,-0.14 H 0 Z"/></svg>') center/cover no-repeat;
}
.dev-A7f2Rx.hasBadge-4rT8_u ~ .avatarHint-k7pYop {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path fill="white" d="M 0,0 H 1 V 1 H 0.34 V 0.8 C 0.34,0.72 0.3,0.7 0.2,0.7 H 0 Z"/></svg>') center/cover no-repeat;
}
.dev-A7f2Rx.hasBadge-4rT8_u .badge-7R_W3s {
	-webkit-mask: url('data:image/svg+xml; utf8, <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M 4.5 0 C 3.672043 0 3 0.67204269 3 1.5 L 3 4.4160156 L 21 4.4160156 L 21 1.5 C 21 0.67204269 20.328003 0 19.5 0 L 4.5 0 z M 3 7.8027344 L 3 22.5 C 3 23.105995 3.3662743 23.655743 3.9257812 23.886719 C 4.1117802 23.963224 4.306496 24 4.5 24 C 4.889979 24 5.2740679 23.847026 5.5605469 23.560547 L 12 17.121094 L 18.439453 23.560547 C 18.725933 23.847026 19.11002 24 19.5 24 C 19.693503 24 19.887777 23.963177 20.072266 23.886719 C 20.633283 23.655743 21 23.105995 21 22.5 L 21 7.8027344 L 3 7.8027344 z"/></svg>') center/cover no-repeat !important;
	background: var(--bdfdb-blurple, hsl(235, calc(var(--saturation-factor, 1)*85.6%), 64.7%)) !important;
	position: absolute !important;
	width: 30% !important;
	height: 30% !important;
	top: 74% !important;
	left: 1.5% !important;
}
.selected-1-Z6gm .dev-A7f2Rx.hasBadge-4rT8_u .badge-7R_W3s {
	filter: brightness(80%) !important;
}

.link-39xJu3[href*="/Lightcord/" i]::before {
	content: "" !important;
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: #18191c linear-gradient(var(--background-floating), var(--background-floating)) !important;
	-webkit-app-region: drag !important;
	z-index: 1000000 !important;
}
span {
	-webkit-backface-visibility: hidden;
}