#app-mount .userPopout-2j1gM4 .popoutBanner-3cqRD9,
#app-mount .menu-1QACrS .popoutBanner-3cqRD9 {
	height: 120px !important;
	max-height: var(--user-background, 60px) !important;
}
#app-mount .root-8LYsGj .profileBanner-1owKI5 {
	height: 240px !important;
	max-height: var(--user-background, 120px) !important;
}
#app-mount .popoutBanner-3cqRD9::before,
#app-mount .profileBanner-1owKI5::before {
	content: "";
	position: absolute;
	background: #000 var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#app-mount .userPopout-2j1gM4 .avatarPositionNormal-2jWoC2,
#app-mount .menu-1QACrS .avatarPositionNormal-2jWoC2 {
	top: 76px !important;
	margin-top: var(--user-background, -60px) !important;
}
#app-mount .userPopout-2j1gM4 .headerTop-3GPUSF,
#app-mount .menu-1QACrS .headerTop-3GPUSF {
	padding: 58px 16px 16px;
}
#app-mount .root-8LYsGj .headerTop-1PNKck {
	min-height: 32px;
}