/* yellow 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/2f1adbbeee210ebdfaf92e6cdb29be32af98df2f576a85c6f18515eecb49a628.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/yellow_80.png") !important;
}

/* light 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/112053a6b05b0d3869dde1b52ab452dd6286515848e4dc8145095b6c757fb126.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_80.png") !important;
}

/* light_medium 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/8c716c8c5de61506e1bc3df1beab3e1bb9313ae5dfbb5b555cad60fbbc2a1fa6.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_medium_80.png") !important;
}

/* medium 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/5885b33027a6383a93d1021abb3f7b1c4096257eac03829456430f6453154bbd.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/medium_80.png") !important;
}

/* dark_medium 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/d474fadfda8e1fa265be85f90fd78232ebb8c87667435ee8d32719aec28f17de.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_medium_80.png") !important;
}

/* dark 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/3ff454933f81e14f619472a4fba921158608afc495e452205b1317b46f76d19b.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_80.png") !important;
}

/* emoji 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/32f6c9dfcb175d0413cfdd33c005bddbd8f99ca58c67561e8fb57a845446a7ee.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/emoji_80.png") !important;
}

/* yellow 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/14e7ef6e372a0fd01b5a6e0436ce962cd61e7dacc8fb49888f9a997387a16041.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/4e982c3eafac47f662e857b00b64b9801948b6b336f256cb8d3b768e4c8f9c7c.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/fca48430d7ea5c68dba8d5c78b2f5d5e15546209fb669315f51a272808e2ef73.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/88f20b32afd12ac9e4fe0a630cfdae8889fd810b81b79231e1991e70c0a26768.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/6b84fe748077d9a437df4481644802dade5d86e78120182e549ed84f408d0d21.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/2bbfef2ff9e844a977273ef48a15bf62ec50ff5b457743a9ba2aa2e1ebd2953f.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("https://cdn.discordapp.com/assets/content/a96a4329126363fc9d8f9a7abe2a9a0ebbfe967c5aa6a8ff88db532ac07edbd0.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/emoji_96.png") !important;
}

/* picker  */
.sprite__04eed {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/picker.png") !important;
}