/* yellow 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/a1f9b84138986841d913ceef0667b6c1.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/yellow_64.png") !important;
}

/* light 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/c98245de17b5595d326270eebb644ae4.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_64.png") !important;
}

/* light_medium 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/2d1ce673d299c6002323eafa51600bed.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_medium_64.png") !important;
}

/* medium 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/41b4b63a98bc21363c8cfe56c407d141.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/medium_64.png") !important;
}

/* dark_medium 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/f450b64e9b233b8a7ce1d53b4548e358.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_medium_64.png") !important;
}

/* dark 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/d512d2ff660f928e69410c0ec88d44d2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_64.png") !important;
}

/* emoji 64px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/62ed7720accb1adfe95565b114e843c6.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/emoji_64.png") !important;
}

/* yellow 80px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/ce5e1375632f91acaa8fe62226742fa3.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/yellow_80.png") !important;
}

/* light 80px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/be8b2f306f97f70706413d225d282040.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_80.png") !important;
}

/* light_medium 80px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/61a29b71548ec95fe4ced0ff716cf267.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_medium_80.png") !important;
}

/* medium 80px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/d2b91552b4dff24c493066c374ecbf8c.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/medium_80.png") !important;
}

/* dark_medium 80px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/45dab724ef0aa6dec87ba41639ed11e9.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_medium_80.png") !important;
}

/* dark 80px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/759f151c0a438e0f6ab1a65576ae717f.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_80.png") !important;
}

/* emoji 80px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/d218674f309bcbfbf56faf6074df6347.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/emoji_80.png") !important;
}

/* yellow 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/147a7fa1fe77a056cef93c3cac458a4e.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/93a5d06577df0a32674ac2b4d4600791.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/5f01a06cc198b5f0b5400c46ef708958.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/03127a602dda09db7827cfcec3b9929b.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/9b5c4853dd27a02c02f73e73abb7d40e.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/c171aafd546fdb88b6d3f9307ab8f607.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage-3ykvhZ[style*='background-image: url("/assets/ad5991c1546ca96136cfe8048d4ee488.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/emoji_96.png") !important;
}

/* picker 44px */
.sprite-2lxwfc {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/picker_44.png") !important;
}