/* yellow 80px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/5b22c3d21f5c3efc2b5c.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/yellow_80.png") !important;
}

/* light 80px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/0f2a792f42643183e68f.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_80.png") !important;
}

/* light_medium 80px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/16fbca335c5f5c99a3ac.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_medium_80.png") !important;
}

/* medium 80px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/7cf9c2872e8470cdf1b9.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/medium_80.png") !important;
}

/* dark_medium 80px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/36ca1651f29f743c1bcb.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_medium_80.png") !important;
}

/* dark 80px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/07fa4042a0d46f224379.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_80.png") !important;
}

/* emoji 80px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/ff1aaec09347a7b23f48.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/emoji_80.png") !important;
}

/* yellow 96px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/38d1253144e3f7ec770d.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/bb72715d7a6549f0aed7.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/e1b728f96b654ad8ec3a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/acdb78ff5d3ff4be49db.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/c74f677643a22b7b5019.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/4d2c5650ce74d82bd821.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/eb34899f42bbb8c0cf9c.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/emoji_96.png") !important;
}

/* picker  */
.sprite__294b3 {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/picker.png") !important;
}