:root {
	--themedevbadge: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 508.52 508.52" style="enable-background:new 0 0 508.52 508.52;" xml:space="preserve"><path fill="black" d="M63.565, 476.737c0, 12.84, 7.755, 24.473, 19.61, 29.367c3.941, 1.621, 8.073, 2.415, 12.173, 2.415c8.263, 0, 16.4-3.242, 22.47-9.312L254.26, 362.765l136.442, 136.442c6.07, 6.07, 14.207, 9.312, 22.47, 9.312c4.1, 0, 8.232-0.795, 12.141-2.415c11.887-4.894, 19.642-16.527, 19.642-29.367V165.347H63.565V476.737z"/><path fill="black" d="M413.172, 0H95.347C77.804, 0, 63.565, 14.239, 63.565, 31.782v61.782h381.39V31.782C444.955, 14.239, 430.716, 0, 413.172, 0z"/></svg>') !important;
	--themedevbadgebackdrop: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 508.52 508.52" style="enable-background:new 0 0 508.52 508.52;" xml:space="preserve"><path fill="black" d="M63.565, 476.737c0, 12.84, 7.755, 24.473, 19.61, 29.367c3.941, 1.621, 8.073, 2.415, 12.173, 2.415c8.263, 0, 16.4-3.242, 22.47-9.312L254.26, 362.765l136.442, 136.442c6.07, 6.07, 14.207, 9.312, 22.47, 9.312c4.1, 0, 8.232-0.795, 12.141-2.415c11.887-4.894, 19.642-16.527, 19.642-29.367V95.347H63.565V476.737z"/><path fill="black" d="M413.172, 0H95.347C77.804, 0, 63.565, 14.239, 63.565, 31.782v81.782h381.39V31.782C444.955, 14.239, 430.716, 0, 413.172, 0z"/></svg>') !important;
}
.root-SR8cQa .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:after,
.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:after {
	content: "" !important;
	-webkit-mask: var(--themedevbadge) center/cover no-repeat !important;
	background: #7289DA !important;
	position: absolute !important;
    z-index: 1002 !important;
	width: 22px !important;
	height: 22px !important;
	left: 0px !important;
	bottom: -2px !important;
	pointer-events: none !important;
}
.root-SR8cQa .topSectionPlaying-1J5E4n .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:after,
.userPopout-3XzG_A .headerPlaying-j0WQBV .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:after {
	filter: brightness(80%) !important;
}

.root-SR8cQa .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:before,
.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:before {
	content: "" !important;
	-webkit-mask: var(--themedevbadgebackdrop) center/cover no-repeat !important;
	background: #F6F6F7 !important;
	position: absolute !important;
    z-index: 1002 !important;
	width: 37px !important;
	height: 37px !important;
	left: -7px !important;
	bottom: -11px !important;
	pointer-events: none !important;
}
.theme-dark .root-SR8cQa .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:before,
.theme-dark .userPopout-3XzG_A .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:before {
	background: #202225 !important;
}
.root-SR8cQa .topSectionPlaying-1J5E4n .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:before,
.userPopout-3XzG_A .headerPlaying-j0WQBV .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:before {
	background: #7289DA !important;
}
.root-SR8cQa .topSectionSpotify-1lI0-P .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:before,
.userPopout-3XzG_A .headerSpotify-zpWxgT .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:before {
	background: #1DB954 !important;
}
.root-SR8cQa .topSectionStreaming-1Tpf5X .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:before,
.userPopout-3XzG_A .headerStreaming-2FjmGz .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:before {
	background: #593695 !important;
}
.root-SR8cQa .topSectionXbox-3fWLjS .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:before,
.userPopout-3XzG_A .headerXbox-3G-4PF .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:before {
	background: #107C10 !important;
}
.root-SR8cQa .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:not(.statusHovered):hover + .headerInfo-30uryT:before,
.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:not(.statusHovered):hover .wrapper-3t9DeA:before {
	content: "Theme Developer" !important;
	white-space: nowrap !important;
    background-color: #000 !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2) !important;
    color: #dcddde !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 16px !important;
    max-width: 190px !important;
    padding: 8px 12px !important;
    position: absolute !important;
    z-index: 1002 !important;
	pointer-events: none !important;
}
.root-SR8cQa .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:not(.statusHovered):hover + .headerInfo-30uryT:after,
.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:not(.statusHovered):hover .wrapper-3t9DeA:after {
	content: "" !important;
    position: absolute !important;
    z-index: 1002 !important;
	border: 5px solid transparent !important;
	pointer-events: none !important;
}
.root-SR8cQa .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:not(.statusHovered):hover + .headerInfo-30uryT:before {
	left: 52px !important;
	top: 87px !important;
}
.root-SR8cQa .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:not(.statusHovered):hover + .headerInfo-30uryT:after {
	border-right-color: #000 !important;
	left: 42px !important;
	top: 98px !important;
}
.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:not(.statusHovered):hover .wrapper-3t9DeA:before {
	top: 14px !important;
	left: -53px !important;
}
.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_BDFDB="278543574059057154"]:not(.statusHovered):hover .wrapper-3t9DeA:after {
	border-top-color: #000 !important;
	top: 45px !important;
	left: 7px !important;
}

.headerCozy-2N9HOL .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:before {
	content: "" !important;
	-webkit-mask: var(--themedevbadgebackdrop) center/cover no-repeat !important;
	background: #FFFFFF !important;
	position: absolute !important;
	width: 20px !important;
	height: 20px !important;
	left: -3.5px !important;
	bottom: -5px !important;
	z-index: 1 !important;
}
.theme-dark .headerCozy-2N9HOL .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:before {
	background: #36393F !important;
}
.headerCozy-2N9HOL .wrapper-3t9DeA[user_by_BDFDB="278543574059057154"]:after {
	content: "" !important;
	-webkit-mask: var(--themedevbadge) center/cover no-repeat !important;
	background: #7289DA !important;
	position: absolute !important;
	width: 14px !important;
	height: 14px !important;
	left: -2px !important;
	bottom: -3px !important;
	z-index: 2 !important;
}