/* flag_black */
.diversityEmojiItemImage_a45a2a[src='/assets/d988e7ce7a7f47fd.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.image__1859b[src='/assets/d988e7ce7a7f47fd.svg'], .image__1859b[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.emoji__045fa[src='/assets/d988e7ce7a7f47fd.svg'], .emoji__045fa[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.emojiImage__13533[src='/assets/d988e7ce7a7f47fd.svg'], .emojiImage__13533[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.icon_c1e9c4[src='/assets/d988e7ce7a7f47fd.svg'], .icon_c1e9c4[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.icon_f563df[src='/assets/d988e7ce7a7f47fd.svg'], .icon_f563df[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.emoji_b7f4b4[src='/assets/d988e7ce7a7f47fd.svg'], .emoji_b7f4b4[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.emoji__01c8c[src='/assets/d988e7ce7a7f47fd.svg'], .emoji__01c8c[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.roleIcon_ee71ee[src='/assets/d988e7ce7a7f47fd.svg'], .roleIcon_ee71ee[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.emoji[src='/assets/d988e7ce7a7f47fd.svg'], .emoji[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/BlobMoji/flags/flag_black.png") !important;
}

/* checkered_flag */
.diversityEmojiItemImage_a45a2a[src='/assets/e5333cf49e7d6d2b.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.image__1859b[src='/assets/e5333cf49e7d6d2b.svg'], .image__1859b[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.emoji__045fa[src='/assets/e5333cf49e7d6d2b.svg'], .emoji__045fa[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.emojiImage__13533[src='/assets/e5333cf49e7d6d2b.svg'], .emojiImage__13533[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.icon_c1e9c4[src='/assets/e5333cf49e7d6d2b.svg'], .icon_c1e9c4[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.icon_f563df[src='/assets/e5333cf49e7d6d2b.svg'], .icon_f563df[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.emoji_b7f4b4[src='/assets/e5333cf49e7d6d2b.svg'], .emoji_b7f4b4[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.emoji__01c8c[src='/assets/e5333cf49e7d6d2b.svg'], .emoji__01c8c[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.roleIcon_ee71ee[src='/assets/e5333cf49e7d6d2b.svg'], .roleIcon_ee71ee[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.emoji[src='/assets/e5333cf49e7d6d2b.svg'], .emoji[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/BlobMoji/flags/checkered_flag.png") !important;
}

/* triangular_flag_on_post */
.diversityEmojiItemImage_a45a2a[src='/assets/599e8d2082e21225.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.image__1859b[src='/assets/599e8d2082e21225.svg'], .image__1859b[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.emoji__045fa[src='/assets/599e8d2082e21225.svg'], .emoji__045fa[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.emojiImage__13533[src='/assets/599e8d2082e21225.svg'], .emojiImage__13533[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.icon_c1e9c4[src='/assets/599e8d2082e21225.svg'], .icon_c1e9c4[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.icon_f563df[src='/assets/599e8d2082e21225.svg'], .icon_f563df[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.emoji_b7f4b4[src='/assets/599e8d2082e21225.svg'], .emoji_b7f4b4[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.emoji__01c8c[src='/assets/599e8d2082e21225.svg'], .emoji__01c8c[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.roleIcon_ee71ee[src='/assets/599e8d2082e21225.svg'], .roleIcon_ee71ee[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.emoji[src='/assets/599e8d2082e21225.svg'], .emoji[style*='background-image: url("/assets/599e8d2082e21225.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/BlobMoji/flags/triangular_flag_on_post.png") !important;
}

/* transgender_flag */
.diversityEmojiItemImage_a45a2a[src='/assets/cee21e3523daa7c0.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.image__1859b[src='/assets/cee21e3523daa7c0.svg'], .image__1859b[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.emoji__045fa[src='/assets/cee21e3523daa7c0.svg'], .emoji__045fa[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.emojiImage__13533[src='/assets/cee21e3523daa7c0.svg'], .emojiImage__13533[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.icon_c1e9c4[src='/assets/cee21e3523daa7c0.svg'], .icon_c1e9c4[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.icon_f563df[src='/assets/cee21e3523daa7c0.svg'], .icon_f563df[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.emoji_b7f4b4[src='/assets/cee21e3523daa7c0.svg'], .emoji_b7f4b4[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.emoji__01c8c[src='/assets/cee21e3523daa7c0.svg'], .emoji__01c8c[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.roleIcon_ee71ee[src='/assets/cee21e3523daa7c0.svg'], .roleIcon_ee71ee[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.emoji[src='/assets/cee21e3523daa7c0.svg'], .emoji[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/BlobMoji/flags/transgender_flag.png") !important;
}

/* crossed_flags */
.diversityEmojiItemImage_a45a2a[src='/assets/a4ad6786199d0358.svg'], .diversityEmojiItemImage_a45a2a[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.image__1859b[src='/assets/a4ad6786199d0358.svg'], .image__1859b[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.emoji__045fa[src='/assets/a4ad6786199d0358.svg'], .emoji__045fa[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.emojiImage__13533[src='/assets/a4ad6786199d0358.svg'], .emojiImage__13533[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.icon_c1e9c4[src='/assets/a4ad6786199d0358.svg'], .icon_c1e9c4[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.icon_f563df[src='/assets/a4ad6786199d0358.svg'], .icon_f563df[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.emoji_b7f4b4[src='/assets/a4ad6786199d0358.svg'], .emoji_b7f4b4[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.emoji__01c8c[src='/assets/a4ad6786199d0358.svg'], .emoji__01c8c[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.roleIcon_ee71ee[src='/assets/a4ad6786199d0358.svg'], .roleIcon_ee71ee[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.emoji[src='/assets/a4ad6786199d0358.svg'], .emoji[style*='background-image: url("/assets/a4ad6786199d0358.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/BlobMoji/flags/crossed_flags.png") !important;
}