//META {"name":"BlurpleRecolor","description":"Replaces discords native blurple with your own color, change color in themefile.","author":"DevilBro","version":"1.0.0","website":"https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BlurpleRecolor","source":"https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BlurpleRecolor/BlurpleRecolor.theme.css"}*//{}

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

:root {
	--accentcolor: 163,47,194;		/* blurple - default: 114,137,218 */
	--linkcolor: 190,60,220;		/* link - default: 0,176,244 */
}