/**
 * @name BlurpleRecolor
 * @description Replaces Discord's native Blurple and Boost-Pink with your own Color
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BlurpleRecolor/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.theme.css
 *
 * @var text		accentcolor		"Blurple Color"			163, 47, 194
 * @var text		accentcolor2	"Boost Pink Color"		225, 115, 180
 * @var text		linkcolor		"Link Color"			190, 60, 220
 */

/* To change stuff like the colors, transparency and background image, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	--accentcolor:			163, 47, 194;		/*	blurple		-	default:	88, 101, 242		*/
	--accentcolor2:			225, 115, 180;		/*	boostpink	-	default:	255, 115, 250		*/
	--linkcolor:			190, 60, 220;		/*	link		-	default:	0, 176, 244			*/
}