/* yellow 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/c4686a94a4ee4c5c0aeda9045153f0c9.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/yellow_64.png") !important;
}

/* light 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/579f5ce386bbbddad535fa9bf0d4bf39.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/light_64.png") !important;
}

/* light_medium 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/1deefefeaad122dd1dd84bd024c451fc.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/light_medium_64.png") !important;
}

/* medium 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/44b5eda9b9b5a0bfa1167dace63813e8.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/medium_64.png") !important;
}

/* dark_medium 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/45ed5ddcdf32b6c2a0ac617127bb7581.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/dark_medium_64.png") !important;
}

/* dark 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/1a3967245ff8e32ea26cf74e89b73118.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/dark_64.png") !important;
}

/* emoji 64px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/2071e22f8044e1f9e4f7c7afb7ac484a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/emoji_64.png") !important;
}

/* yellow 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/8cee84ad3c1f3a282f153aa05779ffaf.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/bb7395cd907aac2310addd989cf4fd78.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/60c41ac7eea349b437b9062613f2c0ea.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/a5292962f334b2774a701890c6e78c81.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/7d475637315d2d6dac884e0b82f46910.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/4255b0189ad8573cf72c4bf3c4957309.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage-TcJnG8[style*='background-image: url("/assets/73cf0d368fecec9b690532e8038e8193.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/emoji_96.png") !important;
}

/* picker 44px */
.sprite-2iCowe {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/JoyPixels/picker_44.png") !important;
}