/* flag_white */
.diversityEmojiItemImage_cce80d[src='/assets/e698742e67a0cfd19d8b.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'], 
.image_b000dd[src='/assets/e698742e67a0cfd19d8b.svg'], .image_b000dd[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'], 
.emoji_f48b14[src='/assets/e698742e67a0cfd19d8b.svg'], .emoji_f48b14[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'], 
.emojiImage_f23da8[src='/assets/e698742e67a0cfd19d8b.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'], 
.image_d90b3d[src='/assets/e698742e67a0cfd19d8b.svg'], .image_d90b3d[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'], 
.icon_a24e84[src='/assets/e698742e67a0cfd19d8b.svg'], .icon_a24e84[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'], 
.emoji_f2bfbb[src='/assets/e698742e67a0cfd19d8b.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'], 
.emoji_cbdbf0[src='/assets/e698742e67a0cfd19d8b.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'], 
.roleIcon_d5100b[src='/assets/e698742e67a0cfd19d8b.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'], 
.emoji[src='/assets/e698742e67a0cfd19d8b.svg'], .emoji[style*='background-image: url("/assets/e698742e67a0cfd19d8b.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/flag_white.png") !important;
}

/* flag_black */
.diversityEmojiItemImage_cce80d[src='/assets/1776e7cc234d5dfc6f40.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'], 
.image_b000dd[src='/assets/1776e7cc234d5dfc6f40.svg'], .image_b000dd[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'], 
.emoji_f48b14[src='/assets/1776e7cc234d5dfc6f40.svg'], .emoji_f48b14[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'], 
.emojiImage_f23da8[src='/assets/1776e7cc234d5dfc6f40.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'], 
.image_d90b3d[src='/assets/1776e7cc234d5dfc6f40.svg'], .image_d90b3d[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'], 
.icon_a24e84[src='/assets/1776e7cc234d5dfc6f40.svg'], .icon_a24e84[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'], 
.emoji_f2bfbb[src='/assets/1776e7cc234d5dfc6f40.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'], 
.emoji_cbdbf0[src='/assets/1776e7cc234d5dfc6f40.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'], 
.roleIcon_d5100b[src='/assets/1776e7cc234d5dfc6f40.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'], 
.emoji[src='/assets/1776e7cc234d5dfc6f40.svg'], .emoji[style*='background-image: url("/assets/1776e7cc234d5dfc6f40.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/flag_black.png") !important;
}

/* pirate_flag */
.diversityEmojiItemImage_cce80d[src='/assets/670eda141930d7d5ffb6.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'], 
.image_b000dd[src='/assets/670eda141930d7d5ffb6.svg'], .image_b000dd[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'], 
.emoji_f48b14[src='/assets/670eda141930d7d5ffb6.svg'], .emoji_f48b14[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'], 
.emojiImage_f23da8[src='/assets/670eda141930d7d5ffb6.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'], 
.image_d90b3d[src='/assets/670eda141930d7d5ffb6.svg'], .image_d90b3d[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'], 
.icon_a24e84[src='/assets/670eda141930d7d5ffb6.svg'], .icon_a24e84[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'], 
.emoji_f2bfbb[src='/assets/670eda141930d7d5ffb6.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'], 
.emoji_cbdbf0[src='/assets/670eda141930d7d5ffb6.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'], 
.roleIcon_d5100b[src='/assets/670eda141930d7d5ffb6.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'], 
.emoji[src='/assets/670eda141930d7d5ffb6.svg'], .emoji[style*='background-image: url("/assets/670eda141930d7d5ffb6.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/pirate_flag.png") !important;
}

/* checkered_flag */
.diversityEmojiItemImage_cce80d[src='/assets/06a4b72cf31edbc42dc2.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'], 
.image_b000dd[src='/assets/06a4b72cf31edbc42dc2.svg'], .image_b000dd[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'], 
.emoji_f48b14[src='/assets/06a4b72cf31edbc42dc2.svg'], .emoji_f48b14[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'], 
.emojiImage_f23da8[src='/assets/06a4b72cf31edbc42dc2.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'], 
.image_d90b3d[src='/assets/06a4b72cf31edbc42dc2.svg'], .image_d90b3d[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'], 
.icon_a24e84[src='/assets/06a4b72cf31edbc42dc2.svg'], .icon_a24e84[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'], 
.emoji_f2bfbb[src='/assets/06a4b72cf31edbc42dc2.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'], 
.emoji_cbdbf0[src='/assets/06a4b72cf31edbc42dc2.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'], 
.roleIcon_d5100b[src='/assets/06a4b72cf31edbc42dc2.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'], 
.emoji[src='/assets/06a4b72cf31edbc42dc2.svg'], .emoji[style*='background-image: url("/assets/06a4b72cf31edbc42dc2.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/checkered_flag.png") !important;
}

/* triangular_flag_on_post */
.diversityEmojiItemImage_cce80d[src='/assets/c15792c394e9062ab9a8.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'], 
.image_b000dd[src='/assets/c15792c394e9062ab9a8.svg'], .image_b000dd[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'], 
.emoji_f48b14[src='/assets/c15792c394e9062ab9a8.svg'], .emoji_f48b14[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'], 
.emojiImage_f23da8[src='/assets/c15792c394e9062ab9a8.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'], 
.image_d90b3d[src='/assets/c15792c394e9062ab9a8.svg'], .image_d90b3d[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'], 
.icon_a24e84[src='/assets/c15792c394e9062ab9a8.svg'], .icon_a24e84[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'], 
.emoji_f2bfbb[src='/assets/c15792c394e9062ab9a8.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'], 
.emoji_cbdbf0[src='/assets/c15792c394e9062ab9a8.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'], 
.roleIcon_d5100b[src='/assets/c15792c394e9062ab9a8.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'], 
.emoji[src='/assets/c15792c394e9062ab9a8.svg'], .emoji[style*='background-image: url("/assets/c15792c394e9062ab9a8.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/triangular_flag_on_post.png") !important;
}

/* rainbow_flag */
.diversityEmojiItemImage_cce80d[src='/assets/5f842413fc48bad0395d.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'], 
.image_b000dd[src='/assets/5f842413fc48bad0395d.svg'], .image_b000dd[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'], 
.emoji_f48b14[src='/assets/5f842413fc48bad0395d.svg'], .emoji_f48b14[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'], 
.emojiImage_f23da8[src='/assets/5f842413fc48bad0395d.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'], 
.image_d90b3d[src='/assets/5f842413fc48bad0395d.svg'], .image_d90b3d[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'], 
.icon_a24e84[src='/assets/5f842413fc48bad0395d.svg'], .icon_a24e84[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'], 
.emoji_f2bfbb[src='/assets/5f842413fc48bad0395d.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'], 
.emoji_cbdbf0[src='/assets/5f842413fc48bad0395d.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'], 
.roleIcon_d5100b[src='/assets/5f842413fc48bad0395d.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'], 
.emoji[src='/assets/5f842413fc48bad0395d.svg'], .emoji[style*='background-image: url("/assets/5f842413fc48bad0395d.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/rainbow_flag.png") !important;
}

/* transgender_flag */
.diversityEmojiItemImage_cce80d[src='/assets/f59a936c56145967be44.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/f59a936c56145967be44.svg")'], 
.image_b000dd[src='/assets/f59a936c56145967be44.svg'], .image_b000dd[style*='background-image: url("/assets/f59a936c56145967be44.svg")'], 
.emoji_f48b14[src='/assets/f59a936c56145967be44.svg'], .emoji_f48b14[style*='background-image: url("/assets/f59a936c56145967be44.svg")'], 
.emojiImage_f23da8[src='/assets/f59a936c56145967be44.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/f59a936c56145967be44.svg")'], 
.image_d90b3d[src='/assets/f59a936c56145967be44.svg'], .image_d90b3d[style*='background-image: url("/assets/f59a936c56145967be44.svg")'], 
.icon_a24e84[src='/assets/f59a936c56145967be44.svg'], .icon_a24e84[style*='background-image: url("/assets/f59a936c56145967be44.svg")'], 
.emoji_f2bfbb[src='/assets/f59a936c56145967be44.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/f59a936c56145967be44.svg")'], 
.emoji_cbdbf0[src='/assets/f59a936c56145967be44.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/f59a936c56145967be44.svg")'], 
.roleIcon_d5100b[src='/assets/f59a936c56145967be44.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/f59a936c56145967be44.svg")'], 
.emoji[src='/assets/f59a936c56145967be44.svg'], .emoji[style*='background-image: url("/assets/f59a936c56145967be44.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/transgender_flag.png") !important;
}

/* crossed_flags */
.diversityEmojiItemImage_cce80d[src='/assets/678ea900362a374b4653.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/678ea900362a374b4653.svg")'], 
.image_b000dd[src='/assets/678ea900362a374b4653.svg'], .image_b000dd[style*='background-image: url("/assets/678ea900362a374b4653.svg")'], 
.emoji_f48b14[src='/assets/678ea900362a374b4653.svg'], .emoji_f48b14[style*='background-image: url("/assets/678ea900362a374b4653.svg")'], 
.emojiImage_f23da8[src='/assets/678ea900362a374b4653.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/678ea900362a374b4653.svg")'], 
.image_d90b3d[src='/assets/678ea900362a374b4653.svg'], .image_d90b3d[style*='background-image: url("/assets/678ea900362a374b4653.svg")'], 
.icon_a24e84[src='/assets/678ea900362a374b4653.svg'], .icon_a24e84[style*='background-image: url("/assets/678ea900362a374b4653.svg")'], 
.emoji_f2bfbb[src='/assets/678ea900362a374b4653.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/678ea900362a374b4653.svg")'], 
.emoji_cbdbf0[src='/assets/678ea900362a374b4653.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/678ea900362a374b4653.svg")'], 
.roleIcon_d5100b[src='/assets/678ea900362a374b4653.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/678ea900362a374b4653.svg")'], 
.emoji[src='/assets/678ea900362a374b4653.svg'], .emoji[style*='background-image: url("/assets/678ea900362a374b4653.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/crossed_flags.png") !important;
}