/* flag_white */
.a45a2a5d0f4caddc-diversityEmojiItemImage[src='/assets/87c013c7e20e02e9.svg'], .a45a2a5d0f4caddc-diversityEmojiItemImage[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'], 
._1859b636cb709618-image[src='/assets/87c013c7e20e02e9.svg'], ._1859b636cb709618-image[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'], 
._045fa59e1520eeda-emoji[src='/assets/87c013c7e20e02e9.svg'], ._045fa59e1520eeda-emoji[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'], 
._13533e3c5791980f-emojiImage[src='/assets/87c013c7e20e02e9.svg'], ._13533e3c5791980f-emojiImage[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'], 
.c1e9c47c23f12ca3-icon[src='/assets/87c013c7e20e02e9.svg'], .c1e9c47c23f12ca3-icon[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'], 
.f563df886a7377be-icon[src='/assets/87c013c7e20e02e9.svg'], .f563df886a7377be-icon[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'], 
.b7f4b43fe1b6e285-emoji[src='/assets/87c013c7e20e02e9.svg'], .b7f4b43fe1b6e285-emoji[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'], 
._01c8cef726c85956-emoji[src='/assets/87c013c7e20e02e9.svg'], ._01c8cef726c85956-emoji[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'], 
.ee71ee16cc02184d-roleIcon[src='/assets/87c013c7e20e02e9.svg'], .ee71ee16cc02184d-roleIcon[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'], 
.emoji[src='/assets/87c013c7e20e02e9.svg'], .emoji[style*='background-image: url("/assets/87c013c7e20e02e9.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/flag_white.png") !important;
}

/* flag_black */
.a45a2a5d0f4caddc-diversityEmojiItemImage[src='/assets/d988e7ce7a7f47fd.svg'], .a45a2a5d0f4caddc-diversityEmojiItemImage[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
._1859b636cb709618-image[src='/assets/d988e7ce7a7f47fd.svg'], ._1859b636cb709618-image[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
._045fa59e1520eeda-emoji[src='/assets/d988e7ce7a7f47fd.svg'], ._045fa59e1520eeda-emoji[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
._13533e3c5791980f-emojiImage[src='/assets/d988e7ce7a7f47fd.svg'], ._13533e3c5791980f-emojiImage[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.c1e9c47c23f12ca3-icon[src='/assets/d988e7ce7a7f47fd.svg'], .c1e9c47c23f12ca3-icon[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.f563df886a7377be-icon[src='/assets/d988e7ce7a7f47fd.svg'], .f563df886a7377be-icon[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.b7f4b43fe1b6e285-emoji[src='/assets/d988e7ce7a7f47fd.svg'], .b7f4b43fe1b6e285-emoji[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
._01c8cef726c85956-emoji[src='/assets/d988e7ce7a7f47fd.svg'], ._01c8cef726c85956-emoji[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.ee71ee16cc02184d-roleIcon[src='/assets/d988e7ce7a7f47fd.svg'], .ee71ee16cc02184d-roleIcon[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'], 
.emoji[src='/assets/d988e7ce7a7f47fd.svg'], .emoji[style*='background-image: url("/assets/d988e7ce7a7f47fd.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/flag_black.png") !important;
}

/* pirate_flag */
.a45a2a5d0f4caddc-diversityEmojiItemImage[src='/assets/839290821f619f21.svg'], .a45a2a5d0f4caddc-diversityEmojiItemImage[style*='background-image: url("/assets/839290821f619f21.svg")'], 
._1859b636cb709618-image[src='/assets/839290821f619f21.svg'], ._1859b636cb709618-image[style*='background-image: url("/assets/839290821f619f21.svg")'], 
._045fa59e1520eeda-emoji[src='/assets/839290821f619f21.svg'], ._045fa59e1520eeda-emoji[style*='background-image: url("/assets/839290821f619f21.svg")'], 
._13533e3c5791980f-emojiImage[src='/assets/839290821f619f21.svg'], ._13533e3c5791980f-emojiImage[style*='background-image: url("/assets/839290821f619f21.svg")'], 
.c1e9c47c23f12ca3-icon[src='/assets/839290821f619f21.svg'], .c1e9c47c23f12ca3-icon[style*='background-image: url("/assets/839290821f619f21.svg")'], 
.f563df886a7377be-icon[src='/assets/839290821f619f21.svg'], .f563df886a7377be-icon[style*='background-image: url("/assets/839290821f619f21.svg")'], 
.b7f4b43fe1b6e285-emoji[src='/assets/839290821f619f21.svg'], .b7f4b43fe1b6e285-emoji[style*='background-image: url("/assets/839290821f619f21.svg")'], 
._01c8cef726c85956-emoji[src='/assets/839290821f619f21.svg'], ._01c8cef726c85956-emoji[style*='background-image: url("/assets/839290821f619f21.svg")'], 
.ee71ee16cc02184d-roleIcon[src='/assets/839290821f619f21.svg'], .ee71ee16cc02184d-roleIcon[style*='background-image: url("/assets/839290821f619f21.svg")'], 
.emoji[src='/assets/839290821f619f21.svg'], .emoji[style*='background-image: url("/assets/839290821f619f21.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/pirate_flag.png") !important;
}

/* checkered_flag */
.a45a2a5d0f4caddc-diversityEmojiItemImage[src='/assets/e5333cf49e7d6d2b.svg'], .a45a2a5d0f4caddc-diversityEmojiItemImage[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
._1859b636cb709618-image[src='/assets/e5333cf49e7d6d2b.svg'], ._1859b636cb709618-image[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
._045fa59e1520eeda-emoji[src='/assets/e5333cf49e7d6d2b.svg'], ._045fa59e1520eeda-emoji[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
._13533e3c5791980f-emojiImage[src='/assets/e5333cf49e7d6d2b.svg'], ._13533e3c5791980f-emojiImage[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.c1e9c47c23f12ca3-icon[src='/assets/e5333cf49e7d6d2b.svg'], .c1e9c47c23f12ca3-icon[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.f563df886a7377be-icon[src='/assets/e5333cf49e7d6d2b.svg'], .f563df886a7377be-icon[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.b7f4b43fe1b6e285-emoji[src='/assets/e5333cf49e7d6d2b.svg'], .b7f4b43fe1b6e285-emoji[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
._01c8cef726c85956-emoji[src='/assets/e5333cf49e7d6d2b.svg'], ._01c8cef726c85956-emoji[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.ee71ee16cc02184d-roleIcon[src='/assets/e5333cf49e7d6d2b.svg'], .ee71ee16cc02184d-roleIcon[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'], 
.emoji[src='/assets/e5333cf49e7d6d2b.svg'], .emoji[style*='background-image: url("/assets/e5333cf49e7d6d2b.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/checkered_flag.png") !important;
}

/* triangular_flag_on_post */
.a45a2a5d0f4caddc-diversityEmojiItemImage[src='/assets/599e8d2082e21225.svg'], .a45a2a5d0f4caddc-diversityEmojiItemImage[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
._1859b636cb709618-image[src='/assets/599e8d2082e21225.svg'], ._1859b636cb709618-image[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
._045fa59e1520eeda-emoji[src='/assets/599e8d2082e21225.svg'], ._045fa59e1520eeda-emoji[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
._13533e3c5791980f-emojiImage[src='/assets/599e8d2082e21225.svg'], ._13533e3c5791980f-emojiImage[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.c1e9c47c23f12ca3-icon[src='/assets/599e8d2082e21225.svg'], .c1e9c47c23f12ca3-icon[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.f563df886a7377be-icon[src='/assets/599e8d2082e21225.svg'], .f563df886a7377be-icon[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.b7f4b43fe1b6e285-emoji[src='/assets/599e8d2082e21225.svg'], .b7f4b43fe1b6e285-emoji[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
._01c8cef726c85956-emoji[src='/assets/599e8d2082e21225.svg'], ._01c8cef726c85956-emoji[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.ee71ee16cc02184d-roleIcon[src='/assets/599e8d2082e21225.svg'], .ee71ee16cc02184d-roleIcon[style*='background-image: url("/assets/599e8d2082e21225.svg")'], 
.emoji[src='/assets/599e8d2082e21225.svg'], .emoji[style*='background-image: url("/assets/599e8d2082e21225.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/triangular_flag_on_post.png") !important;
}

/* rainbow_flag */
.a45a2a5d0f4caddc-diversityEmojiItemImage[src='/assets/43c4377ffbafe2da.svg'], .a45a2a5d0f4caddc-diversityEmojiItemImage[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'], 
._1859b636cb709618-image[src='/assets/43c4377ffbafe2da.svg'], ._1859b636cb709618-image[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'], 
._045fa59e1520eeda-emoji[src='/assets/43c4377ffbafe2da.svg'], ._045fa59e1520eeda-emoji[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'], 
._13533e3c5791980f-emojiImage[src='/assets/43c4377ffbafe2da.svg'], ._13533e3c5791980f-emojiImage[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'], 
.c1e9c47c23f12ca3-icon[src='/assets/43c4377ffbafe2da.svg'], .c1e9c47c23f12ca3-icon[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'], 
.f563df886a7377be-icon[src='/assets/43c4377ffbafe2da.svg'], .f563df886a7377be-icon[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'], 
.b7f4b43fe1b6e285-emoji[src='/assets/43c4377ffbafe2da.svg'], .b7f4b43fe1b6e285-emoji[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'], 
._01c8cef726c85956-emoji[src='/assets/43c4377ffbafe2da.svg'], ._01c8cef726c85956-emoji[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'], 
.ee71ee16cc02184d-roleIcon[src='/assets/43c4377ffbafe2da.svg'], .ee71ee16cc02184d-roleIcon[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'], 
.emoji[src='/assets/43c4377ffbafe2da.svg'], .emoji[style*='background-image: url("/assets/43c4377ffbafe2da.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/rainbow_flag.png") !important;
}

/* transgender_flag */
.a45a2a5d0f4caddc-diversityEmojiItemImage[src='/assets/cee21e3523daa7c0.svg'], .a45a2a5d0f4caddc-diversityEmojiItemImage[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
._1859b636cb709618-image[src='/assets/cee21e3523daa7c0.svg'], ._1859b636cb709618-image[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
._045fa59e1520eeda-emoji[src='/assets/cee21e3523daa7c0.svg'], ._045fa59e1520eeda-emoji[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
._13533e3c5791980f-emojiImage[src='/assets/cee21e3523daa7c0.svg'], ._13533e3c5791980f-emojiImage[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.c1e9c47c23f12ca3-icon[src='/assets/cee21e3523daa7c0.svg'], .c1e9c47c23f12ca3-icon[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.f563df886a7377be-icon[src='/assets/cee21e3523daa7c0.svg'], .f563df886a7377be-icon[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.b7f4b43fe1b6e285-emoji[src='/assets/cee21e3523daa7c0.svg'], .b7f4b43fe1b6e285-emoji[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
._01c8cef726c85956-emoji[src='/assets/cee21e3523daa7c0.svg'], ._01c8cef726c85956-emoji[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.ee71ee16cc02184d-roleIcon[src='/assets/cee21e3523daa7c0.svg'], .ee71ee16cc02184d-roleIcon[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'], 
.emoji[src='/assets/cee21e3523daa7c0.svg'], .emoji[style*='background-image: url("/assets/cee21e3523daa7c0.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/transgender_flag.png") !important;
}

/* crossed_flags */
.a45a2a5d0f4caddc-diversityEmojiItemImage[src='/assets/a4ad6786199d0358.svg'], .a45a2a5d0f4caddc-diversityEmojiItemImage[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
._1859b636cb709618-image[src='/assets/a4ad6786199d0358.svg'], ._1859b636cb709618-image[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
._045fa59e1520eeda-emoji[src='/assets/a4ad6786199d0358.svg'], ._045fa59e1520eeda-emoji[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
._13533e3c5791980f-emojiImage[src='/assets/a4ad6786199d0358.svg'], ._13533e3c5791980f-emojiImage[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.c1e9c47c23f12ca3-icon[src='/assets/a4ad6786199d0358.svg'], .c1e9c47c23f12ca3-icon[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.f563df886a7377be-icon[src='/assets/a4ad6786199d0358.svg'], .f563df886a7377be-icon[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.b7f4b43fe1b6e285-emoji[src='/assets/a4ad6786199d0358.svg'], .b7f4b43fe1b6e285-emoji[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
._01c8cef726c85956-emoji[src='/assets/a4ad6786199d0358.svg'], ._01c8cef726c85956-emoji[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.ee71ee16cc02184d-roleIcon[src='/assets/a4ad6786199d0358.svg'], .ee71ee16cc02184d-roleIcon[style*='background-image: url("/assets/a4ad6786199d0358.svg")'], 
.emoji[src='/assets/a4ad6786199d0358.svg'], .emoji[style*='background-image: url("/assets/a4ad6786199d0358.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft-3D/flags/crossed_flags.png") !important;
}