@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--columns: 3;
	--guildsize: 50;
	--guildgap: 3;
	--aligndms: 1;
}

.titleBar-AC4pGV.typeMacOS-3EmCyP,
.titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC,
.wrapper-3NnKdC,
.wrapper-3NnKdC .unreadMentionsIndicatorTop-2-tcdU,
.wrapper-3NnKdC .unreadMentionsIndicatorBottom-2mDYbI {
	width: calc(1px * (var(--guildsize) * var(--columns) + 20 * (var(--guildsize)/50) + 14 * (var(--guildsize)/50) * (var(--columns) - 1))) !important;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	padding-right: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) - 50)) !important;
}
body.folderContentIsOpen-zz6FgW .titleBar-AC4pGV.typeMacOS-3EmCyP,
body.folderContentIsOpen-zz6FgW .titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	width: calc(2px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) + 35 - 25)) !important;
}
body.folderContentIsOpen-zz6FgW .titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	padding-right: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) * 2 - 40)) !important;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP.typeMacOSWithFrame-3R_i5S .macButtons-2MuSAC {
	margin-top: 0 !important;
	margin-right: 0 !important;
}
.wrapper-3NnKdC {
	padding: 0 !important;
}
.wrapper-3NnKdC.hidden-3dXt4k {
	width: 0 !important;
}
.wrapper-3NnKdC .scroller-1Bvpku {
	padding: 0 0 calc(10px * var(--guildsize)/50) calc(10px * var(--guildsize)/50) !important;
}
.wrapper-3NnKdC .scroller-1Bvpku.none-2Eo-qx::-webkit-scrollbar {
	width: 0 !important;
}
.wrapper-3NnKdC .scroller-1Bvpku,
.wrapper-3NnKdC .scroller-1Bvpku > [role="tree"],
.wrapper-3NnKdC .listItem-1hlISG + div[aria-label]:not([class]) {
	margin: 0 !important;
	display: flex !important;
	flex-flow: row wrap !important;
	align-content: flex-start !important;
}
.wrapper-3NnKdC .listItem-1hlISG {
	margin: calc(1px * var(--guildgap)) calc(1px * (12 * var(--guildsize)/50)) calc(1px * var(--guildgap)) 0 !important;
}
.wrapper-3NnKdC #server-search {
	margin: calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2)) !important;
}
.wrapper-3NnKdC #server-search .pill-3YxEhL {
	display: none;
}
.wrapper-3NnKdC .listItem-1hlISG:first-child .listItemWrapper-KhRmzM {
	margin: 0 calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2)) calc(1px * var(--guildgap)) calc(1px * ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2))) !important;
}
.wrapper-3NnKdC .listItem-1hlISG:first-child .pill-1Z5PKm ~ .listItemWrapper-KhRmzM {
	margin: 0 calc(1px * ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))) 0 calc(1px * (((0 * var(--aligndms)) + ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))))) !important;
}
.wrapper-3NnKdC .blobContainer-pmnxKB,
.wrapper-3NnKdC .circleButtonMask-1_597P,
.wrapper-3NnKdC .guildsError-g6NwOI {
	margin: 0 !important;
}
.wrapper-3NnKdC .listItem-1hlISG {
	width: auto !important;
}
.tutorialContainer-2sGCg9 {
	width: 100%;
}
.wrapper-3NnKdC .placeholderMask-3v3K7P,
.wrapper-3NnKdC .svg-1X37T1,
.wrapper-3NnKdC .wrapper-25eVIn {
	height: calc(1px * var(--guildsize)) !important;
	width: calc(1px * var(--guildsize)) !important;
}
.wrapper-3NnKdC .scroller-1Bvpku > div[style*="height"]:not([class]) {
	height: calc(1px * var(--guildsize) * (58/50)) !important;
}
.wrapper-3NnKdC .upperBadge-2XnnGB .base-PmTxvP {
	transform: translate(calc(1.5px * ((50 - var(--guildsize))/10)), calc(-1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-3NnKdC .upperLeftBadge-e35IpL .base-PmTxvP {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize))/10)), calc(-1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-3NnKdC .lowerBadge-29hYVK .base-PmTxvP {
	transform: translate(calc(1.5px * ((50 - var(--guildsize))/10)), calc(1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-3NnKdC .lowerLeftBadge-zr4T_9 .base-PmTxvP {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize))/10)), calc(1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-3NnKdC .wrapper-sa6paO {
	top: calc(-5px * var(--guildsize)/50) !important;
	height: calc(1px * (var(--guildsize) + 10 * var(--guildsize)/50)) !important;
	transform: scale(calc(var(--guildsize)/50)) !important;
	transform-origin: 0 50% !important;
}
.wrapper-3NnKdC .pill-3N7f9r {	/*	home	*/ 
	left: calc(1px * ((((var(--guildsize) + 10 * var(--guildsize)/50) * (var(--columns) - 1))/2) - 9)) !important;
}
.wrapper-3NnKdC .pill-1Z5PKm {	/*	dm		*/ 
	left: calc(1px * ((var(--aligndms) + ((((var(--guildsize) + 10 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))) - 8)) !important;
}
.wrapper-3NnKdC .pill-1z4sAY,	/*	guild	*/ 
.wrapper-3NnKdC .pill-1aYSec {	/* 	button	*/
	left: calc(-10px * var(--guildsize)/50) !important;
}
.wrapper-3NnKdC .guildSeparator-EOYZLM {
	width: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) - (12 * var(--guildsize)/50))) !important;
	margin: calc(1px * (var(--guildsize)/10)) 0 !important;
	display: block !important;
}
.wrapper-3NnKdC [role=tree] ~ .listItem-1hlISG .listItemWrapper-KhRmzM,
.wrapper-3NnKdC [role=tree] ~ * .listItem-1hlISG .listItemWrapper-KhRmzM,
.wrapper-3NnKdC .listItem-1hlISG + div[aria-label]:not([class]) ~ .listItem-1hlISG .listItemWrapper-KhRmzM,
.wrapper-3NnKdC .listItem-1hlISG + div[aria-label]:not([class]) ~ * .listItem-1hlISG .listItemWrapper-KhRmzM {
	margin: 0 !important;
}
.wrapper-3NnKdC .guildsError-g6NwOI {
	height: calc(1px * var(--guildsize)) !important;
	width: calc(1px * var(--guildsize)) !important;
	font-size: calc(1px * (var(--guildsize)/4 + 7.5)) !important;
	line-height: calc(1px * (var(--guildsize)/4 + 6.5)) !important;
}
.wrapper-3NnKdC #bd-pub-li,
.wrapper-3NnKdC #bd-pub-li #bd-pub-button,
.wrapper-3NnKdC #sort-button,
.wrapper-3NnKdC #sort-button > div,
.wrapper-3NnKdC .frame-oXWS21,
.wrapper-3NnKdC .frame-oXWS21 .button-Jt-tIg {
	height: calc(1px * ((var(--guildsize)/5) + 10)) !important;
}
.wrapper-3NnKdC .friendsOnline-2JkivW,
.wrapper-3NnKdC .label-2wRs_g {
	display: flex !important;
	justify-content: center !important;
	width: calc(1px * (var(--guildsize) * var(--columns) + 20 * (var(--guildsize)/50) + 14 * (var(--guildsize)/50) * (var(--columns) - 1) - (20 * var(--guildsize)/50) calc(10px * var(--guildsize)/50))) !important;
	margin: calc(1px * var(--guildgap)) 0 calc(1px * var(--guildgap)) 0 !important;
	font-size: calc(1px * ((var(--guildsize)/8) + 3)) !important;
}
.wrapper-3NnKdC #bd-pub-li,
.wrapper-3NnKdC #sort-button,
.wrapper-3NnKdC .frame-oXWS21 {
	width: calc(1px * ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50)) !important;
}
.wrapper-3NnKdC #bd-pub-li,
.wrapper-3NnKdC #sort-button,
.wrapper-3NnKdC .frame-oXWS21 {
	text-align: center !important;
	margin: calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1) - ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50) + var(--guildsize))/2)) calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1) - ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50) + var(--guildsize))/2)) !important;
}
.wrapper-3NnKdC #sort-button > div,
.wrapper-3NnKdC #bd-pub-li #bd-pub-button,
.wrapper-3NnKdC .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-3NnKdC .frame-oXWS21 .button-Jt-tIg {
	white-space: pre !important;
	font-size: calc(1px * ((var(--guildsize)/8) + 5)) !important;
	line-height: calc(1px * ((var(--guildsize)/5) + 10)) !important;
}
.wrapper-3NnKdC #sort-button > div,
.wrapper-3NnKdC #bd-pub-li #bd-pub-button,
.wrapper-3NnKdC .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-3NnKdC .frame-oXWS21 .button-Jt-tIg {
	width: 100% !important;
}

.wrapper-3NnKdC .wrapper-3Njo_c {
	margin: calc(1px * var(--guildgap)) calc(1px * (12 * var(--guildsize)/50)) calc(1px * var(--guildgap)) 0 !important;
	width: calc(1px * var(--guildsize)) !important;
}
.wrapper-3NnKdC .wrapper-3Njo_c > .listItem-1hlISG {
	margin: 0 !important;
}
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"] {
	overflow: visible !important;
	margin-left: -1px !important;
	margin-bottom: 0 !important;
	padding-left: 1px !important;
}
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"] .listItem-1hlISG {
	margin: 6px 0 !important;
}
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"] .listItem-1hlISG:last-child {
	margin-bottom: 0 !important;
}
.wrapper-3NnKdC .expandedFolderBackground-1cujaW {
	width: calc(1px * var(--guildsize)) !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin-bottom: 0 !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
	right: 3px !important;
	top: calc(var(--guildsize) * 1px - 5px) !important;
	bottom: unset !important;
}

.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 56px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 112px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 168px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 224px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 280px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 336px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 392px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 448px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 504px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 560px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 616px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 672px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 728px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 784px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 840px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 896px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 952px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1008px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1064px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1120px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1176px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1232px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1288px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1344px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1400px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1456px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1512px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1568px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1624px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1680px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1736px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1792px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1848px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1904px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 1960px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2016px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2072px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2128px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2184px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2240px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2296px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2352px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2408px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2464px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2520px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2576px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2632px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2688px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2744px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2800px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2856px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2912px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 2968px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3024px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3080px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3136px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3192px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3248px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3304px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3360px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3416px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3472px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3528px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3584px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3640px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3696px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3752px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3808px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3864px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3920px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 3976px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4032px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4088px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4144px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4200px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4256px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4312px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4368px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4424px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4480px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4536px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4592px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4648px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4704px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4760px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4816px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4872px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4928px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 4984px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5040px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5096px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5152px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5208px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5264px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5320px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5376px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5432px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5488px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5544px;"],
.wrapper-3NnKdC .wrapper-3Njo_c [role="group"][style="height: 5600px;"] {
	height: unset !important;
}
