/**
 * @name ServerColumns
 * @description Changes the Server List to a grid-like Structure which allows any Amount of Columns
 * @author DevilBro
 * @version 1.0.6
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/ServerColumns/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.theme.css
 */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);

:root {
	--columns:			3;							/* default:	3					(amount of servercolumns)																		*/
	
	--guildsize:		50;							/* default:	50					(serversize in pixel)																			*/
	--guildgap:			3;							/* default:	3					(top/bottom gap between servers in pixel)														*/
	
	--aligndms:			0;							/* default:	0					(should DMs be aligned in columns: 0 = no, 1 = yes)												*/
}
