@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--columns: 3;
	--guildsize: 50;
	--guildgap: 3;
	--aligndms: 1;

	
	--columns_v: var(--columns_s, var(--columns));
	--guildsize_v: var(--guildsize_s, var(--guildsize));
	--guildgap_v: var(--guildgap_s, var(--guildgap));
	--aligndms_v: var(--aligndms_s, var(--aligndms));
}

.titleBar__01af6.typeMacOS__496b0,
.titleBar__01af6.typeMacOS__496b0 .macButtons__7b1bc,
.wrapper_a7e7a8,
.wrapper_a7e7a8 .unreadMentionsIndicatorTop_ada847,
.wrapper_a7e7a8 .unreadMentionsIndicatorBottom_fdb943 {
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 20 * (var(--guildsize_v)/50) + 14 * (var(--guildsize_v)/50) * (var(--columns_v) - 1))) !important;
}
.titleBar__01af6.typeMacOS__496b0 .macButtons__7b1bc {
	padding-right: calc(1px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns) - 50)) !important;
}
body.folderContentIsOpen_zz6FgW .titleBar__01af6.typeMacOS__496b0,
body.folderContentIsOpen_zz6FgW .titleBar__01af6.typeMacOS__496b0 .macButtons__7b1bc {
	width: calc(2px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns_v) + 35 - 25)) !important;
}
body.folderContentIsOpen_zz6FgW .titleBar__01af6.typeMacOS__496b0 .macButtons__7b1bc {
	padding-right: calc(1px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns_v) * 2 - 40)) !important;
}
.titleBar__01af6.typeMacOS__496b0.typeMacOSWithFrame_db4a7d .macButtons__7b1bc {
	margin-top: 0 !important;
	margin-right: 0 !important;
}
.wrapper_a7e7a8 {
	padding: 0 !important;
}
.wrapper_a7e7a8.hidden__7c832,
.wrapper_a7e7a8[style*="width: 0px"] {
	width: 0 !important;
}
.wrapper_a7e7a8 .scroller__3d071 {
	padding: 0 0 calc(10px * var(--guildsize_v)/50) calc(10px * var(--guildsize_v)/50) !important;
}
.wrapper_a7e7a8 .scroller__3d071.none__51a8f::-webkit-scrollbar {
	width: 0 !important;
}
.wrapper_a7e7a8 .scroller__3d071,
.wrapper_a7e7a8 .scroller__3d071 > [role="tree"],
.wrapper_a7e7a8 .listItem_fa7b36 + div[aria-label]:not([class]) {
	margin: 0 !important;
	display: flex !important;
	flex-flow: row wrap !important;
	align-content: flex-start !important;
}
.wrapper_a7e7a8 .listItem_fa7b36 {
	margin: calc(1px * var(--guildgap_v)) calc(1px * (12 * var(--guildsize_v)/50)) calc(1px * var(--guildgap_v)) 0 !important;
}
.wrapper_a7e7a8 #server-search {
	margin: calc(1px * var(--guildgap_v)) calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2)) !important;
}
.wrapper_a7e7a8 #server-search .pill-3YxEhL {
	display: none;
}
.wrapper_a7e7a8 .listItem_fa7b36:first-child .listItemWrapper__1f93b,	/*	home	*/ 
.wrapper_a7e7a8 .listItem_fa7b36 .pill__66ac8 ~ div:not([className]) {	/*	fav		*/ 
	margin: 0 calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2)) calc(1px * var(--guildgap_v)) calc(1px * ((((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2))) !important;
}
.wrapper_a7e7a8 .listItem_fa7b36:first-child .pill__357e7 ~ .listItemWrapper__1f93b {
	margin: 0 calc(1px * ((((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) * (1 - var(--aligndms_v)))) 0 calc(1px * (((0 * var(--aligndms_v)) + ((((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) * (1 - var(--aligndms_v)))))) !important;
}
.wrapper_a7e7a8 .blobContainer__5ee50,
.wrapper_a7e7a8 .guildsError__0aa84 {
	margin: 0 !important;
}
.wrapper_a7e7a8 .listItem_fa7b36 {
	width: auto !important;
}
.wrapper_a7e7a8 .tutorialContainer__90eac {
	width: 100%;
}
.wrapper_a7e7a8 .placeholderMask__6e4f0,
.wrapper_a7e7a8 .svg_ad7356,
.wrapper_a7e7a8 .wrapper__3af0b {
	height: calc(1px * var(--guildsize_v)) !important;
	width: calc(1px * var(--guildsize_v)) !important;
}
.wrapper_a7e7a8 .scroller__3d071 > div[style*="height"]:not([class]) {
	height: calc(1px * var(--guildsize_v) * (58/50)) !important;
}
.wrapper_a7e7a8 .upperBadge_c7cfb3 .base__92a12 {
	transform: translate(calc(1.5px * ((50 - var(--guildsize_v))/10)), calc(-1.5px * ((50 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper_a7e7a8 .upperLeftBadge_e35IpL .base__92a12 {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize_v))/10)), calc(-1.5px * ((50 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper_a7e7a8 .lowerBadge__669e7 .base__92a12 {
	transform: translate(calc(1.5px * ((50 - var(--guildsize_v))/10)), calc(1.5px * ((50 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper_a7e7a8 .lowerLeftBadge_zr4T_9 .base__92a12 {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize_v))/10)), calc(1.5px * ((50 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper_a7e7a8 .wrapper__3670f {
	top: calc(-5px * var(--guildsize_v)/50) !important;
	height: calc(1px * (var(--guildsize_v) + 10 * var(--guildsize_v)/50)) !important;
	transform: scale(calc(var(--guildsize_v)/50)) !important;
	transform-origin: 0 50% !important;
}
.wrapper_a7e7a8 .pill_d1140c,	/*	home	*/ 
.wrapper_a7e7a8 .pill__66ac8 {	/*	fav		*/ 
	left: calc(1px * ((((var(--guildsize_v) + 10 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) - 9)) !important;
}
.wrapper_a7e7a8 .pill__357e7 {	/*	dm		*/ 
	left: calc(1px * ((var(--aligndms_v) + ((((var(--guildsize_v) + 10 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) * (1 - var(--aligndms_v)))) - 8)) !important;
}
.wrapper_a7e7a8 .pill__6b31b,	/*	guild	*/ 
.wrapper_a7e7a8 .pill__13f64 {	/* 	button	*/
	left: calc(-10px * var(--guildsize_v)/50) !important;
}
.wrapper_a7e7a8 .guildSeparator_dcb3cc {
	width: calc(1px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns_v) - (12 * var(--guildsize_v)/50))) !important;
	margin: calc(1px * (var(--guildsize_v)/10)) 0 !important;
	display: block !important;
}
.wrapper_a7e7a8 [role=tree] ~ .listItem_fa7b36 .listItemWrapper__1f93b,
.wrapper_a7e7a8 [role=tree] ~ * .listItem_fa7b36 .listItemWrapper__1f93b,
.wrapper_a7e7a8 .listItem_fa7b36 + div[aria-label]:not([class]) ~ .listItem_fa7b36 .listItemWrapper__1f93b,
.wrapper_a7e7a8 .listItem_fa7b36 + div[aria-label]:not([class]) ~ * .listItem_fa7b36 .listItemWrapper__1f93b {
	margin: 0 !important;
}
.wrapper_a7e7a8 .guildsError__0aa84 {
	height: calc(1px * var(--guildsize_v)) !important;
	width: calc(1px * var(--guildsize_v)) !important;
	font-size: calc(1px * (var(--guildsize_v)/4 + 7.5)) !important;
	line-height: calc(1px * (var(--guildsize_v)/4 + 6.5)) !important;
}
.wrapper_a7e7a8 #sort-button,
.wrapper_a7e7a8 #sort-button > div,
.wrapper_a7e7a8 .frame_oXWS21,
.wrapper_a7e7a8 .frame_oXWS21 .button_Jt-tIg {
	height: calc(1px * ((var(--guildsize_v)/5) + 10)) !important;
}
.wrapper_a7e7a8 .friendsOnline_2JkivW,
.wrapper_a7e7a8 .label_2wRs_g {
	display: flex !important;
	justify-content: center !important;
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 20 * (var(--guildsize_v)/50) + 14 * (var(--guildsize_v)/50) * (var(--columns_v) - 1) - (20 * var(--guildsize_v)/50) calc(10px * var(--guildsize_v)/50))) !important;
	margin: 0 !important;
	font-size: calc(1px * ((var(--guildsize_v)/8) + 3)) !important;
}
.wrapper_a7e7a8 #sort-button,
.wrapper_a7e7a8 .frame_oXWS21 {
	width: calc(1px * ((var(--guildsize_v)*4/5) + 12 * var(--guildsize_v)/50)) !important;
}
.wrapper_a7e7a8 #sort-button,
.wrapper_a7e7a8 .frame_oXWS21 {
	text-align: center !important;
	margin: calc(1px * var(--guildgap_v)) calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1) - ((var(--guildsize_v)*4/5) + 12 * var(--guildsize_v)/50) + var(--guildsize_v))/2)) calc(1px * var(--guildgap_v)) calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1) - ((var(--guildsize_v)*4/5) + 12 * var(--guildsize_v)/50) + var(--guildsize_v))/2)) !important;
}
.wrapper_a7e7a8 #sort-button > div,
.wrapper_a7e7a8 .frame_oXWS21 .innerFrame_8Hg64E,
.wrapper_a7e7a8 .frame_oXWS21 .button_Jt-tIg {
	white-space: pre !important;
	font-size: calc(1px * ((var(--guildsize_v)/8) + 5)) !important;
	line-height: calc(1px * ((var(--guildsize_v)/5) + 10)) !important;
}
.wrapper_a7e7a8 #sort-button > div,
.wrapper_a7e7a8 .frame_oXWS21 .innerFrame_8Hg64E,
.wrapper_a7e7a8 .frame_oXWS21 .button_Jt-tIg {
	width: 100% !important;
}

.wrapper_a7e7a8 .wrapper_ed1dea {
	border-bottom: calc(1px * var(--guildgap_v)) solid transparent !important;
	margin: calc(1px * var(--guildgap_v)) calc(1px * (12 * var(--guildsize_v)/50)) auto 0 !important;
	width: calc(1px * var(--guildsize_v)) !important;
}
.wrapper_a7e7a8 .wrapper_ed1dea > .listItem_fa7b36 {
	margin: 0 !important;
}
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"] {
	overflow: visible !important;
	margin-left: -1px !important;
	margin-bottom: 0 !important;
	padding-left: 1px !important;
}
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"] .listItem_fa7b36 {
	margin: 6px 0 !important;
}
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"] .listItem_fa7b36:last-child {
	margin-bottom: 0 !important;
}
.wrapper_a7e7a8 .expandedFolderBackground__1bec6 {
	width: calc(1px * var(--guildsize_v)) !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin-bottom: 0 !important;
}

/* SERVERFOLDERS */

.wrapper_a7e7a8.content_Pph8t6 .scroller__3d071 {
	padding-left: 0 !important;
}
.wrapper_a7e7a8.content_Pph8t6 .wrapper_ed1dea {
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 20 * (var(--guildsize_v)/50) + 14 * (var(--guildsize_v)/50) * (var(--columns_v) - 1))) !important;
}
.wrapper_a7e7a8.content_Pph8t6 .wrapper_ed1dea > .listItem_fa7b36 {
	margin: calc(1px * var(--guildgap_v)) calc(5px * var(--guildsize_v)/50) calc(1px * var(--guildgap_v)) 0 !important;
}
.wrapper_a7e7a8.content_Pph8t6 .wrapper_ed1dea .expandedFolderBackground__1bec6 {
	right: 0 !important;
	width: calc(100% - calc(5px * var(--guildsize_v)/50)) !important;
}
.wrapper_a7e7a8.content_Pph8t6 .wrapper_ed1dea [role="group"] {
	margin: 0 !important;
	padding: 0 calc(13px * var(--guildsize_v)/50) 0 calc(10px * var(--guildsize_v)/50) !important;
	display: flex !important;
	flex-flow: row wrap !important;
	justify-content: space-between !important;
}
.wrapper_a7e7a8.content_Pph8t6 .wrapper_ed1dea .expandedFolderBackground__1bec6 ~ [role="group"] {
	padding-bottom: calc(8px * var(--guildsize_v)/50) !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
	right: 3px !important;
	top: calc(var(--guildsize_v) * 1px - 5px) !important;
	bottom: unset !important;
}

.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 56px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 112px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 168px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 224px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 280px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 336px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 392px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 448px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 504px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 560px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 616px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 672px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 728px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 784px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 840px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 896px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 952px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1008px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1064px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1120px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1176px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1232px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1288px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1344px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1400px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1456px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1512px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1568px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1624px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1680px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1736px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1792px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1848px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1904px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 1960px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2016px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2072px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2128px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2184px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2240px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2296px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2352px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2408px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2464px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2520px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2576px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2632px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2688px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2744px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2800px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2856px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2912px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 2968px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3024px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3080px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3136px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3192px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3248px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3304px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3360px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3416px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3472px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3528px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3584px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3640px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3696px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3752px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3808px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3864px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3920px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 3976px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4032px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4088px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4144px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4200px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4256px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4312px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4368px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4424px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4480px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4536px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4592px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4648px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4704px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4760px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4816px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4872px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4928px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 4984px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5040px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5096px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5152px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5208px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5264px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5320px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5376px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5432px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5488px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5544px;"],
.wrapper_a7e7a8 .wrapper_ed1dea [role="group"][style="height: 5600px;"] {
	height: unset !important;
}
