@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--vcolumns: var(--columns, 3);
	--vguildsize: var(--guildsize, 50);
	--vguildgap: var(--guildgap, 3);
	--valigndms: var(--aligndms, 1);
}

.container-2lgZY8 {
	display: flex !important;
}
.wrapper-1Rf91z {
	position: static !important;
	contain: unset !important;
}
.base-3dtUhz {
	position: static !important;
	contain: unset !important;
	width: 100% !important;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP,
.titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC,
.wrapper-1Rf91z,
.wrapper-1Rf91z .unreadMentionsIndicatorTop-gA6RCh,
.wrapper-1Rf91z .unreadMentionsIndicatorBottom-BXS58x {
	width: calc(1px * (var(--vguildsize) * var(--vcolumns) + 20 * (var(--vguildsize)/50) + 14 * (var(--vguildsize)/50) * (var(--vcolumns) - 1))) !important;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	padding-right: calc(1px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) - 50)) !important;
}
body.foldercontentopened .titleBar-AC4pGV.typeMacOS-3EmCyP,
body.foldercontentopened .titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	width: calc(2px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) + 35 - 25)) !important;
}
body.foldercontentopened .titleBar-AC4pGV.typeMacOS-3EmCyP .macButtons-2MuSAC {
	padding-right: calc(1px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) * 2 - 40)) !important;
}
.titleBar-AC4pGV.typeMacOS-3EmCyP.typeMacOSWithFrame-3R_i5S .macButtons-2MuSAC {
	margin-top: 0 !important;
	margin-right: 0 !important;
}
.wrapper-1Rf91z {
	padding: 0 !important;
}
.wrapper-1Rf91z .scroller-2TZvBN {
	padding: 0 0 calc(10px * var(--vguildsize)/50) calc(10px * var(--vguildsize)/50) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN.none-2Eo-qx::-webkit-scrollbar {
	width: 0 !important;
}
.wrapper-1Rf91z .scroller-2TZvBN,
.wrapper-1Rf91z .scroller-2TZvBN > [role="tree"],
.wrapper-1Rf91z .listItem-2P_4kh + div[aria-label]:not([class]) {
	margin: 0 !important;
	display: flex !important;
	flex-flow: row wrap !important;
	align-content: flex-start !important;
}
.wrapper-1Rf91z .listItem-2P_4kh {
	margin: calc(1px * var(--vguildgap)) calc(1px * (12 * var(--vguildsize)/50)) calc(1px * var(--vguildgap)) 0 !important;
}
.wrapper-1Rf91z #server-search {
	margin: calc(1px * var(--vguildgap)) calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2)) !important;
}
.wrapper-1Rf91z #server-search .pill-3YxEhL {
	display: none;
}
.wrapper-1Rf91z .listItem-2P_4kh:first-child .listItemWrapper-3X98Pc {
	margin: 0 calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2)) calc(1px * var(--vguildgap)) calc(1px * ((((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2))) !important;
}
.wrapper-1Rf91z .listItem-2P_4kh:first-child .pill-1m5BUr ~ .listItemWrapper-3X98Pc {
	margin: 0 calc(1px * ((((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) * (1 - var(--valigndms)))) 0 calc(1px * (((0 * var(--valigndms)) + ((((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) * (1 - var(--valigndms)))))) !important;
}
.wrapper-1Rf91z .blobContainer-239gwq,
.wrapper-1Rf91z .circleButtonMask-2VNJsN,
.wrapper-1Rf91z .guildsError-b7zR5H {
	margin: 0 !important;
}
.wrapper-1Rf91z .listItem-2P_4kh {
	width: auto !important;
}
.wrapper-1Rf91z .placeholderMask-3K9THS,
.wrapper-1Rf91z .svg-1X37T1,
.wrapper-1Rf91z .wrapper-25eVIn {
	height: calc(1px * var(--vguildsize)) !important;
	width: calc(1px * var(--vguildsize)) !important;
}
.wrapper-1Rf91z .homeIcon-tEMBK1 {
	height: calc(1px * (var(--vguildsize) * (8/50) + 12)) !important;
	width: calc(1px * (var(--vguildsize) * (16/50) + 12)) !important;
}
.wrapper-1Rf91z .scroller-2TZvBN > div[style*="height"]:not([class]) {
	height: calc(1px * var(--vguildsize) * (58/50)) !important;
}
.wrapper-1Rf91z .upperBadge-2XnnGB .base-PmTxvP {
	transform: translate(calc(1.5px * ((50 - var(--vguildsize))/10)), calc(-1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .upperLeftBadge-e35IpL .base-PmTxvP {
	transform: translate(calc(-1.5px * ((50 - var(--vguildsize))/10)), calc(-1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .lowerBadge-29hYVK .base-PmTxvP {
	transform: translate(calc(1.5px * ((50 - var(--vguildsize))/10)), calc(1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .lowerLeftBadge-zr4T_9 .base-PmTxvP {
	transform: translate(calc(-1.5px * ((50 - var(--vguildsize))/10)), calc(1.5px * ((50 - var(--vguildsize))/10))) scale(calc(var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .wrapper-sa6paO {
	top: calc(-5px * var(--vguildsize)/50) !important;
	height: calc(1px * (var(--vguildsize) + 10 * var(--vguildsize)/50)) !important;
	transform: scale(calc(var(--vguildsize)/50)) !important;
	transform-origin: 0 50% !important;
}
.wrapper-1Rf91z .pill-2uzAFe {
	left: calc(1px * ((((var(--vguildsize) + 10 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) - 9)) !important;
}
.wrapper-1Rf91z .pill-1m5BUr {
	left: calc(1px * ((var(--valigndms) + ((((var(--vguildsize) + 10 * var(--vguildsize)/50) * (var(--vcolumns) - 1))/2) * (1 - var(--valigndms)))) - 8)) !important;
}
.wrapper-1Rf91z .pill-31IEus,
.wrapper-1Rf91z .pill-3YxEhL {
	left: calc(-10px * var(--vguildsize)/50) !important;
}
.wrapper-1Rf91z .guildSeparator-3s64Iy {
	width: calc(1px * ((var(--vguildsize) + 12 * var(--vguildsize)/50) * var(--vcolumns) - (12 * var(--vguildsize)/50))) !important;
	margin: calc(1px * (var(--vguildsize)/10)) 0 !important;
	display: block !important;
}
.wrapper-1Rf91z [role=tree] ~ .listItem-2P_4kh .listItemWrapper-3X98Pc,
.wrapper-1Rf91z [role=tree] ~ * .listItem-2P_4kh .listItemWrapper-3X98Pc,
.wrapper-1Rf91z .listItem-2P_4kh + div[aria-label]:not([class]) ~ .listItem-2P_4kh .listItemWrapper-3X98Pc,
.wrapper-1Rf91z .listItem-2P_4kh + div[aria-label]:not([class]) ~ * .listItem-2P_4kh .listItemWrapper-3X98Pc {
	margin: 0 !important;
}
.wrapper-1Rf91z .guildsError-b7zR5H {
	height: calc(1px * var(--vguildsize)) !important;
	width: calc(1px * var(--vguildsize)) !important;
	font-size: calc(1px * (var(--vguildsize)/4 + 7.5)) !important;
	line-height: calc(1px * (var(--vguildsize)/4 + 6.5)) !important;
}
.wrapper-1Rf91z #bd-pub-li,
.wrapper-1Rf91z #bd-pub-li #bd-pub-button,
.wrapper-1Rf91z #sort-button,
.wrapper-1Rf91z #sort-button > div,
.wrapper-1Rf91z .frame-oXWS21,
.wrapper-1Rf91z .frame-oXWS21 .button-Jt-tIg {
	height: calc(1px * ((var(--vguildsize)/5) + 10)) !important;
}
.wrapper-1Rf91z .friendsOnline-2JkivW,
.wrapper-1Rf91z .label-2wRs_g {
	font-size: calc(1px * ((var(--vguildsize)/8) + 3.75)) !important;
}
.wrapper-1Rf91z .friendsOnline-2JkivW,
.wrapper-1Rf91z .label-2wRs_g,
.wrapper-1Rf91z #bd-pub-li,
.wrapper-1Rf91z #sort-button,
.wrapper-1Rf91z .frame-oXWS21 {
	width: calc(1px * ((var(--vguildsize)*4/5) + 12 * var(--vguildsize)/50)) !important;
}
.wrapper-1Rf91z .friendsOnline-2JkivW,
.wrapper-1Rf91z .label-2wRs_g,
.wrapper-1Rf91z #bd-pub-li,
.wrapper-1Rf91z #sort-button,
.wrapper-1Rf91z .frame-oXWS21 {
	text-align: center !important;
	margin: calc(1px * var(--vguildgap)) calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1) - ((var(--vguildsize)*4/5) + 12 * var(--vguildsize)/50) + var(--vguildsize))/2)) calc(1px * var(--vguildgap)) calc(1px * (((var(--vguildsize) + 12 * var(--vguildsize)/50) * (var(--vcolumns) - 1) - ((var(--vguildsize)*4/5) + 12 * var(--vguildsize)/50) + var(--vguildsize))/2)) !important;
}
.wrapper-1Rf91z #sort-button > div,
.wrapper-1Rf91z #bd-pub-li #bd-pub-button,
.wrapper-1Rf91z .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1Rf91z .frame-oXWS21 .button-Jt-tIg {
	white-space: pre !important;
	font-size: calc(1px * ((var(--vguildsize)/8) + 5)) !important;
	line-height: calc(1px * ((var(--vguildsize)/5) + 10)) !important;
}
.wrapper-1Rf91z #sort-button > div,
.wrapper-1Rf91z #bd-pub-li #bd-pub-button,
.wrapper-1Rf91z .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1Rf91z .frame-oXWS21 .button-Jt-tIg {
	width: 100% !important;
}

.wrapper-1Rf91z .wrapper-21YSNc {
	margin: calc(1px * var(--vguildgap)) calc(1px * (12 * var(--vguildsize)/50)) calc(1px * var(--vguildgap)) 0 !important;
	width: calc(1px * var(--vguildsize)) !important;
}
.wrapper-1Rf91z .wrapper-21YSNc > .listItem-2P_4kh {
	margin: 0 !important;
}
.wrapper-1Rf91z .wrapper-21YSNc [role="group"] {
	overflow: visible !important;
	margin-left: -1px !important;
	margin-bottom: 0 !important;
	padding-left: 1px !important;
}
.wrapper-1Rf91z .wrapper-21YSNc [role="group"] .listItem-2P_4kh {
	margin: 6px 0 !important;
}
.wrapper-1Rf91z .wrapper-21YSNc [role="group"] .listItem-2P_4kh:last-child {
	margin-bottom: 0 !important;
}
.wrapper-1Rf91z .expandedFolderBackground-2sPsd- {
	width: calc(1px * var(--vguildsize)) !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin-bottom: 0 !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
	right: 3px !important;
	top: calc(var(--vguildsize) * 1px - 5px) !important;
	bottom: unset !important;
}

.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 56px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 112px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 168px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 224px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 280px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 336px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 392px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 448px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 504px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 560px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 616px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 672px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 728px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 784px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 840px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 896px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 952px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1008px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1064px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1120px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1176px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1232px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1288px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1344px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1400px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1456px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1512px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1568px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1624px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1680px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1736px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1792px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1848px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1904px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 1960px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2016px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2072px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2128px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2184px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2240px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2296px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2352px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2408px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2464px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2520px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2576px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2632px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2688px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2744px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2800px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2856px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2912px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 2968px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3024px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3080px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3136px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3192px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3248px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3304px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3360px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3416px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3472px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3528px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3584px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3640px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3696px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3752px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3808px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3864px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3920px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 3976px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4032px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4088px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4144px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4200px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4256px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4312px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4368px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4424px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4480px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4536px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4592px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4648px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4704px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4760px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4816px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4872px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4928px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 4984px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5040px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5096px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5152px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5208px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5264px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5320px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5376px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5432px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5488px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5544px;"],
.wrapper-1Rf91z .wrapper-21YSNc [role="group"][style="height: 5600px;"] {
	height: unset !important;
}