//META{"name":"ServerColumns","description":"Changes the Server List to a gridlike container to allow servers to be displayed in columns. Amount of columns can be set in the .theme.css file.","author":"DevilBro","version":"1.0.5","website":"https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/ServerColumns","source":"https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/ServerColumns/ServerColumns.theme.css"}*//{}

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);

:root {
	--columns: 2;			/* amount-servercolumns default: 2 */
	--guildsize: 50;		/* pixel-serversize default: 50 */
	--aligndms: 0;			/* should DMs be aligned in columns: 0 = no, 1 = yes */
}