@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--columns: 3;
	--guildsize: 50;
	--guildgap: 3;
	--aligndms: 1;
}

.wrapper-1_HaEi[style*="width: 0px"] {
	width: 0px !important;
}
.titleBar-1it3bQ.typeMacOS-3V4xXE,
.titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e,
.wrapper-1_HaEi,
.wrapper-1_HaEi .unreadMentionsIndicatorTop-2bTgUU,
.wrapper-1_HaEi .unreadMentionsIndicatorBottom-3RJMnQ {
	width: calc(1px * (var(--guildsize) * var(--columns) + 20 * (var(--guildsize)/50) + 14 * (var(--guildsize)/50) * (var(--columns) - 1))) !important;
}
.titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
	padding-right: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) - 50)) !important;
}
body.folderContentIsOpen-zz6FgW .titleBar-1it3bQ.typeMacOS-3V4xXE,
body.folderContentIsOpen-zz6FgW .titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
	width: calc(2px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) + 35 - 25)) !important;
}
body.folderContentIsOpen-zz6FgW .titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
	padding-right: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) * 2 - 40)) !important;
}
.titleBar-1it3bQ.typeMacOS-3V4xXE.typeMacOSWithFrame-1XEpN7 .macButtons-eIdy0e {
	margin-top: 0 !important;
	margin-right: 0 !important;
}
.wrapper-1_HaEi {
	padding: 0 !important;
}
.wrapper-1_HaEi.hidden-10MsGQ {
	width: 0 !important;
}
.wrapper-1_HaEi .scroller-3X7KbA {
	padding: 0 0 calc(10px * var(--guildsize)/50) calc(10px * var(--guildsize)/50) !important;
}
.wrapper-1_HaEi .scroller-3X7KbA.none-1rXy4P::-webkit-scrollbar {
	width: 0 !important;
}
.wrapper-1_HaEi .scroller-3X7KbA,
.wrapper-1_HaEi .scroller-3X7KbA > [role="tree"],
.wrapper-1_HaEi .listItem-3SmSlK + div[aria-label]:not([class]) {
	margin: 0 !important;
	display: flex !important;
	flex-flow: row wrap !important;
	align-content: flex-start !important;
}
.wrapper-1_HaEi .listItem-3SmSlK {
	margin: calc(1px * var(--guildgap)) calc(1px * (12 * var(--guildsize)/50)) calc(1px * var(--guildgap)) 0 !important;
}
.wrapper-1_HaEi #server-search {
	margin: calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2)) !important;
}
.wrapper-1_HaEi #server-search .pill-3YxEhL {
	display: none;
}
.wrapper-1_HaEi .listItem-3SmSlK:first-child .listItemWrapper-3d87LP,	/*	home	*/ 
.wrapper-1_HaEi .listItem-3SmSlK .pill-1eBbnB ~ div:not([className]) {	/*	fav		*/ 
	margin: 0 calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2)) calc(1px * var(--guildgap)) calc(1px * ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2))) !important;
}
.wrapper-1_HaEi .listItem-3SmSlK:first-child .pill-22lZHo ~ .listItemWrapper-3d87LP {
	margin: 0 calc(1px * ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))) 0 calc(1px * (((0 * var(--aligndms)) + ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))))) !important;
}
.wrapper-1_HaEi .blobContainer-ikKyFs,
.wrapper-1_HaEi .guildsError-YJjW3A {
	margin: 0 !important;
}
.wrapper-1_HaEi .listItem-3SmSlK {
	width: auto !important;
}
.wrapper-1_HaEi .tutorialContainer-1pL9QS {
	width: 100%;
}
.wrapper-1_HaEi .placeholderMask-3Z1hhV,
.wrapper-1_HaEi .svg-2ifYOU,
.wrapper-1_HaEi .wrapper-2PSQCG {
	height: calc(1px * var(--guildsize)) !important;
	width: calc(1px * var(--guildsize)) !important;
}
.wrapper-1_HaEi .scroller-3X7KbA > div[style*="height"]:not([class]) {
	height: calc(1px * var(--guildsize) * (58/50)) !important;
}
.wrapper-1_HaEi .upperBadge-1d6YsW .base-3IDx3L {
	transform: translate(calc(1.5px * ((50 - var(--guildsize))/10)), calc(-1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi .upperLeftBadge-e35IpL .base-3IDx3L {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize))/10)), calc(-1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi .lowerBadge-3j0ZAg .base-3IDx3L {
	transform: translate(calc(1.5px * ((50 - var(--guildsize))/10)), calc(1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi .lowerLeftBadge-zr4T_9 .base-3IDx3L {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize))/10)), calc(1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi .wrapper-z5ab_q {
	top: calc(-5px * var(--guildsize)/50) !important;
	height: calc(1px * (var(--guildsize) + 10 * var(--guildsize)/50)) !important;
	transform: scale(calc(var(--guildsize)/50)) !important;
	transform-origin: 0 50% !important;
}
.wrapper-1_HaEi .pill-L_aLMQ,	/*	home	*/ 
.wrapper-1_HaEi .pill-1eBbnB {	/*	fav		*/ 
	left: calc(1px * ((((var(--guildsize) + 10 * var(--guildsize)/50) * (var(--columns) - 1))/2) - 9)) !important;
}
.wrapper-1_HaEi .pill-22lZHo {	/*	dm		*/ 
	left: calc(1px * ((var(--aligndms) + ((((var(--guildsize) + 10 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))) - 8)) !important;
}
.wrapper-1_HaEi .pill-2RsI5Q,	/*	guild	*/ 
.wrapper-1_HaEi .pill-1fqNCF {	/* 	button	*/
	left: calc(-10px * var(--guildsize)/50) !important;
}
.wrapper-1_HaEi .guildSeparator-a4uisj {
	width: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) - (12 * var(--guildsize)/50))) !important;
	margin: calc(1px * (var(--guildsize)/10)) 0 !important;
	display: block !important;
}
.wrapper-1_HaEi [role=tree] ~ .listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi [role=tree] ~ * .listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi .listItem-3SmSlK + div[aria-label]:not([class]) ~ .listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi .listItem-3SmSlK + div[aria-label]:not([class]) ~ * .listItem-3SmSlK .listItemWrapper-3d87LP {
	margin: 0 !important;
}
.wrapper-1_HaEi .guildsError-YJjW3A {
	height: calc(1px * var(--guildsize)) !important;
	width: calc(1px * var(--guildsize)) !important;
	font-size: calc(1px * (var(--guildsize)/4 + 7.5)) !important;
	line-height: calc(1px * (var(--guildsize)/4 + 6.5)) !important;
}
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi #sort-button > div,
.wrapper-1_HaEi .frame-oXWS21,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
	height: calc(1px * ((var(--guildsize)/5) + 10)) !important;
}
.wrapper-1_HaEi .friendsOnline-2JkivW,
.wrapper-1_HaEi .label-2wRs_g {
	display: flex !important;
	justify-content: center !important;
	width: calc(1px * (var(--guildsize) * var(--columns) + 20 * (var(--guildsize)/50) + 14 * (var(--guildsize)/50) * (var(--columns) - 1) - (20 * var(--guildsize)/50) calc(10px * var(--guildsize)/50))) !important;
	margin: 0 !important;
	font-size: calc(1px * ((var(--guildsize)/8) + 3)) !important;
}
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi .frame-oXWS21 {
	width: calc(1px * ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi .frame-oXWS21 {
	text-align: center !important;
	margin: calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1) - ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50) + var(--guildsize))/2)) calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1) - ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50) + var(--guildsize))/2)) !important;
}
.wrapper-1_HaEi #sort-button > div,
.wrapper-1_HaEi .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
	white-space: pre !important;
	font-size: calc(1px * ((var(--guildsize)/8) + 5)) !important;
	line-height: calc(1px * ((var(--guildsize)/5) + 10)) !important;
}
.wrapper-1_HaEi #sort-button > div,
.wrapper-1_HaEi .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
	width: 100% !important;
}

.wrapper-1_HaEi .wrapper-38slSD {
	border-bottom: calc(1px * var(--guildgap)) solid transparent !important;
	margin: calc(1px * var(--guildgap)) calc(1px * (12 * var(--guildsize)/50)) auto 0 !important;
	width: calc(1px * var(--guildsize)) !important;
}
.wrapper-1_HaEi .wrapper-38slSD > .listItem-3SmSlK {
	margin: 0 !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"] {
	overflow: visible !important;
	margin-left: -1px !important;
	margin-bottom: 0 !important;
	padding-left: 1px !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"] .listItem-3SmSlK {
	margin: 6px 0 !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"] .listItem-3SmSlK:last-child {
	margin-bottom: 0 !important;
}
.wrapper-1_HaEi .expandedFolderBackground-1kSAf6 {
	width: calc(1px * var(--guildsize)) !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin-bottom: 0 !important;
}

/* SERVERFOLDERS */

.wrapper-1_HaEi.content-Pph8t6 .scroller-3X7KbA {
	padding-left: 0 !important;
}
.wrapper-1_HaEi.content-Pph8t6 .wrapper-38slSD {
	width: calc(1px * (var(--guildsize) * var(--columns) + 20 * (var(--guildsize)/50) + 14 * (var(--guildsize)/50) * (var(--columns) - 1))) !important;
}
.wrapper-1_HaEi.content-Pph8t6 .wrapper-38slSD > .listItem-3SmSlK {
    margin: calc(1px * var(--guildgap)) calc(5px * var(--guildsize)/50) calc(1px * var(--guildgap)) 0 !important;
}
.wrapper-1_HaEi.content-Pph8t6 .wrapper-38slSD .expandedFolderBackground-1kSAf6 {
	right: 0 !important;
	width: calc(100% - calc(5px * var(--guildsize)/50)) !important;
}
.wrapper-1_HaEi.content-Pph8t6 .wrapper-38slSD [role="group"] {
	margin: 0 !important;
	padding: 0 calc(13px * var(--guildsize)/50) 0 calc(10px * var(--guildsize)/50) !important;
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: space-between !important;
}
.wrapper-1_HaEi.content-Pph8t6 .wrapper-38slSD .expandedFolderBackground-1kSAf6 ~ [role="group"] {
	padding-bottom: calc(8px * var(--guildsize)/50) !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
	right: 3px !important;
	top: calc(var(--guildsize) * 1px - 5px) !important;
	bottom: unset !important;
}

.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 56px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 112px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 168px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 224px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 280px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 336px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 392px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 448px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 504px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 560px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 616px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 672px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 728px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 784px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 840px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 896px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 952px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1008px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1064px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1120px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1176px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1232px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1288px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1344px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1400px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1456px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1512px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1568px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1624px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1680px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1736px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1792px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1848px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1904px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1960px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2016px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2072px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2128px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2184px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2240px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2296px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2352px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2408px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2464px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2520px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2576px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2632px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2688px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2744px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2800px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2856px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2912px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2968px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3024px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3080px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3136px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3192px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3248px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3304px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3360px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3416px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3472px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3528px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3584px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3640px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3696px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3752px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3808px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3864px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3920px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3976px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4032px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4088px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4144px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4200px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4256px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4312px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4368px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4424px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4480px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4536px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4592px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4648px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4704px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4760px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4816px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4872px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4928px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4984px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5040px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5096px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5152px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5208px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5264px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5320px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5376px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5432px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5488px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5544px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5600px;"] {
	height: unset !important;
}
