@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--columns: 		3;
	--guildsize: 		50;
	--guildgap: 		3;
	--aligndms: 		1;

	--columns_v: 		var(--columns_s, var(--columns));
	--guildsize_v: 		var(--guildsize_s, var(--guildsize));
	--guildgap_v: 		var(--guildgap_s, var(--guildgap));
	--aligndms_v: 		var(--aligndms_s, var(--aligndms));
}

.titleBar__710b0.typeMacOS_cacc59,
.titleBar__710b0.typeMacOS_cacc59 .macButtons__40068,
.wrapper__216eb,
.wrapper__216eb .unreadMentionsIndicatorTop__153ad,
.wrapper__216eb .unreadMentionsIndicatorBottom__9351c {
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 20 * (var(--guildsize_v)/50) + 14 * (var(--guildsize_v)/50) * (var(--columns_v) - 1))) !important;
}
.titleBar__710b0.typeMacOS_cacc59 .macButtons__40068 {
	padding-right: calc(1px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns) - 50)) !important;
}
body.folderContentIsOpen_zz6FgW .titleBar__710b0.typeMacOS_cacc59,
body.folderContentIsOpen_zz6FgW .titleBar__710b0.typeMacOS_cacc59 .macButtons__40068 {
	width: calc(2px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns_v) + 35 - 25)) !important;
}
body.folderContentIsOpen_zz6FgW .titleBar__710b0.typeMacOS_cacc59 .macButtons__40068 {
	padding-right: calc(1px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns_v) * 2 - 40)) !important;
}
.titleBar__710b0.typeMacOS_cacc59.typeMacOSWithFrame__376b6 .macButtons__40068 {
	margin-top: 0 !important;
	margin-right: 0 !important;
}
.wrapper__216eb,
.wrapper__216eb .tree__7a511 {
	padding: 0 !important;
	border: 0 !important;
}
.wrapper__216eb.hidden__7c832,
.wrapper__216eb[style*="width: 0px"] {
	width: 0 !important;
}
.wrapper__216eb .scroller_de945b {
	padding: 0 0 calc(10px * var(--guildsize_v)/50) calc(10px * var(--guildsize_v)/50) !important;
	border: 0 !important;
}
.wrapper__216eb .scroller_de945b.none__7a473::-webkit-scrollbar,
.wrapper__216eb .scroller_de945b.none_ff9f86::-webkit-scrollbar {
	width: 0 !important;
}
.wrapper__216eb .scroller_de945b,
.wrapper__216eb .scroller_de945b > [role="tree"],
.wrapper__216eb .listItem__48528 + div[aria-label]:not([class]) {
	margin: 0 !important;
	display: flex !important;
	flex-flow: row wrap !important;
	align-content: flex-start !important;
}
.wrapper__216eb .listItem__48528 {
	margin: calc(1px * var(--guildgap_v)) calc(1px * (12 * var(--guildsize_v)/50)) calc(1px * var(--guildgap_v)) 0 !important;
}
.wrapper__216eb #server-search {
	margin: calc(1px * var(--guildgap_v)) calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2)) !important;
}
.wrapper__216eb #server-search .pill-3YxEhL {
	display: none;
}
.wrapper__216eb .listItem__48528:first-child .listItemWrapper__3d465,	/*	home	*/ 
.wrapper__216eb .listItem__48528 .pill__66ac8 ~ div:not([className]) {	/*	fav		*/ 
	margin: 0 calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2)) calc(1px * var(--guildgap_v)) calc(1px * ((((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2))) !important;
}
.wrapper__216eb .listItem__48528:first-child .pill__357e7 ~ .listItemWrapper__3d465 {
	margin: 0 calc(1px * ((((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) * (1 - var(--aligndms_v)))) 0 calc(1px * (((0 * var(--aligndms_v)) + ((((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) * (1 - var(--aligndms_v)))))) !important;
}
.wrapper__216eb .blobContainer_c44493,
.wrapper__216eb .guildsError__32e67 {
	margin: 0 !important;
}
.wrapper__216eb .listItem__48528 {
	width: auto !important;
}
.wrapper__216eb .tutorialContainer__06412 {
	width: 100%;
}
.wrapper__216eb .placeholderMask__6629f,
.wrapper__216eb .svg__34dd4,
.wrapper__216eb .wrapper__9916c {
	height: calc(1px * var(--guildsize_v)) !important;
	width: calc(1px * var(--guildsize_v)) !important;
}
.wrapper__216eb .scroller_de945b > div[style*="height"]:not([class]) {
	height: calc(1px * var(--guildsize_v) * (58/50)) !important;
}
.wrapper__216eb .upperBadge__00ad0 .base__5ed84 {
	transform: translate(calc(1.5px * ((50 - var(--guildsize_v))/10)), calc(-1.5px * ((50 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper__216eb .upperLeftBadge_e35IpL .base__5ed84 {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize_v))/10)), calc(-1.5px * ((50 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper__216eb .lowerBadge_e89e22 .base__5ed84 {
	transform: translate(calc(1.5px * ((50 - var(--guildsize_v))/10)), calc(1.5px * ((50 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper__216eb .lowerLeftBadge_zr4T_9 .base__5ed84 {
	transform: translate(calc(-1.5px * ((50 - var(--guildsize_v))/10)), calc(1.5px * ((50 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper__216eb .wrapper_b4903b {
	top: calc(-5px * var(--guildsize_v)/50) !important;
	height: calc(1px * (var(--guildsize_v) + 10 * var(--guildsize_v)/50)) !important;
	transform: scale(calc(var(--guildsize_v)/50)) !important;
	transform-origin: 0 50% !important;
}
.wrapper__216eb .pill_d1140c,	/*	home	*/ 
.wrapper__216eb .pill__66ac8 {	/*	fav		*/ 
	left: calc(1px * ((((var(--guildsize_v) + 10 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) - 9)) !important;
}
.wrapper__216eb .pill__357e7 {	/*	dm		*/ 
	left: calc(1px * ((var(--aligndms_v) + ((((var(--guildsize_v) + 10 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) * (1 - var(--aligndms_v)))) - 8)) !important;
}
.wrapper__216eb .pill__6b31b,	/*	guild	*/ 
.wrapper__216eb .pill__13f64 {	/* 	button	*/
	left: calc(-10px * var(--guildsize_v)/50) !important;
}
.wrapper__216eb .guildSeparator__75928 {
	width: calc(1px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns_v) - (12 * var(--guildsize_v)/50))) !important;
	margin: calc(1px * (var(--guildsize_v)/10)) 0 !important;
	display: block !important;
}
.wrapper__216eb [role=tree] ~ .listItem__48528 .listItemWrapper__3d465,
.wrapper__216eb [role=tree] ~ * .listItem__48528 .listItemWrapper__3d465,
.wrapper__216eb .listItem__48528 + div[aria-label]:not([class]) ~ .listItem__48528 .listItemWrapper__3d465,
.wrapper__216eb .listItem__48528 + div[aria-label]:not([class]) ~ * .listItem__48528 .listItemWrapper__3d465 {
	margin: 0 !important;
}
.wrapper__216eb .guildsError__32e67 {
	height: calc(1px * var(--guildsize_v)) !important;
	width: calc(1px * var(--guildsize_v)) !important;
	font-size: calc(1px * (var(--guildsize_v)/4 + 7.5)) !important;
	line-height: calc(1px * (var(--guildsize_v)/4 + 6.5)) !important;
}
.wrapper__216eb #sort-button,
.wrapper__216eb #sort-button > div,
.wrapper__216eb .frame_oXWS21,
.wrapper__216eb .frame_oXWS21 .button_Jt-tIg {
	height: calc(1px * ((var(--guildsize_v)/5) + 10)) !important;
}
.wrapper__216eb .friendsOnline_2JkivW,
.wrapper__216eb .label_2wRs_g {
	display: flex !important;
	justify-content: center !important;
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 20 * (var(--guildsize_v)/50) + 14 * (var(--guildsize_v)/50) * (var(--columns_v) - 1) - (20 * var(--guildsize_v)/50) calc(10px * var(--guildsize_v)/50))) !important;
	margin: 0 !important;
	font-size: calc(1px * ((var(--guildsize_v)/8) + 3)) !important;
}
.wrapper__216eb #sort-button,
.wrapper__216eb .frame_oXWS21 {
	width: calc(1px * ((var(--guildsize_v)*4/5) + 12 * var(--guildsize_v)/50)) !important;
}
.wrapper__216eb #sort-button,
.wrapper__216eb .frame_oXWS21 {
	text-align: center !important;
	margin: calc(1px * var(--guildgap_v)) calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1) - ((var(--guildsize_v)*4/5) + 12 * var(--guildsize_v)/50) + var(--guildsize_v))/2)) calc(1px * var(--guildgap_v)) calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1) - ((var(--guildsize_v)*4/5) + 12 * var(--guildsize_v)/50) + var(--guildsize_v))/2)) !important;
}
.wrapper__216eb #sort-button > div,
.wrapper__216eb .frame_oXWS21 .innerFrame_8Hg64E,
.wrapper__216eb .frame_oXWS21 .button_Jt-tIg {
	white-space: pre !important;
	font-size: calc(1px * ((var(--guildsize_v)/8) + 5)) !important;
	line-height: calc(1px * ((var(--guildsize_v)/5) + 10)) !important;
}
.wrapper__216eb #sort-button > div,
.wrapper__216eb .frame_oXWS21 .innerFrame_8Hg64E,
.wrapper__216eb .frame_oXWS21 .button_Jt-tIg {
	width: 100% !important;
}

.wrapper__216eb .wrapper__832f2 {
	border-bottom: calc(1px * var(--guildgap_v)) solid transparent !important;
	margin: calc(1px * var(--guildgap_v)) calc(1px * (12 * var(--guildsize_v)/50)) auto 0 !important;
	width: calc(1px * var(--guildsize_v)) !important;
}
.wrapper__216eb .wrapper__832f2 > .listItem__48528 {
	margin: 0 !important;
}
.wrapper__216eb .wrapper__832f2 [role="group"] {
	overflow: visible !important;
	margin-left: -1px !important;
	margin-bottom: 0 !important;
	padding-left: 1px !important;
}
.wrapper__216eb .wrapper__832f2 [role="group"] .listItem__48528 {
	margin: 6px 0 !important;
}
.wrapper__216eb .wrapper__832f2 [role="group"] .listItem__48528:last-child {
	margin-bottom: 0 !important;
}
.wrapper__216eb .expandedFolderBackground_b1385f {
	width: calc(1px * var(--guildsize_v)) !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin-bottom: 0 !important;
}

/* SERVERFOLDERS */

.wrapper__216eb.content_Pph8t6 .scroller_de945b {
	padding-left: 0 !important;
}
.wrapper__216eb.content_Pph8t6 .wrapper__832f2 {
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 20 * (var(--guildsize_v)/50) + 14 * (var(--guildsize_v)/50) * (var(--columns_v) - 1))) !important;
}
.wrapper__216eb.content_Pph8t6 .wrapper__832f2 > .listItem__48528 {
	margin: calc(1px * var(--guildgap_v)) calc(5px * var(--guildsize_v)/50) calc(1px * var(--guildgap_v)) 0 !important;
}
.wrapper__216eb.content_Pph8t6 .wrapper__832f2 .expandedFolderBackground_b1385f {
	right: 0 !important;
	width: calc(100% - calc(5px * var(--guildsize_v)/50)) !important;
}
.wrapper__216eb.content_Pph8t6 .wrapper__832f2 [role="group"] {
	margin: 0 !important;
	padding: 0 calc(13px * var(--guildsize_v)/50) 0 calc(10px * var(--guildsize_v)/50) !important;
	display: flex !important;
	flex-flow: row wrap !important;
	justify-content: space-between !important;
}
.wrapper__216eb.content_Pph8t6 .wrapper__832f2 .expandedFolderBackground_b1385f ~ [role="group"] {
	padding-bottom: calc(8px * var(--guildsize_v)/50) !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
	right: 3px !important;
	top: calc(var(--guildsize_v) * 1px - 5px) !important;
	bottom: unset !important;
}

.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 56px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 112px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 168px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 224px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 280px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 336px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 392px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 448px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 504px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 560px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 616px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 672px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 728px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 784px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 840px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 896px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 952px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1008px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1064px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1120px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1176px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1232px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1288px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1344px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1400px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1456px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1512px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1568px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1624px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1680px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1736px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1792px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1848px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1904px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 1960px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2016px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2072px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2128px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2184px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2240px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2296px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2352px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2408px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2464px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2520px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2576px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2632px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2688px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2744px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2800px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2856px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2912px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 2968px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3024px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3080px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3136px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3192px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3248px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3304px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3360px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3416px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3472px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3528px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3584px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3640px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3696px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3752px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3808px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3864px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3920px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 3976px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4032px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4088px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4144px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4200px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4256px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4312px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4368px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4424px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4480px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4536px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4592px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4648px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4704px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4760px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4816px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4872px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4928px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 4984px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5040px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5096px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5152px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5208px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5264px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5320px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5376px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5432px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5488px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5544px;"],
.wrapper__216eb .wrapper__832f2 [role="group"][style="height: 5600px;"] {
	height: unset !important;
}
